<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rowell.sifa.mapper.monitoring.RemoveAlarmMapper">
  <resultMap id="BaseResultMap" type="com.rowell.sifa.pojo.monitoring.RemoveAlarm">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="DEL_MARK" jdbcType="DECIMAL" property="delMark" />
    <result column="NOTE" jdbcType="CLOB" property="note" />
    <result column="CULPRIT_ID" jdbcType="VARCHAR" property="culpritId" />
    <result column="CREATED" jdbcType="TIMESTAMP" property="created" />
    <result column="UPDATED" jdbcType="TIMESTAMP" property="updated" />
    <result column="UPDATER" jdbcType="VARCHAR" property="updater" />
    <result column="CREATER" jdbcType="VARCHAR" property="creater" />
    <result column="ACCOUNT_ID" jdbcType="VARCHAR" property="accountId" />
    <result column="DEL_FLAG" jdbcType="DECIMAL" property="delFlag" />
    <result column="TERMINAL_HIS_ID" jdbcType="VARCHAR" property="terminalHisId" />
	<result column="CULPRITNAME" jdbcType="VARCHAR" property="culpritName" />
	<result column="GROUPNAME" jdbcType="VARCHAR" property="groupName" />
	<result column="GROUPID" jdbcType="VARCHAR" property="groupId" />
	<result column="LON" jdbcType="VARCHAR" property="lon" />
	<result column="LAT" jdbcType="VARCHAR" property="lat" />
	<result column="LOCATION" jdbcType="VARCHAR" property="location" />
	<result column="GPSTIME" jdbcType="TIMESTAMP" property="gpsTime" />
  </resultMap>
  <sql id="Base_Column_List">
    t.ID, t.DEL_MARK, t.NOTE, t.CULPRIT_ID, t.CREATED, t.UPDATED, t.UPDATER, t.CREATER, t.ACCOUNT_ID, t.DEL_FLAG, 
    t.TERMINAL_HIS_ID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />,c.name as culpritName,g.name as groupName,g.id as groupId,
	th.lon as lon,th.lat as lat, th.location as location, th.gpstime as gpstime 
    from SF_REMOVE_ALARM t
	left join SF_CULPRIT c on t.culprit_Id = c.id 
	left join SYS_GROUP g on c.group_id = g.id 
	left join sf_terminal_his th on th.id = t.terminal_His_Id 
    where t.ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from SF_REMOVE_ALARM
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.rowell.sifa.pojo.monitoring.RemoveAlarm">
    insert into SF_REMOVE_ALARM (ID, DEL_MARK, NOTE, 
      CULPRIT_ID, CREATED, UPDATED, 
      UPDATER, CREATER, ACCOUNT_ID, 
      DEL_FLAG, TERMINAL_HIS_ID)
    values (#{id,jdbcType=VARCHAR}, #{delMark,jdbcType=DECIMAL}, #{note,jdbcType=CLOB}, 
      #{culpritId,jdbcType=VARCHAR}, #{created,jdbcType=TIMESTAMP}, #{updated,jdbcType=TIMESTAMP}, 
      #{updater,jdbcType=VARCHAR}, #{creater,jdbcType=VARCHAR}, #{accountId,jdbcType=VARCHAR}, 
      #{delFlag,jdbcType=DECIMAL}, #{terminalHisId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.rowell.sifa.pojo.monitoring.RemoveAlarm">
    insert into SF_REMOVE_ALARM
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="delMark != null">
        DEL_MARK,
      </if>
      <if test="note != null">
        NOTE,
      </if>
      <if test="culpritId != null">
        CULPRIT_ID,
      </if>
      <if test="created != null">
        CREATED,
      </if>
      <if test="updated != null">
        UPDATED,
      </if>
      <if test="updater != null">
        UPDATER,
      </if>
      <if test="creater != null">
        CREATER,
      </if>
      <if test="accountId != null">
        ACCOUNT_ID,
      </if>
      <if test="delFlag != null">
        DEL_FLAG,
      </if>
      <if test="terminalHisId != null">
        TERMINAL_HIS_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="delMark != null">
        #{delMark,jdbcType=DECIMAL},
      </if>
      <if test="note != null">
        #{note,jdbcType=CLOB},
      </if>
      <if test="culpritId != null">
        #{culpritId,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updated != null">
        #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        #{updater,jdbcType=VARCHAR},
      </if>
      <if test="creater != null">
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="accountId != null">
        #{accountId,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=DECIMAL},
      </if>
      <if test="terminalHisId != null">
        #{terminalHisId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rowell.sifa.pojo.monitoring.RemoveAlarm">
    update SF_REMOVE_ALARM
    <set>
      <if test="delMark != null">
        DEL_MARK = #{delMark,jdbcType=DECIMAL},
      </if>
      <if test="note != null">
        NOTE = #{note,jdbcType=CLOB},
      </if>
      <if test="culpritId != null">
        CULPRIT_ID = #{culpritId,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        CREATED = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updated != null">
        UPDATED = #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        UPDATER = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="creater != null">
        CREATER = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="accountId != null">
        ACCOUNT_ID = #{accountId,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        DEL_FLAG = #{delFlag,jdbcType=DECIMAL},
      </if>
      <if test="terminalHisId != null">
        TERMINAL_HIS_ID = #{terminalHisId,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rowell.sifa.pojo.monitoring.RemoveAlarm">
    update SF_REMOVE_ALARM
    set DEL_MARK = #{delMark,jdbcType=DECIMAL},
      NOTE = #{note,jdbcType=CLOB},
      CULPRIT_ID = #{culpritId,jdbcType=VARCHAR},
      CREATED = #{created,jdbcType=TIMESTAMP},
      UPDATED = #{updated,jdbcType=TIMESTAMP},
      UPDATER = #{updater,jdbcType=VARCHAR},
      CREATER = #{creater,jdbcType=VARCHAR},
      ACCOUNT_ID = #{accountId,jdbcType=VARCHAR},
      DEL_FLAG = #{delFlag,jdbcType=DECIMAL},
      TERMINAL_HIS_ID = #{terminalHisId,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectAllByRowone" parameterType="com.rowell.sifa.pojo.monitoring.RemoveAlarm"
		resultMap="BaseResultMap">
		select 
		<include refid="Base_Column_List" />,c.name as culpritName,g.name as groupName,g.id as groupId, 
		th.lon as lon,th.lat as lat, th.location as location, th.gpstime as gpstime 
		from 
		(select ROW_NUMBER() OVER(partition by oa.culprit_id order by oa.created desc) as RN,oa.* from SF_REMOVE_ALARM oa) t
		left join SF_CULPRIT c on t.culprit_Id = c.id 
		left join SYS_GROUP g on c.group_id = g.id 
		left join sf_terminal_his th on th.id = t.terminal_His_Id 
		<where>
			t.rn =1
			<include refid="findAllWhere" />
		</where>
		<if test="orderStr!=null">
      	<![CDATA[
           order by  ${orderStr}
      	]]>
		</if>
  </select>
  <select id="selectAll" parameterType="com.rowell.sifa.pojo.monitoring.RemoveAlarm" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />,c.name as culpritName,g.name as groupName,g.id as groupId, 
	th.lon as lon,th.lat as lat, th.location as location, th.gpstime as gpstime 
    from SF_REMOVE_ALARM t
	left join SF_CULPRIT c on t.culprit_Id = c.id 
	left join SYS_GROUP g on c.group_id = g.id 
	left join sf_terminal_his th on th.id = t.terminal_His_Id 
    <where>
      <include refid="findAllWhere" />
    </where>
    <if test="orderStr!=null">
      <![CDATA[
           order by  ${orderStr}
      ]]>
    </if>
  </select>
  <sql id="findAllWhere">
 	<if test="groupId != null and groupId != ''">
		 <![CDATA[  
	     	 AND  exists ( select t2.id from (select * from sys_group start with id= #{groupId,jdbcType=VARCHAR} connect by prior id = parent_id) t2 where c.GROUP_ID=t2.id)
	     ]]> 
	</if>
    <if test="delMark != null">
      AND t.DEL_MARK = #{delMark,jdbcType=DECIMAL}
    </if>
    <if test="note != null and note!=''">
      AND t.NOTE = #{note,jdbcType=CLOB}
    </if>
	<if test="location != null and location != ''">
		AND	th.location like '%'||#{location,jdbcType=VARCHAR}||'%'
	</if>
	<if test="culpritName != null and culpritName != ''">
		AND	c.name like '%'||#{culpritName,jdbcType=VARCHAR}||'%'
	</if>
    <if test="culpritId != null and culpritId!=''">
      AND t.CULPRIT_ID = #{culpritId,jdbcType=VARCHAR}
    </if>
    <if test="created != null">
      AND t.CREATED = #{created,jdbcType=TIMESTAMP}
    </if>
    <if test="updated != null">
      AND t.UPDATED = #{updated,jdbcType=TIMESTAMP}
    </if>
    <if test="updater != null and updater!=''">
      AND t.UPDATER = #{updater,jdbcType=VARCHAR}
    </if>
    <if test="creater != null and creater!=''">
      AND t.CREATER = #{creater,jdbcType=VARCHAR}
    </if>
    <if test="accountId != null and accountId!=''">
      AND t.ACCOUNT_ID = #{accountId,jdbcType=VARCHAR}
    </if>
    <if test="delFlag != null">
      AND t.DEL_FLAG = #{delFlag,jdbcType=DECIMAL}
    </if>
    <if test="terminalHisId != null and terminalHisId!=''">
      AND t.TERMINAL_HIS_ID = #{terminalHisId,jdbcType=VARCHAR}
    </if>
    <if test="searchStartDate != null and searchStartDate != ''">
      	AND t.CREATED <![CDATA[ >= ]]> #{searchStartDate,jdbcType=TIMESTAMP}
    </if>
    <if test="searchEndDate != null and searchEndDate != ''">
      	AND t.CREATED <![CDATA[ <= ]]> #{searchEndDate,jdbcType=TIMESTAMP}
    </if>
  </sql>
</mapper>