<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rowell.sifa.mapper.culpritinfo.CulpritFamilyMapper">
  <resultMap id="BaseResultMap" type="com.rowell.sifa.pojo.culpritinfo.CulpritFamily">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="DIC_RELATION_KEY" jdbcType="VARCHAR" property="dicRelationKey" />
    <result column="BIRTHDAY" jdbcType="VARCHAR" property="birthday" />
    <result column="ORG" jdbcType="VARCHAR" property="org" />
    <result column="JOB" jdbcType="VARCHAR" property="job" />
    <result column="PHONE" jdbcType="VARCHAR" property="phone" />
    <result column="ADDRESS" jdbcType="VARCHAR" property="address" />
    <result column="NOTE" jdbcType="CLOB" property="note" />
    <result column="CULPRIT_ID" jdbcType="VARCHAR" property="culpritId" />
    <result column="PATH" jdbcType="VARCHAR" property="path" />
    <result column="DIC_SEX_KEY" jdbcType="VARCHAR" property="dicSexKey" />
    <result column="dic_zzmm_key" jdbcType="VARCHAR" property="dicZzmmKey" />
    <result column="CREATED" jdbcType="TIMESTAMP" property="created" />
    <result column="CREATER" jdbcType="VARCHAR" property="creater" />
    <result column="UPDATED" jdbcType="TIMESTAMP" property="updated" />
    <result column="UPDATER" jdbcType="VARCHAR" property="updater" />
    <result column="DEL_FLAG" jdbcType="DECIMAL" property="delFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, NAME, DIC_RELATION_KEY, BIRTHDAY, ORG, JOB, PHONE, ADDRESS, NOTE, CULPRIT_ID, 
    PATH, DIC_SEX_KEY, dic_zzmm_key, CREATED, CREATER, UPDATED, UPDATER, DEL_FLAG
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SF_CULPRIT_FAMILY
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from SF_CULPRIT_FAMILY
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.rowell.sifa.pojo.culpritinfo.CulpritFamily">
    insert into SF_CULPRIT_FAMILY (ID, NAME, DIC_RELATION_KEY, 
      BIRTHDAY, ORG, JOB, 
      PHONE, ADDRESS, NOTE, 
      CULPRIT_ID, PATH, DIC_SEX_KEY, 
      dic_zzmm_key, CREATED, CREATER, 
      UPDATED, UPDATER, DEL_FLAG
      )
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{dicRelationKey,jdbcType=VARCHAR}, 
      #{birthday,jdbcType=VARCHAR}, #{org,jdbcType=VARCHAR}, #{job,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{note,jdbcType=CLOB}, 
      #{culpritId,jdbcType=VARCHAR}, #{path,jdbcType=VARCHAR}, #{dicSexKey,jdbcType=VARCHAR}, 
      #{dicZzmmKey,jdbcType=VARCHAR}, #{created,jdbcType=TIMESTAMP}, #{creater,jdbcType=VARCHAR}, 
      #{updated,jdbcType=TIMESTAMP}, #{updater,jdbcType=VARCHAR}, #{delFlag,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.rowell.sifa.pojo.culpritinfo.CulpritFamily">
    insert into SF_CULPRIT_FAMILY
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="dicRelationKey != null">
        DIC_RELATION_KEY,
      </if>
      <if test="birthday != null">
        BIRTHDAY,
      </if>
      <if test="org != null">
        ORG,
      </if>
      <if test="job != null">
        JOB,
      </if>
      <if test="phone != null">
        PHONE,
      </if>
      <if test="address != null">
        ADDRESS,
      </if>
      <if test="note != null">
        NOTE,
      </if>
      <if test="culpritId != null">
        CULPRIT_ID,
      </if>
      <if test="path != null">
        PATH,
      </if>
      <if test="dicSexKey != null">
        DIC_SEX_KEY,
      </if>
      <if test="dicZzmmKey != null">
        dic_zzmm_key,
      </if>
      <if test="created != null">
        CREATED,
      </if>
      <if test="creater != null">
        CREATER,
      </if>
      <if test="updated != null">
        UPDATED,
      </if>
      <if test="updater != null">
        UPDATER,
      </if>
      <if test="delFlag != null">
        DEL_FLAG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="dicRelationKey != null">
        #{dicRelationKey,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="org != null">
        #{org,jdbcType=VARCHAR},
      </if>
      <if test="job != null">
        #{job,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        #{note,jdbcType=CLOB},
      </if>
      <if test="culpritId != null">
        #{culpritId,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="dicSexKey != null">
        #{dicSexKey,jdbcType=VARCHAR},
      </if>
      <if test="dicZzmmKey != null">
        #{dicZzmmKey,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="creater != null">
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="updated != null">
        #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        #{updater,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rowell.sifa.pojo.culpritinfo.CulpritFamily">
    update SF_CULPRIT_FAMILY
    <set>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="dicRelationKey != null">
        DIC_RELATION_KEY = #{dicRelationKey,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        BIRTHDAY = #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="org != null">
        ORG = #{org,jdbcType=VARCHAR},
      </if>
      <if test="job != null">
        JOB = #{job,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        PHONE = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        NOTE = #{note,jdbcType=CLOB},
      </if>
      <if test="culpritId != null">
        CULPRIT_ID = #{culpritId,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        PATH = #{path,jdbcType=VARCHAR},
      </if>
      <if test="dicSexKey != null">
        DIC_SEX_KEY = #{dicSexKey,jdbcType=VARCHAR},
      </if>
      <if test="dicZzmmKey != null">
        dic_zzmm_key = #{dicZzmmKey,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        CREATED = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="creater != null">
        CREATER = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="updated != null">
        UPDATED = #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        UPDATER = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        DEL_FLAG = #{delFlag,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rowell.sifa.pojo.culpritinfo.CulpritFamily">
    update SF_CULPRIT_FAMILY
    set NAME = #{name,jdbcType=VARCHAR},
      DIC_RELATION_KEY = #{dicRelationKey,jdbcType=VARCHAR},
      BIRTHDAY = #{birthday,jdbcType=VARCHAR},
      ORG = #{org,jdbcType=VARCHAR},
      JOB = #{job,jdbcType=VARCHAR},
      PHONE = #{phone,jdbcType=VARCHAR},
      ADDRESS = #{address,jdbcType=VARCHAR},
      NOTE = #{note,jdbcType=CLOB},
      CULPRIT_ID = #{culpritId,jdbcType=VARCHAR},
      PATH = #{path,jdbcType=VARCHAR},
      DIC_SEX_KEY = #{dicSexKey,jdbcType=VARCHAR},
      dic_zzmm_key = #{dicZzmmKey,jdbcType=VARCHAR},
      CREATED = #{created,jdbcType=TIMESTAMP},
      CREATER = #{creater,jdbcType=VARCHAR},
      UPDATED = #{updated,jdbcType=TIMESTAMP},
      UPDATER = #{updater,jdbcType=VARCHAR},
      DEL_FLAG = #{delFlag,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectAll" parameterType="com.rowell.sifa.pojo.culpritinfo.CulpritFamily" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SF_CULPRIT_FAMILY t
    <where>
      <include refid="findAllWhere" />
    </where>
    <if test="orderStr!=null">
      <![CDATA[
           order by  ${orderStr}
      ]]>
    </if>
  </select>
  <sql id="findAllWhere">
    <if test="name != null and name!=''">
      AND NAME = #{name,jdbcType=VARCHAR}
    </if>
    <if test="dicRelationKey != null and dicRelationKey!=''">
      AND DIC_RELATION_KEY = #{dicRelationKey,jdbcType=VARCHAR}
    </if>
    <if test="birthday != null and birthday!=''">
      AND BIRTHDAY = #{birthday,jdbcType=VARCHAR}
    </if>
    <if test="org != null and org!=''">
      AND ORG = #{org,jdbcType=VARCHAR}
    </if>
    <if test="job != null and job!=''">
      AND JOB = #{job,jdbcType=VARCHAR}
    </if>
    <if test="phone != null and phone!=''">
      AND PHONE = #{phone,jdbcType=VARCHAR}
    </if>
    <if test="address != null and address!=''">
      AND ADDRESS = #{address,jdbcType=VARCHAR}
    </if>
    <if test="note != null and note!=''">
      AND NOTE = #{note,jdbcType=CLOB}
    </if>
    <if test="culpritId != null and culpritId!=''">
      AND CULPRIT_ID = #{culpritId,jdbcType=VARCHAR}
    </if>
    <if test="path != null and path!=''">
      AND PATH = #{path,jdbcType=VARCHAR}
    </if>
    <if test="dicSexKey != null and dicSexKey!=''">
      AND DIC_SEX_KEY = #{dicSexKey,jdbcType=VARCHAR}
    </if>
    <if test="dicZzmmKey != null and dicZzmmKey!=''">
      AND dic_zzmm_key = #{dicZzmmKey,jdbcType=VARCHAR}
    </if>
    <if test="created != null">
      AND CREATED = #{created,jdbcType=TIMESTAMP}
    </if>
    <if test="creater != null and creater!=''">
      AND CREATER = #{creater,jdbcType=VARCHAR}
    </if>
    <if test="updated != null">
      AND UPDATED = #{updated,jdbcType=TIMESTAMP}
    </if>
    <if test="updater != null and updater!=''">
      AND UPDATER = #{updater,jdbcType=VARCHAR}
    </if>
    <if test="delFlag != null">
      AND DEL_FLAG = #{delFlag,jdbcType=DECIMAL}
    </if>
  </sql>
</mapper>