<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rowell.sifa.mapper.sys.SysLogMapper">
  <resultMap id="BaseResultMap" type="com.rowell.sifa.pojo.sys.SysLog">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="TYPE" jdbcType="VARCHAR" property="type" />
    <result column="TITLE" jdbcType="VARCHAR" property="title" />
     <result column="CREATED" jdbcType="TIMESTAMP" property="created" />
    <result column="CREATER" jdbcType="VARCHAR" property="creater" />
    <result column="REMOTE_ADDR" jdbcType="VARCHAR" property="remoteAddr" />
    <result column="REQUEST_URI" jdbcType="VARCHAR" property="requestUri" />
    <result column="METHOD" jdbcType="VARCHAR" property="method" />
    <result column="USER_AGENT" jdbcType="VARCHAR" property="userAgent" />
    <result column="PARAMS" jdbcType="VARCHAR" property="params" />
    <result column="EXCEPTION" jdbcType="VARCHAR" property="exception" />
    <result column="creater_cn_name" jdbcType="VARCHAR" property="createrCnName" />
  </resultMap>
  <sql id="Base_Column_List">
    t1.ID,  t1.TYPE,  t1.TITLE,  t1.CREATER,  t1.CREATED,  t1.REMOTE_ADDR,  t1.REQUEST_URI,  t1.METHOD,  t1.USER_AGENT, 
     t1.PARAMS,  t1.EXCEPTION
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />,t2.accountname as creater_cn_name
    from SYS_LOG t1 left join SYS_ACCOUNT t2 on (t2.id=t1.creater)
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  
   <select id="selectAll" parameterType="com.rowell.sifa.pojo.sys.SysLog"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />,t2.accountname as creater_cn_name
		from SYS_LOG t1 left join SYS_ACCOUNT t2 on (t2.id=t1.creater)
		<where>
			<include refid="findAllWhere" />
		</where>
		<if test="orderStr!=null">
			<![CDATA[
					order by ${orderStr}
				]]>
		</if>
	</select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from SYS_LOG
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.rowell.sifa.pojo.sys.SysLog">
    insert into SYS_LOG (ID, TYPE, TITLE, 
      creater, CREATED, REMOTE_ADDR, 
      REQUEST_URI, METHOD, USER_AGENT, 
      PARAMS, EXCEPTION)
    values (#{id,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{creater,jdbcType=VARCHAR}, #{created,jdbcType=TIMESTAMP}, #{remoteAddr,jdbcType=VARCHAR}, 
      #{requestUri,jdbcType=VARCHAR}, #{method,jdbcType=VARCHAR}, #{userAgent,jdbcType=VARCHAR}, 
      #{params,jdbcType=VARCHAR}, #{exception,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.rowell.sifa.pojo.sys.SysLog">
    insert into SYS_LOG
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="title != null">
        TITLE,
      </if>
      <if test="creater != null">
        creater,
      </if>
      <if test="created != null">
        CREATED,
      </if>
      <if test="remoteAddr != null">
        REMOTE_ADDR,
      </if>
      <if test="requestUri != null">
        REQUEST_URI,
      </if>
      <if test="method != null">
        METHOD,
      </if>
      <if test="userAgent != null">
        USER_AGENT,
      </if>
      <if test="params != null">
        PARAMS,
      </if>
      <if test="exception != null">
        EXCEPTION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="creater != null">
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="remoteAddr != null">
        #{remoteAddr,jdbcType=VARCHAR},
      </if>
      <if test="requestUri != null">
        #{requestUri,jdbcType=VARCHAR},
      </if>
      <if test="method != null">
        #{method,jdbcType=VARCHAR},
      </if>
      <if test="userAgent != null">
        #{userAgent,jdbcType=VARCHAR},
      </if>
      <if test="params != null">
        #{params,jdbcType=VARCHAR},
      </if>
      <if test="exception != null">
        #{exception,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rowell.sifa.pojo.sys.SysLog">
    update SYS_LOG
    <set>
      <if test="type != null">
        TYPE = #{type,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        TITLE = #{title,jdbcType=VARCHAR},
      </if>
      <if test="creater != null">
        creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        CREATED = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="remoteAddr != null">
        REMOTE_ADDR = #{remoteAddr,jdbcType=VARCHAR},
      </if>
      <if test="requestUri != null">
        REQUEST_URI = #{requestUri,jdbcType=VARCHAR},
      </if>
      <if test="method != null">
        METHOD = #{method,jdbcType=VARCHAR},
      </if>
      <if test="userAgent != null">
        USER_AGENT = #{userAgent,jdbcType=VARCHAR},
      </if>
      <if test="params != null">
        PARAMS = #{params,jdbcType=VARCHAR},
      </if>
      <if test="exception != null">
        EXCEPTION = #{exception,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rowell.sifa.pojo.sys.SysLog">
    update SYS_LOG
    set TYPE = #{type,jdbcType=VARCHAR},
      TITLE = #{title,jdbcType=VARCHAR},
      creater = #{creater,jdbcType=VARCHAR},
      CREATED = #{created,jdbcType=TIMESTAMP},
      REMOTE_ADDR = #{remoteAddr,jdbcType=VARCHAR},
      REQUEST_URI = #{requestUri,jdbcType=VARCHAR},
      METHOD = #{method,jdbcType=VARCHAR},
      USER_AGENT = #{userAgent,jdbcType=VARCHAR},
      PARAMS = #{params,jdbcType=VARCHAR},
      EXCEPTION = #{exception,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <!-- 通用where语句 -->
	<sql id="findAllWhere">
	     <if test="type != null and type!=''">
        AND  t1.TYPE = #{type,jdbcType=VARCHAR}
      </if>
      <if test="title != null and title!=''">
        AND  t1.TITLE = #{title,jdbcType=VARCHAR}
      </if>
      <if test="creater != null and creater!=''">
        AND  (t1.creater = #{creater,jdbcType=VARCHAR} or t1.accountname = #{creater,jdbcType=VARCHAR})
      </if>
      <if test="created != null">
        AND  t1.CREATED = #{created,jdbcType=TIMESTAMP}
      </if>
      <if test="remoteAddr != null and remoteAddr!=''">
        AND  t1.REMOTE_ADDR = #{remoteAddr,jdbcType=VARCHAR}
      </if>
      <if test="requestUri != null and requestUri!=''">
        AND  t1.REQUEST_URI = #{requestUri,jdbcType=VARCHAR}
      </if>
      <if test="method != null and method!=''">
        AND  t1.METHOD = #{method,jdbcType=VARCHAR}
      </if>
      <if test="userAgent != null">
       AND   t1.USER_AGENT = #{userAgent,jdbcType=VARCHAR}
      </if>
      <if test="params != null and params!=''">
        AND  t1.PARAMS = #{params,jdbcType=VARCHAR}
      </if>
      <if test="exception != null">
        AND  t1.EXCEPTION = #{exception,jdbcType=VARCHAR}
      </if>
	</sql>
</mapper>