<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rowell.sifa.mapper.sys.SysPersonMapper">
	<cache type="org.mybatis.caches.ehcache.EhcacheCache"/>
  <resultMap id="BaseResultMap" type="com.rowell.sifa.pojo.sys.SysPerson">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="GROUP_ID" jdbcType="VARCHAR" property="groupId" />
    <result column="DIC_RYBZ_KEY" jdbcType="VARCHAR" property="dicRybzKey" />
    <result column="DIC_XL_KEY" jdbcType="VARCHAR" property="dicXlKey" />
    <result column="DIC_HYZK_KEY" jdbcType="VARCHAR" property="dicHyzkKey" />
    <result column="DIC_SEX_KEY" jdbcType="VARCHAR" property="dicSexKey" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="ADDRESS" jdbcType="VARCHAR" property="address" />
    <result column="MOBILE" jdbcType="VARCHAR" property="mobile" />
    <result column="PHONE" jdbcType="VARCHAR" property="phone" />
    <result column="JOB" jdbcType="VARCHAR" property="job" />
    <result column="IS_SMS" jdbcType="DECIMAL" property="isSms" />
    <result column="RYBM" jdbcType="VARCHAR" property="rybm" />
    <result column="CSRQ" jdbcType="TIMESTAMP" property="csrq" />
    <result column="YWM" jdbcType="VARCHAR" property="ywm" />
    <result column="SFZH" jdbcType="VARCHAR" property="sfzh" />
    <result column="MZ" jdbcType="VARCHAR" property="mz" />
    <result column="DIC_ZZMM_KEY" jdbcType="VARCHAR" property="dicZzmmKey" />
    <result column="ZP" jdbcType="CLOB" property="zp" />
    <result column="BYYX" jdbcType="VARCHAR" property="byyx" />
    <result column="ZGXW" jdbcType="VARCHAR" property="zgxw" />
    <result column="ZY" jdbcType="VARCHAR" property="zy" />
    <result column="ZW" jdbcType="VARCHAR" property="zw" />
    <result column="CJGZSJ" jdbcType="TIMESTAMP" property="cjgzsj" />
    <result column="DZYX" jdbcType="VARCHAR" property="dzyx" />
    <result column="CREATED" jdbcType="TIMESTAMP" property="created" />
    <result column="CREATER" jdbcType="VARCHAR" property="creater" />
    <result column="UPDATED" jdbcType="TIMESTAMP" property="updated" />
    <result column="UPDATER" jdbcType="VARCHAR" property="updater" />
    <result column="DEL_FLAG" jdbcType="DECIMAL" property="delFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, GROUP_ID, DIC_RYBZ_KEY, DIC_XL_KEY, DIC_HYZK_KEY, DIC_SEX_KEY, NAME, ADDRESS, 
    MOBILE, PHONE, JOB, IS_SMS, RYBM, CSRQ, YWM, SFZH, MZ, DIC_ZZMM_KEY, ZP, BYYX, ZGXW, 
    ZY, ZW, CJGZSJ, DZYX, CREATED, CREATER, UPDATED, UPDATER, DEL_FLAG
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SYS_PERSON
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from SYS_PERSON
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.rowell.sifa.pojo.sys.SysPerson">
    insert into SYS_PERSON (ID, GROUP_ID, DIC_RYBZ_KEY, 
      DIC_XL_KEY, DIC_HYZK_KEY, DIC_SEX_KEY, 
      NAME, ADDRESS, MOBILE, 
      PHONE, JOB, IS_SMS, 
      RYBM, CSRQ, YWM, 
      SFZH, MZ, DIC_ZZMM_KEY, 
      ZP, BYYX, ZGXW, ZY, 
      ZW, CJGZSJ, DZYX, 
      CREATED, CREATER, UPDATED, 
      UPDATER, DEL_FLAG)
    values (#{id,jdbcType=VARCHAR}, #{groupId,jdbcType=VARCHAR}, #{dicRybzKey,jdbcType=VARCHAR}, 
      #{dicXlKey,jdbcType=VARCHAR}, #{dicHyzkKey,jdbcType=VARCHAR}, #{dicSexKey,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{job,jdbcType=VARCHAR}, #{isSms,jdbcType=DECIMAL}, 
      #{rybm,jdbcType=VARCHAR}, #{csrq,jdbcType=TIMESTAMP}, #{ywm,jdbcType=VARCHAR}, 
      #{sfzh,jdbcType=VARCHAR}, #{mz,jdbcType=VARCHAR}, #{dicZzmmKey,jdbcType=VARCHAR}, 
      #{zp,jdbcType=CLOB}, #{byyx,jdbcType=VARCHAR}, #{zgxw,jdbcType=VARCHAR}, #{zy,jdbcType=VARCHAR}, 
      #{zw,jdbcType=VARCHAR}, #{cjgzsj,jdbcType=TIMESTAMP}, #{dzyx,jdbcType=VARCHAR}, 
      #{created,jdbcType=TIMESTAMP}, #{creater,jdbcType=VARCHAR}, #{updated,jdbcType=TIMESTAMP}, 
      #{updater,jdbcType=VARCHAR}, #{delFlag,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.rowell.sifa.pojo.sys.SysPerson">
    insert into SYS_PERSON
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="groupId != null">
        GROUP_ID,
      </if>
      <if test="dicRybzKey != null">
        DIC_RYBZ_KEY,
      </if>
      <if test="dicXlKey != null">
        DIC_XL_KEY,
      </if>
      <if test="dicHyzkKey != null">
        DIC_HYZK_KEY,
      </if>
      <if test="dicSexKey != null">
        DIC_SEX_KEY,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="address != null">
        ADDRESS,
      </if>
      <if test="mobile != null">
        MOBILE,
      </if>
      <if test="phone != null">
        PHONE,
      </if>
      <if test="job != null">
        JOB,
      </if>
      <if test="isSms != null">
        IS_SMS,
      </if>
      <if test="rybm != null">
        RYBM,
      </if>
      <if test="csrq != null">
        CSRQ,
      </if>
      <if test="ywm != null">
        YWM,
      </if>
      <if test="sfzh != null">
        SFZH,
      </if>
      <if test="mz != null">
        MZ,
      </if>
      <if test="dicZzmmKey != null">
        DIC_ZZMM_KEY,
      </if>
      <if test="zp != null">
        ZP,
      </if>
      <if test="byyx != null">
        BYYX,
      </if>
      <if test="zgxw != null">
        ZGXW,
      </if>
      <if test="zy != null">
        ZY,
      </if>
      <if test="zw != null">
        ZW,
      </if>
      <if test="cjgzsj != null">
        CJGZSJ,
      </if>
      <if test="dzyx != null">
        DZYX,
      </if>
      <if test="created != null">
        CREATED,
      </if>
      <if test="creater != null">
        CREATER,
      </if>
      <if test="updated != null">
        UPDATED,
      </if>
      <if test="updater != null">
        UPDATER,
      </if>
      <if test="delFlag != null">
        DEL_FLAG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="groupId != null">
        #{groupId,jdbcType=VARCHAR},
      </if>
      <if test="dicRybzKey != null">
        #{dicRybzKey,jdbcType=VARCHAR},
      </if>
      <if test="dicXlKey != null">
        #{dicXlKey,jdbcType=VARCHAR},
      </if>
      <if test="dicHyzkKey != null">
        #{dicHyzkKey,jdbcType=VARCHAR},
      </if>
      <if test="dicSexKey != null">
        #{dicSexKey,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="job != null">
        #{job,jdbcType=VARCHAR},
      </if>
      <if test="isSms != null">
        #{isSms,jdbcType=DECIMAL},
      </if>
      <if test="rybm != null">
        #{rybm,jdbcType=VARCHAR},
      </if>
      <if test="csrq != null">
        #{csrq,jdbcType=TIMESTAMP},
      </if>
      <if test="ywm != null">
        #{ywm,jdbcType=VARCHAR},
      </if>
      <if test="sfzh != null">
        #{sfzh,jdbcType=VARCHAR},
      </if>
      <if test="mz != null">
        #{mz,jdbcType=VARCHAR},
      </if>
      <if test="dicZzmmKey != null">
        #{dicZzmmKey,jdbcType=VARCHAR},
      </if>
      <if test="zp != null">
        #{zp,jdbcType=CLOB},
      </if>
      <if test="byyx != null">
        #{byyx,jdbcType=VARCHAR},
      </if>
      <if test="zgxw != null">
        #{zgxw,jdbcType=VARCHAR},
      </if>
      <if test="zy != null">
        #{zy,jdbcType=VARCHAR},
      </if>
      <if test="zw != null">
        #{zw,jdbcType=VARCHAR},
      </if>
      <if test="cjgzsj != null">
        #{cjgzsj,jdbcType=TIMESTAMP},
      </if>
      <if test="dzyx != null">
        #{dzyx,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="creater != null">
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="updated != null">
        #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        #{updater,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rowell.sifa.pojo.sys.SysPerson">
    update SYS_PERSON
    <set>
      <if test="groupId != null">
        GROUP_ID = #{groupId,jdbcType=VARCHAR},
      </if>
      <if test="dicRybzKey != null">
        DIC_RYBZ_KEY = #{dicRybzKey,jdbcType=VARCHAR},
      </if>
      <if test="dicXlKey != null">
        DIC_XL_KEY = #{dicXlKey,jdbcType=VARCHAR},
      </if>
      <if test="dicHyzkKey != null">
        DIC_HYZK_KEY = #{dicHyzkKey,jdbcType=VARCHAR},
      </if>
      <if test="dicSexKey != null">
        DIC_SEX_KEY = #{dicSexKey,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        MOBILE = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        PHONE = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="job != null">
        JOB = #{job,jdbcType=VARCHAR},
      </if>
      <if test="isSms != null">
        IS_SMS = #{isSms,jdbcType=DECIMAL},
      </if>
      <if test="rybm != null">
        RYBM = #{rybm,jdbcType=VARCHAR},
      </if>
      <if test="csrq != null">
        CSRQ = #{csrq,jdbcType=TIMESTAMP},
      </if>
      <if test="ywm != null">
        YWM = #{ywm,jdbcType=VARCHAR},
      </if>
      <if test="sfzh != null">
        SFZH = #{sfzh,jdbcType=VARCHAR},
      </if>
      <if test="mz != null">
        MZ = #{mz,jdbcType=VARCHAR},
      </if>
      <if test="dicZzmmKey != null">
        DIC_ZZMM_KEY = #{dicZzmmKey,jdbcType=VARCHAR},
      </if>
      <if test="zp != null">
        ZP = #{zp,jdbcType=CLOB},
      </if>
      <if test="byyx != null">
        BYYX = #{byyx,jdbcType=VARCHAR},
      </if>
      <if test="zgxw != null">
        ZGXW = #{zgxw,jdbcType=VARCHAR},
      </if>
      <if test="zy != null">
        ZY = #{zy,jdbcType=VARCHAR},
      </if>
      <if test="zw != null">
        ZW = #{zw,jdbcType=VARCHAR},
      </if>
      <if test="cjgzsj != null">
        CJGZSJ = #{cjgzsj,jdbcType=TIMESTAMP},
      </if>
      <if test="dzyx != null">
        DZYX = #{dzyx,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        CREATED = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="creater != null">
        CREATER = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="updated != null">
        UPDATED = #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        UPDATER = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        DEL_FLAG = #{delFlag,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rowell.sifa.pojo.sys.SysPerson">
    update SYS_PERSON
    set GROUP_ID = #{groupId,jdbcType=VARCHAR},
      DIC_RYBZ_KEY = #{dicRybzKey,jdbcType=VARCHAR},
      DIC_XL_KEY = #{dicXlKey,jdbcType=VARCHAR},
      DIC_HYZK_KEY = #{dicHyzkKey,jdbcType=VARCHAR},
      DIC_SEX_KEY = #{dicSexKey,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      ADDRESS = #{address,jdbcType=VARCHAR},
      MOBILE = #{mobile,jdbcType=VARCHAR},
      PHONE = #{phone,jdbcType=VARCHAR},
      JOB = #{job,jdbcType=VARCHAR},
      IS_SMS = #{isSms,jdbcType=DECIMAL},
      RYBM = #{rybm,jdbcType=VARCHAR},
      CSRQ = #{csrq,jdbcType=TIMESTAMP},
      YWM = #{ywm,jdbcType=VARCHAR},
      SFZH = #{sfzh,jdbcType=VARCHAR},
      MZ = #{mz,jdbcType=VARCHAR},
      DIC_ZZMM_KEY = #{dicZzmmKey,jdbcType=VARCHAR},
      ZP = #{zp,jdbcType=CLOB},
      BYYX = #{byyx,jdbcType=VARCHAR},
      ZGXW = #{zgxw,jdbcType=VARCHAR},
      ZY = #{zy,jdbcType=VARCHAR},
      ZW = #{zw,jdbcType=VARCHAR},
      CJGZSJ = #{cjgzsj,jdbcType=TIMESTAMP},
      DZYX = #{dzyx,jdbcType=VARCHAR},
      CREATED = #{created,jdbcType=TIMESTAMP},
      CREATER = #{creater,jdbcType=VARCHAR},
      UPDATED = #{updated,jdbcType=TIMESTAMP},
      UPDATER = #{updater,jdbcType=VARCHAR},
      DEL_FLAG = #{delFlag,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <select id="findPersonByType" parameterType="com.rowell.sifa.pojo.sys.SysPerson" resultMap="BaseResultMap">
    select 
    t.ID, t.GROUP_ID, t.DIC_RYBZ_KEY, t.DIC_XL_KEY, t.DIC_HYZK_KEY, t.DIC_SEX_KEY, t.NAME, t.ADDRESS, 
    t.MOBILE, t.PHONE, t.JOB, t.IS_SMS, t.RYBM, t.CSRQ, t.YWM, t.SFZH, t.MZ, t.DIC_ZZMM_KEY, t.ZP, t.BYYX, t.ZGXW, 
    t.ZY, t.ZW, t.CJGZSJ, t.DZYX, t.CREATED, t.CREATER, t.UPDATED, t.UPDATER, t.DEL_FLAG
    from SYS_PERSON t left join sys_group g on g.id = t.id
    where t.group_id in (select id from sys_group start with id = #{groupId,jdbcType=VARCHAR} connect by prior id=parent_id)
    and t.dic_rybz_key=#{dicRybzKey,jdbcType=VARCHAR}  
    order by t.id asc
  </select>
  <select id="selectAll" parameterType="com.rowell.sifa.pojo.sys.SysPerson" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SYS_PERSON t1
    <where>
      <include refid="findAllWhere" />
    </where>
    <if test="orderStr!=null">
      <![CDATA[
           order by  ${orderStr}
      ]]>
    </if>
  </select>
  <sql id="findAllWhere">
     <if test="groupId != null and groupId!=''">
      AND  exists ( select g.id from (select * from sys_group  start with id= #{groupId,jdbcType=VARCHAR} connect by prior id = parent_id) g where t1.group_id=g.id)
    </if>
    <if test="dicRybzKey != null and dicRybzKey!=''">
      AND DIC_RYBZ_KEY = #{dicRybzKey,jdbcType=VARCHAR}
    </if>
    <if test="dicXlKey != null and dicXlKey!=''">
      AND DIC_XL_KEY = #{dicXlKey,jdbcType=VARCHAR}
    </if>
    <if test="dicHyzkKey != null and dicHyzkKey!=''">
      AND DIC_HYZK_KEY = #{dicHyzkKey,jdbcType=VARCHAR}
    </if>
    <if test="dicSexKey != null and dicSexKey!=''">
      AND DIC_SEX_KEY = #{dicSexKey,jdbcType=VARCHAR}
    </if>
    <if test="name != null and name!=''">
      AND NAME like #{name,jdbcType=VARCHAR} ||'%'
    </if>
    <if test="address != null and address!=''">
      AND ADDRESS = #{address,jdbcType=VARCHAR}
    </if>
    <if test="mobile != null and mobile!=''">
      AND MOBILE = #{mobile,jdbcType=VARCHAR}
    </if>
    <if test="phone != null and phone!=''">
      AND PHONE = #{phone,jdbcType=VARCHAR}
    </if>
    <if test="job != null and job!=''">
      AND JOB = #{job,jdbcType=VARCHAR}
    </if>
    <if test="isSms != null">
      AND IS_SMS = #{isSms,jdbcType=DECIMAL}
    </if>
    <if test="rybm != null and rybm!=''">
      AND RYBM = #{rybm,jdbcType=VARCHAR}
    </if>
    <if test="csrq != null">
      AND CSRQ = #{csrq,jdbcType=TIMESTAMP}
    </if>
    <if test="ywm != null and ywm!=''">
      AND YWM = #{ywm,jdbcType=VARCHAR}
    </if>
    <if test="sfzh != null and sfzh!=''">
      AND SFZH = #{sfzh,jdbcType=VARCHAR}
    </if>
    <if test="mz != null and mz!=''">
      AND MZ = #{mz,jdbcType=VARCHAR}
    </if>
    <if test="dicZzmmKey != null and dicZzmmKey!=''">
      AND DIC_ZZMM_KEY = #{dicZzmmKey,jdbcType=VARCHAR}
    </if>
    <if test="zp != null and zp!=''">
      AND ZP = #{zp,jdbcType=CLOB}
    </if>
    <if test="byyx != null and byyx!=''">
      AND BYYX = #{byyx,jdbcType=VARCHAR}
    </if>
    <if test="zgxw != null and zgxw!=''">
      AND ZGXW = #{zgxw,jdbcType=VARCHAR}
    </if>
    <if test="zy != null and zy!=''">
      AND ZY = #{zy,jdbcType=VARCHAR}
    </if>
    <if test="zw != null and zw!=''">
      AND ZW = #{zw,jdbcType=VARCHAR}
    </if>
    <if test="cjgzsj != null">
      AND CJGZSJ = #{cjgzsj,jdbcType=TIMESTAMP}
    </if>
    <if test="dzyx != null and dzyx!=''">
      AND DZYX = #{dzyx,jdbcType=VARCHAR}
    </if>
    <if test="created != null">
      AND CREATED = #{created,jdbcType=TIMESTAMP}
    </if>
    <if test="creater != null and creater!=''">
      AND CREATER = #{creater,jdbcType=VARCHAR}
    </if>
    <if test="updated != null">
      AND UPDATED = #{updated,jdbcType=TIMESTAMP}
    </if>
    <if test="updater != null and updater!=''">
      AND UPDATER = #{updater,jdbcType=VARCHAR}
    </if>
    <if test="delFlag != null">
      AND DEL_FLAG = #{delFlag,jdbcType=DECIMAL}
    </if>
  </sql>
</mapper>