<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rowell.sifa.mapper.endcorrect.RecidivismMapper">
  <resultMap id="BaseResultMap" type="com.rowell.sifa.pojo.endcorrect.Recidivism">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="CULPRIT_ID" jdbcType="VARCHAR" property="culpritId" />
    <result column="NEW_CRIME" jdbcType="VARCHAR" property="newCrime" />
    <result column="JUDGMENT_TIME" jdbcType="TIMESTAMP" property="judgmentTime" />
    <result column="JUDGMENT_COURT" jdbcType="VARCHAR" property="judgmentCourt" />
    <result column="REGISTER_UNIT" jdbcType="VARCHAR" property="registerUnit" />
    <result column="REGISTER_TIME" jdbcType="TIMESTAMP" property="registerTime" />
    <result column="GRASP_TIME" jdbcType="TIMESTAMP" property="graspTime" />
    <result column="DIC_GRASP_TYPE_KEY" jdbcType="VARCHAR" property="dicGraspTypeKey" />
    <result column="PATH" jdbcType="VARCHAR" property="path" />
    <result column="PATH_NAME" jdbcType="VARCHAR" property="pathName" />
    <result column="CREATED" jdbcType="TIMESTAMP" property="created" />
    <result column="CREATER" jdbcType="VARCHAR" property="creater" />
    <result column="UPDATED" jdbcType="TIMESTAMP" property="updated" />
    <result column="UPDATER" jdbcType="VARCHAR" property="updater" />
    <result column="DEL_FLAG" jdbcType="DECIMAL" property="delFlag" />
    <result column="PROCESS_INSTANCE_ID" jdbcType="VARCHAR" property="processInstanceId" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, CULPRIT_ID, NEW_CRIME, JUDGMENT_TIME, JUDGMENT_COURT, REGISTER_UNIT, REGISTER_TIME, 
    GRASP_TIME, DIC_GRASP_TYPE_KEY, PATH, PATH_NAME, CREATED, CREATER, UPDATED, UPDATER,PROCESS_INSTANCE_ID, 
    (select g.name from SYS_GROUP g left join SF_CULPRIT c on g.id=c.GROUP_ID where c.id=CULPRIT_ID) groupName,
    (select c.name from SF_CULPRIT c where c.id=CULPRIT_ID) culpritName,
    DEL_FLAG
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SF_RECIDIVISM
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from SF_RECIDIVISM
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.rowell.sifa.pojo.endcorrect.Recidivism">
    insert into SF_RECIDIVISM (ID, CULPRIT_ID, NEW_CRIME, 
      JUDGMENT_TIME, JUDGMENT_COURT, REGISTER_UNIT, 
      REGISTER_TIME, GRASP_TIME, DIC_GRASP_TYPE_KEY, 
      PATH, PATH_NAME, CREATED, 
      CREATER, UPDATED, UPDATER, PROCESS_INSTANCE_ID,
      DEL_FLAG)
    values (#{id,jdbcType=VARCHAR}, #{culpritId,jdbcType=VARCHAR}, #{newCrime,jdbcType=VARCHAR}, 
      #{judgmentTime,jdbcType=TIMESTAMP}, #{judgmentCourt,jdbcType=VARCHAR}, #{registerUnit,jdbcType=VARCHAR}, 
      #{registerTime,jdbcType=TIMESTAMP}, #{graspTime,jdbcType=TIMESTAMP}, #{dicGraspTypeKey,jdbcType=VARCHAR}, 
      #{path,jdbcType=VARCHAR}, #{pathName,jdbcType=VARCHAR}, #{created,jdbcType=TIMESTAMP}, 
      #{creater,jdbcType=VARCHAR}, #{updated,jdbcType=TIMESTAMP}, #{updater,jdbcType=VARCHAR}, #{processInstanceId,jdbcType=VARCHAR}, 
      #{delFlag,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.rowell.sifa.pojo.endcorrect.Recidivism">
    insert into SF_RECIDIVISM
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="culpritId != null">
        CULPRIT_ID,
      </if>
      <if test="newCrime != null">
        NEW_CRIME,
      </if>
      <if test="judgmentTime != null">
        JUDGMENT_TIME,
      </if>
      <if test="judgmentCourt != null">
        JUDGMENT_COURT,
      </if>
      <if test="registerUnit != null">
        REGISTER_UNIT,
      </if>
      <if test="registerTime != null">
        REGISTER_TIME,
      </if>
      <if test="graspTime != null">
        GRASP_TIME,
      </if>
      <if test="dicGraspTypeKey != null">
        DIC_GRASP_TYPE_KEY,
      </if>
      <if test="path != null">
        PATH,
      </if>
      <if test="pathName != null">
        PATH_NAME,
      </if>
      <if test="created != null">
        CREATED,
      </if>
      <if test="creater != null">
        CREATER,
      </if>
      <if test="updated != null">
        UPDATED,
      </if>
      <if test="updater != null">
        UPDATER,
      </if>
      <if test="processInstanceId != null">
        PROCESS_INSTANCE_ID,
      </if>
      <if test="delFlag != null">
        DEL_FLAG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="culpritId != null">
        #{culpritId,jdbcType=VARCHAR},
      </if>
      <if test="newCrime != null">
        #{newCrime,jdbcType=VARCHAR},
      </if>
      <if test="judgmentTime != null">
        #{judgmentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="judgmentCourt != null">
        #{judgmentCourt,jdbcType=VARCHAR},
      </if>
      <if test="registerUnit != null">
        #{registerUnit,jdbcType=VARCHAR},
      </if>
      <if test="registerTime != null">
        #{registerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="graspTime != null">
        #{graspTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dicGraspTypeKey != null">
        #{dicGraspTypeKey,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="pathName != null">
        #{pathName,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="creater != null">
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="updated != null">
        #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        #{updater,jdbcType=VARCHAR},
      </if>
      <if test="processInstanceId != null">
        #{processInstanceId,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rowell.sifa.pojo.endcorrect.Recidivism">
    update SF_RECIDIVISM
    <set>
      <if test="culpritId != null">
        CULPRIT_ID = #{culpritId,jdbcType=VARCHAR},
      </if>
      <if test="newCrime != null">
        NEW_CRIME = #{newCrime,jdbcType=VARCHAR},
      </if>
      <if test="judgmentTime != null">
        JUDGMENT_TIME = #{judgmentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="judgmentCourt != null">
        JUDGMENT_COURT = #{judgmentCourt,jdbcType=VARCHAR},
      </if>
      <if test="registerUnit != null">
        REGISTER_UNIT = #{registerUnit,jdbcType=VARCHAR},
      </if>
      <if test="registerTime != null">
        REGISTER_TIME = #{registerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="graspTime != null">
        GRASP_TIME = #{graspTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dicGraspTypeKey != null">
        DIC_GRASP_TYPE_KEY = #{dicGraspTypeKey,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        PATH = #{path,jdbcType=VARCHAR},
      </if>
      <if test="pathName != null">
        PATH_NAME = #{pathName,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        CREATED = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="creater != null">
        CREATER = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="updated != null">
        UPDATED = #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        UPDATER = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="processInstanceId != null">
        PROCESS_INSTANCE_ID=#{processInstanceId,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        DEL_FLAG = #{delFlag,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rowell.sifa.pojo.endcorrect.Recidivism">
    update SF_RECIDIVISM
    set CULPRIT_ID = #{culpritId,jdbcType=VARCHAR},
      NEW_CRIME = #{newCrime,jdbcType=VARCHAR},
      JUDGMENT_TIME = #{judgmentTime,jdbcType=TIMESTAMP},
      JUDGMENT_COURT = #{judgmentCourt,jdbcType=VARCHAR},
      REGISTER_UNIT = #{registerUnit,jdbcType=VARCHAR},
      REGISTER_TIME = #{registerTime,jdbcType=TIMESTAMP},
      GRASP_TIME = #{graspTime,jdbcType=TIMESTAMP},
      DIC_GRASP_TYPE_KEY = #{dicGraspTypeKey,jdbcType=VARCHAR},
      PATH = #{path,jdbcType=VARCHAR},
      PATH_NAME = #{pathName,jdbcType=VARCHAR},
      CREATED = #{created,jdbcType=TIMESTAMP},
      CREATER = #{creater,jdbcType=VARCHAR},
      UPDATED = #{updated,jdbcType=TIMESTAMP},
      UPDATER = #{updater,jdbcType=VARCHAR},
      PROCESS_INSTANCE_ID=#{processInstanceId,jdbcType=VARCHAR},
      DEL_FLAG = #{delFlag,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectAll" parameterType="com.rowell.sifa.pojo.endcorrect.Recidivism" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SF_RECIDIVISM t
    <where>
      <include refid="findAllWhere" />
    </where>
    <if test="orderStr!=null">
      <![CDATA[
           order by  ${orderStr}
      ]]>
    </if>
  </select>
  <select id="getCount" parameterType="com.rowell.sifa.pojo.endcorrect.Recidivism" resultType="int">
    select count(*)
    from SF_RECIDIVISM t
    <where>
      <include refid="findAllWhere" />
    </where>
  </select>
  <sql id="findAllWhere">
    <if test="culpritId != null and culpritId!=''">
      AND CULPRIT_ID = #{culpritId,jdbcType=VARCHAR}
    </if>
    <if test="newCrime != null and newCrime!=''">
      AND NEW_CRIME = #{newCrime,jdbcType=VARCHAR}
    </if>
    <if test="judgmentTime != null">
      AND JUDGMENT_TIME = #{judgmentTime,jdbcType=TIMESTAMP}
    </if>
    <if test="judgmentCourt != null and judgmentCourt!=''">
      AND JUDGMENT_COURT = #{judgmentCourt,jdbcType=VARCHAR}
    </if>
    <if test="registerUnit != null and registerUnit!=''">
      AND REGISTER_UNIT = #{registerUnit,jdbcType=VARCHAR}
    </if>
    <if test="registerTime != null">
      AND REGISTER_TIME = #{registerTime,jdbcType=TIMESTAMP}
    </if>
    <if test="graspTime != null">
      AND GRASP_TIME = #{graspTime,jdbcType=TIMESTAMP}
    </if>
    <if test="dicGraspTypeKey != null and dicGraspTypeKey!=''">
      AND DIC_GRASP_TYPE_KEY = #{dicGraspTypeKey,jdbcType=VARCHAR}
    </if>
    <if test="path != null and path!=''">
      AND PATH = #{path,jdbcType=VARCHAR}
    </if>
    <if test="pathName != null and pathName!=''">
      AND PATH_NAME = #{pathName,jdbcType=VARCHAR}
    </if>
    <if test="created != null">
      AND CREATED = #{created,jdbcType=TIMESTAMP}
    </if>
    <if test="creater != null and creater!=''">
      AND CREATER = #{creater,jdbcType=VARCHAR}
    </if>
    <if test="updated != null">
      AND UPDATED = #{updated,jdbcType=TIMESTAMP}
    </if>
    <if test="updater != null and updater!=''">
      AND UPDATER = #{updater,jdbcType=VARCHAR}
    </if>
    <if test="processInstanceId != null">
      AND PROCESS_INSTANCE_ID = #{processInstanceId,jdbcType=VARCHAR}
    </if>
    <if test="delFlag != null">
      AND DEL_FLAG = #{delFlag,jdbcType=DECIMAL}
    </if>
     <if test="culpritName != null and culpritName!=''">
       AND exists (select * from SF_CULPRIT c where c.id=CULPRIT_ID and c.name like '%'||#{culpritName,jdbcType=VARCHAR}||'%')
      </if>
      <if test="groupName != null and groupName!=''">
       AND exists (select * from SF_CULPRIT c where c.id=t.CULPRIT_ID and c.GROUP_ID=#{groupName,jdbcType=VARCHAR})
      </if>
      <if test="searchStartDate != null">
       <![CDATA[  
      AND t.CREATED >= #{searchStartDate,jdbcType=TIMESTAMP}
       ]]>  
    </if>
    <if test="searchEndDate != null">
    	 <![CDATA[  
      AND t.CREATED <= #{searchEndDate,jdbcType=TIMESTAMP}
       ]]>  
    </if>
    <if test="groupId != null and groupId!=''">
      AND  exists ( select g.id from (select * from sys_group  start with id= #{groupId,jdbcType=VARCHAR} connect by prior id = parent_id) g left join SF_CULPRIT c on g.id=c.group_id where c.id=t.CULPRIT_ID)
    </if> 
  </sql>
</mapper>