<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rowell.sifa.mapper.homepage.ExaminationAndApprovalMapper">
  <resultMap id="BaseResultMap" type="com.rowell.sifa.pojo.homepage.ExaminationAndApproval">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="JUDICIAL_OFFICES" jdbcType="VARCHAR" property="judicialOffices" />
    <result column="TYPE" jdbcType="VARCHAR" property="type" />
    <result column="TASK_DATE" jdbcType="TIMESTAMP" property="taskDate" />
    <result column="CORRECT_DATE" jdbcType="TIMESTAMP" property="correctDate" />
    <result column="PROCESS_INSTANCE_ID" jdbcType="VARCHAR" property="processInstanceId" />
    <result column="CULPRIT_ID" jdbcType="VARCHAR" property="culpritId" />
    <result column="GROUP_NAME" jdbcType="VARCHAR" property="groupName" />
    <result column="CULPRIT_NAME" jdbcType="VARCHAR" property="culpritName" />
    <result column="RECORD_ID" jdbcType="VARCHAR" property="recordId" />
    <result column="CREATED" jdbcType="TIMESTAMP" property="created" />
    <result column="CREATER" jdbcType="VARCHAR" property="creater" />
    <result column="UPDATED" jdbcType="TIMESTAMP" property="updated" />
    <result column="UPDATER" jdbcType="VARCHAR" property="updater" />
    <result column="DEL_FLAG" jdbcType="DECIMAL" property="delFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    t.ID, t.JUDICIAL_OFFICES, t.TYPE, t.TASK_DATE, 
    t.CORRECT_DATE,t.PROCESS_INSTANCE_ID,t.CULPRIT_ID,t.RECORD_ID,t.CREATED, t.CREATER, t.UPDATED, t.UPDATER, t.DEL_FLAG
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />,
    	<![CDATA[
    case when t4.name is not null then t4.name when t5.name is not null then t5.name else t2.name end as culprit_NAME,t3.name as group_name
      ]]>
    from SF_EXAMINATIONANDAPPROVAL t
    left join SF_CULPRIT t2 on t2.id = t.culprit_id left join sys_group t3 on t3.id = t2.group_id 
    left join sf_investigate t4 on t4.id = t.record_id left join sf_move_in t5 on t5.id = t.record_id 
    where t.ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from SF_EXAMINATIONANDAPPROVAL
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.rowell.sifa.pojo.homepage.ExaminationAndApproval">
    insert into SF_EXAMINATIONANDAPPROVAL (ID,JUDICIAL_OFFICES, 
      TYPE, TASK_DATE, CORRECT_DATE,PROCESS_INSTANCE_ID,CULPRIT_ID,RECORD_ID,CREATED, CREATER, UPDATED, UPDATER, DEL_FLAG
      )
    values (#{id,jdbcType=VARCHAR}, #{judicialOffices,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{taskDate,jdbcType=TIMESTAMP}, #{correctDate,jdbcType=TIMESTAMP},
      #{processInstanceId,jdbcType=VARCHAR},#{culpritId,jdbcType=VARCHAR},#{recordId,jdbcType=VARCHAR}, 
      #{created,jdbcType=TIMESTAMP}, #{creater,jdbcType=VARCHAR}, #{updated,jdbcType=TIMESTAMP}, 
      #{updater,jdbcType=VARCHAR}, #{delFlag,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.rowell.sifa.pojo.homepage.ExaminationAndApproval">
    insert into SF_EXAMINATIONANDAPPROVAL
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="judicialOffices != null">
        JUDICIAL_OFFICES,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="taskDate != null">
        TASK_DATE,
      </if>
      <if test="correctDate != null">
        CORRECT_DATE,
      </if>
      <if test="created != null">
        CREATED,
      </if>
      <if test="creater != null">
        CREATER,
      </if>
      <if test="updated != null">
        UPDATED,
      </if>
      <if test="updater != null">
        UPDATER,
      </if>
      <if test="delFlag != null">
        DEL_FLAG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="judicialOffices != null">
        #{judicialOffices,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="taskDate != null">
        #{taskDate,jdbcType=TIMESTAMP},
      </if>
      <if test="correctDate != null">
        #{correctDate,jdbcType=TIMESTAMP},
      </if>
      <if test="created != null">
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="creater != null">
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="updated != null">
        #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        #{updater,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rowell.sifa.pojo.homepage.ExaminationAndApproval">
    update SF_EXAMINATIONANDAPPROVAL
    <set>
      <if test="judicialOffices != null">
        JUDICIAL_OFFICES = #{judicialOffices,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        TYPE = #{type,jdbcType=VARCHAR},
      </if>
      <if test="taskDate != null">
        TASK_DATE = #{taskDate,jdbcType=TIMESTAMP},
      </if>
      <if test="correctDate != null">
        CORRECT_DATE = #{correctDate,jdbcType=TIMESTAMP},
      </if>
      <if test="created != null">
        CREATED = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="creater != null">
        CREATER = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="updated != null">
        UPDATED = #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        UPDATER = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        DEL_FLAG = #{delFlag,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rowell.sifa.pojo.homepage.ExaminationAndApproval">
    update SF_EXAMINATIONANDAPPROVAL
    set JUDICIAL_OFFICES = #{judicialOffices,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=VARCHAR},
      TASK_DATE = #{taskDate,jdbcType=TIMESTAMP},
      CORRECT_DATE = #{correctDate,jdbcType=TIMESTAMP},
	  CREATED = #{created,jdbcType=TIMESTAMP},
      CREATER = #{creater,jdbcType=VARCHAR},
      UPDATED = #{updated,jdbcType=TIMESTAMP},
      UPDATER = #{updater,jdbcType=VARCHAR},
      DEL_FLAG = #{delFlag,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectAll" parameterType="com.rowell.sifa.pojo.homepage.ExaminationAndApproval" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />,
      <![CDATA[
    case when t4.name is not null then t4.name when t5.name is not null then t5.name else t2.name end as culprit_NAME,t3.name as group_name
      ]]>
    from SF_EXAMINATIONANDAPPROVAL t 
    left join SF_CULPRIT t2 on t2.id = t.culprit_id left join sys_group t3 on t3.id = t2.group_id 
    left join sf_investigate t4 on t4.id = t.record_id left join sf_move_in t5 on t5.id = t.record_id 
    <where>
      <include refid="findAllWhere" />
    </where>
    <if test="orderStr!=null">
      <![CDATA[
           order by  ${orderStr}
      ]]>
    </if>
  </select>
  <sql id="findAllWhere">
  	<if test="culpritName != null and culpritName!=''">
      <![CDATA[
  	AND ( t2.name LIKE '%'||#{culpritName,jdbcType=VARCHAR}||'%' or t4.name like '%'||#{culpritName,jdbcType=VARCHAR}||'%' or t5.name like '%'||#{culpritName,jdbcType=VARCHAR}||'%' )
      ]]>
    </if>
    <if test="judicialOffices != null and judicialOffices !=''">
      AND t.JUDICIAL_OFFICES = #{judicialOffices,jdbcType=VARCHAR}
    </if>
    <if test="type != null and type!=''">
      AND t.TYPE = #{type,jdbcType=VARCHAR}
    </if>
    <if test="taskDate != null">
      AND t.TASK_DATE = #{taskDate,jdbcType=TIMESTAMP}
    </if>
    <if test="correctDate != null">
      AND t.CORRECT_DATE = #{correctDate,jdbcType=TIMESTAMP}
    </if>
     <if test="processInstanceId != null">
      AND t.PROCESS_INSTANCE_ID = #{processInstanceId,jdbcType=VARCHAR}
    </if>
    <if test="culpritId != null">
      AND t.CULPRIT_ID = #{culpritId,jdbcType=VARCHAR}
    </if>
     <if test="recordId != null">
      AND t.RECORD_ID = #{recordId,jdbcType=VARCHAR}
    </if>
    <if test="searchStartDate != null and searchStartDate !=''">
  		<![CDATA[
  			AND t.TASK_DATE >= #{searchStartDate,jdbcType=TIMESTAMP}
  		]]>
  	</if>
  	<if test="searchEndDate != null and searchEndDate !=''">
  		<![CDATA[
  			AND t.TASK_DATE <= #{searchEndDate,jdbcType=TIMESTAMP}
  		]]>
  	</if>
  	<if test="created != null">
      AND t.CREATED = #{created,jdbcType=TIMESTAMP}
    </if>
    <if test="creater != null and creater!=''">
      AND t.CREATER = #{creater,jdbcType=VARCHAR}
    </if>
    <if test="updated != null">
      AND t.UPDATED = #{updated,jdbcType=TIMESTAMP}
    </if>
    <if test="updater != null and updater!=''">
      AND t.UPDATER = #{updater,jdbcType=VARCHAR}
    </if>
    <if test="delFlag != null">
      AND t.DEL_FLAG = #{delFlag,jdbcType=DECIMAL}
    </if>
  </sql>
</mapper>