<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rowell.sifa.mapper.rewardspunishment.MonthlyPerformanceMapper">
  <resultMap id="BaseResultMap" type="com.rowell.sifa.pojo.rewardspunishment.MonthlyPerformance">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="PATH" jdbcType="VARCHAR" property="path" />
    <result column="CULPRIT_ID" jdbcType="VARCHAR" property="culpritId" />
    <result column="MAIN_SHOW" jdbcType="CLOB" property="mainShow" />
    <result column="CHECKER_OPINION" jdbcType="CLOB" property="checkerOpinion" />
    <result column="JUDICIAL_OPINION" jdbcType="CLOB" property="judicialOpinion" />
    <result column="SOLVE_ID" jdbcType="VARCHAR" property="solveId" />
    <result column="NOTE" jdbcType="CLOB" property="note" />
    <result column="DOCUMENT_ID" jdbcType="VARCHAR" property="documentId" />
    <result column="MONTHLY_DATE" jdbcType="VARCHAR" property="monthlyDate" />
    <result column="OTHER_SHOW" jdbcType="CLOB" property="otherShow" />
    <result column="CHECKER" jdbcType="VARCHAR" property="checker" />
    <result column="JUDICIAL_TIME" jdbcType="TIMESTAMP" property="judicialTime" />
    <result column="PATH_NAME" jdbcType="VARCHAR" property="pathName" />
    <result column="MONTHLY_PER_GRADE_ID" jdbcType="VARCHAR" property="monthlyPerGradeId" />
    <result column="YEAR" jdbcType="DECIMAL" property="year" />
    <result column="MONTH" jdbcType="DECIMAL" property="month" />
    <result column="TYPE_ID" jdbcType="DECIMAL" property="typeId" />
    <result column="MONITOR_GRADE_ID" jdbcType="DECIMAL" property="monitorGradeId" />
    <result column="IS_AGREE" jdbcType="DECIMAL" property="isAgree" />
    <result column="CREATED" jdbcType="TIMESTAMP" property="created" />
    <result column="CREATER" jdbcType="VARCHAR" property="creater" />
    <result column="UPDATED" jdbcType="TIMESTAMP" property="updated" />
    <result column="UPDATER" jdbcType="VARCHAR" property="updater" />
    <result column="DEL_FLAG" jdbcType="DECIMAL" property="delFlag" />
    <result column="PROCESSINSTANCE_ID" jdbcType="VARCHAR" property="processInstanceId" />
    
  </resultMap>
  <sql id="Base_Column_List">
    ID, NAME, PATH, CULPRIT_ID, MAIN_SHOW, CHECKER_OPINION, JUDICIAL_OPINION, SOLVE_ID, 
    NOTE, DOCUMENT_ID, MONTHLY_DATE, OTHER_SHOW, CHECKER, JUDICIAL_TIME, PATH_NAME, MONTHLY_PER_GRADE_ID, 
    YEAR, MONTH, TYPE_ID, MONITOR_GRADE_ID, IS_AGREE, CREATED, CREATER, UPDATED, UPDATER, 
    DEL_FLAG,PROCESSINSTANCE_ID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SF_MONTHLY_PERFORMANCE
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from SF_MONTHLY_PERFORMANCE
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.rowell.sifa.pojo.rewardspunishment.MonthlyPerformance">
    insert into SF_MONTHLY_PERFORMANCE (ID, NAME, PATH, 
      CULPRIT_ID, MAIN_SHOW, CHECKER_OPINION, 
      JUDICIAL_OPINION, SOLVE_ID, NOTE, 
      DOCUMENT_ID, MONTHLY_DATE, OTHER_SHOW, 
      CHECKER, JUDICIAL_TIME, PATH_NAME, 
      MONTHLY_PER_GRADE_ID, YEAR, MONTH, 
      TYPE_ID, MONITOR_GRADE_ID, IS_AGREE, 
      CREATED, CREATER, UPDATED, 
      UPDATER, DEL_FLAG,PROCESSINSTANCE_ID)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{path,jdbcType=VARCHAR}, 
      #{culpritId,jdbcType=VARCHAR}, #{mainShow,jdbcType=CLOB}, #{checkerOpinion,jdbcType=CLOB}, 
      #{judicialOpinion,jdbcType=CLOB}, #{solveId,jdbcType=VARCHAR}, #{note,jdbcType=CLOB}, 
      #{documentId,jdbcType=VARCHAR}, #{monthlyDate,jdbcType=VARCHAR}, #{otherShow,jdbcType=CLOB}, 
      #{checker,jdbcType=VARCHAR}, #{judicialTime,jdbcType=TIMESTAMP}, #{pathName,jdbcType=VARCHAR}, 
      #{monthlyPerGradeId,jdbcType=VARCHAR}, #{year,jdbcType=DECIMAL}, #{month,jdbcType=DECIMAL}, 
      #{typeId,jdbcType=DECIMAL}, #{monitorGradeId,jdbcType=DECIMAL}, #{isAgree,jdbcType=DECIMAL}, 
      #{created,jdbcType=TIMESTAMP}, #{creater,jdbcType=VARCHAR}, #{updated,jdbcType=TIMESTAMP}, 
      #{updater,jdbcType=VARCHAR}, #{delFlag,jdbcType=DECIMAL})，#{processInstanceId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.rowell.sifa.pojo.rewardspunishment.MonthlyPerformance">
    insert into SF_MONTHLY_PERFORMANCE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="path != null">
        PATH,
      </if>
      <if test="culpritId != null">
        CULPRIT_ID,
      </if>
      <if test="mainShow != null">
        MAIN_SHOW,
      </if>
      <if test="checkerOpinion != null">
        CHECKER_OPINION,
      </if>
      <if test="judicialOpinion != null">
        JUDICIAL_OPINION,
      </if>
      <if test="solveId != null">
        SOLVE_ID,
      </if>
      <if test="note != null">
        NOTE,
      </if>
      <if test="documentId != null">
        DOCUMENT_ID,
      </if>
      <if test="monthlyDate != null">
        MONTHLY_DATE,
      </if>
      <if test="otherShow != null">
        OTHER_SHOW,
      </if>
      <if test="checker != null">
        CHECKER,
      </if>
      <if test="judicialTime != null">
        JUDICIAL_TIME,
      </if>
      <if test="pathName != null">
        PATH_NAME,
      </if>
      <if test="monthlyPerGradeId != null">
        MONTHLY_PER_GRADE_ID,
      </if>
      <if test="year != null">
        YEAR,
      </if>
      <if test="month != null">
        MONTH,
      </if>
      <if test="typeId != null">
        TYPE_ID,
      </if>
      <if test="monitorGradeId != null">
        MONITOR_GRADE_ID,
      </if>
      <if test="isAgree != null">
        IS_AGREE,
      </if>
      <if test="created != null">
        CREATED,
      </if>
      <if test="creater != null">
        CREATER,
      </if>
      <if test="updated != null">
        UPDATED,
      </if>
      <if test="updater != null">
        UPDATER,
      </if>
      <if test="delFlag != null">
        DEL_FLAG,
      </if>
      <if test="processInstanceId != null">
        PROCESSINSTANCE_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="culpritId != null">
        #{culpritId,jdbcType=VARCHAR},
      </if>
      <if test="mainShow != null">
        #{mainShow,jdbcType=CLOB},
      </if>
      <if test="checkerOpinion != null">
        #{checkerOpinion,jdbcType=CLOB},
      </if>
      <if test="judicialOpinion != null">
        #{judicialOpinion,jdbcType=CLOB},
      </if>
      <if test="solveId != null">
        #{solveId,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        #{note,jdbcType=CLOB},
      </if>
      <if test="documentId != null">
        #{documentId,jdbcType=VARCHAR},
      </if>
      <if test="monthlyDate != null">
        #{monthlyDate,jdbcType=VARCHAR},
      </if>
      <if test="otherShow != null">
        #{otherShow,jdbcType=CLOB},
      </if>
      <if test="checker != null">
        #{checker,jdbcType=VARCHAR},
      </if>
      <if test="judicialTime != null">
        #{judicialTime,jdbcType=TIMESTAMP},
      </if>
      <if test="pathName != null">
        #{pathName,jdbcType=VARCHAR},
      </if>
      <if test="monthlyPerGradeId != null">
        #{monthlyPerGradeId,jdbcType=VARCHAR},
      </if>
      <if test="year != null">
        #{year,jdbcType=DECIMAL},
      </if>
      <if test="month != null">
        #{month,jdbcType=DECIMAL},
      </if>
      <if test="typeId != null">
        #{typeId,jdbcType=DECIMAL},
      </if>
      <if test="monitorGradeId != null">
        #{monitorGradeId,jdbcType=DECIMAL},
      </if>
      <if test="isAgree != null">
        #{isAgree,jdbcType=DECIMAL},
      </if>
      <if test="created != null">
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="creater != null">
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="updated != null">
        #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        #{updater,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=DECIMAL},
      </if>
      <if test="processInstanceId != null">
        #{processInstanceId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rowell.sifa.pojo.rewardspunishment.MonthlyPerformance">
    update SF_MONTHLY_PERFORMANCE
    <set>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        PATH = #{path,jdbcType=VARCHAR},
      </if>
      <if test="culpritId != null">
        CULPRIT_ID = #{culpritId,jdbcType=VARCHAR},
      </if>
      <if test="mainShow != null">
        MAIN_SHOW = #{mainShow,jdbcType=CLOB},
      </if>
      <if test="checkerOpinion != null">
        CHECKER_OPINION = #{checkerOpinion,jdbcType=CLOB},
      </if>
      <if test="judicialOpinion != null">
        JUDICIAL_OPINION = #{judicialOpinion,jdbcType=CLOB},
      </if>
      <if test="solveId != null">
        SOLVE_ID = #{solveId,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        NOTE = #{note,jdbcType=CLOB},
      </if>
      <if test="documentId != null">
        DOCUMENT_ID = #{documentId,jdbcType=VARCHAR},
      </if>
      <if test="monthlyDate != null">
        MONTHLY_DATE = #{monthlyDate,jdbcType=VARCHAR},
      </if>
      <if test="otherShow != null">
        OTHER_SHOW = #{otherShow,jdbcType=CLOB},
      </if>
      <if test="checker != null">
        CHECKER = #{checker,jdbcType=VARCHAR},
      </if>
      <if test="judicialTime != null">
        JUDICIAL_TIME = #{judicialTime,jdbcType=TIMESTAMP},
      </if>
      <if test="pathName != null">
        PATH_NAME = #{pathName,jdbcType=VARCHAR},
      </if>
      <if test="monthlyPerGradeId != null">
        MONTHLY_PER_GRADE_ID = #{monthlyPerGradeId,jdbcType=VARCHAR},
      </if>
      <if test="year != null">
        YEAR = #{year,jdbcType=DECIMAL},
      </if>
      <if test="month != null">
        MONTH = #{month,jdbcType=DECIMAL},
      </if>
      <if test="typeId != null">
        TYPE_ID = #{typeId,jdbcType=DECIMAL},
      </if>
      <if test="monitorGradeId != null">
        MONITOR_GRADE_ID = #{monitorGradeId,jdbcType=DECIMAL},
      </if>
      <if test="isAgree != null">
        IS_AGREE = #{isAgree,jdbcType=DECIMAL},
      </if>
      <if test="created != null">
        CREATED = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="creater != null">
        CREATER = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="updated != null">
        UPDATED = #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        UPDATER = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        DEL_FLAG = #{delFlag,jdbcType=DECIMAL},
      </if>
       <if test="processInstanceId != null">
        PROCESSINSTANCE_ID = #{delFlag,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rowell.sifa.pojo.rewardspunishment.MonthlyPerformance">
    update SF_MONTHLY_PERFORMANCE
    set NAME = #{name,jdbcType=VARCHAR},
      PATH = #{path,jdbcType=VARCHAR},
      CULPRIT_ID = #{culpritId,jdbcType=VARCHAR},
      MAIN_SHOW = #{mainShow,jdbcType=CLOB},
      CHECKER_OPINION = #{checkerOpinion,jdbcType=CLOB},
      JUDICIAL_OPINION = #{judicialOpinion,jdbcType=CLOB},
      SOLVE_ID = #{solveId,jdbcType=VARCHAR},
      NOTE = #{note,jdbcType=CLOB},
      DOCUMENT_ID = #{documentId,jdbcType=VARCHAR},
      MONTHLY_DATE = #{monthlyDate,jdbcType=VARCHAR},
      OTHER_SHOW = #{otherShow,jdbcType=CLOB},
      CHECKER = #{checker,jdbcType=VARCHAR},
      JUDICIAL_TIME = #{judicialTime,jdbcType=TIMESTAMP},
      PATH_NAME = #{pathName,jdbcType=VARCHAR},
      MONTHLY_PER_GRADE_ID = #{monthlyPerGradeId,jdbcType=VARCHAR},
      YEAR = #{year,jdbcType=DECIMAL},
      MONTH = #{month,jdbcType=DECIMAL},
      TYPE_ID = #{typeId,jdbcType=DECIMAL},
      MONITOR_GRADE_ID = #{monitorGradeId,jdbcType=DECIMAL},
      IS_AGREE = #{isAgree,jdbcType=DECIMAL},
      CREATED = #{created,jdbcType=TIMESTAMP},
      CREATER = #{creater,jdbcType=VARCHAR},
      UPDATED = #{updated,jdbcType=TIMESTAMP},
      UPDATER = #{updater,jdbcType=VARCHAR},
      DEL_FLAG = #{delFlag,jdbcType=DECIMAL},
       PROCESSINSTANCE_ID = #{processInstanceId,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectAll" parameterType="com.rowell.sifa.pojo.rewardspunishment.MonthlyPerformance" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SF_MONTHLY_PERFORMANCE t
    <where>
      <include refid="findAllWhere" />
    </where>
    <if test="orderStr!=null">
      <![CDATA[
           order by  ${orderStr}
      ]]>
    </if>
  </select>
  <sql id="findAllWhere">
    <if test="name != null and name!=''">
      AND NAME = #{name,jdbcType=VARCHAR}
    </if>
    <if test="path != null and path!=''">
      AND PATH = #{path,jdbcType=VARCHAR}
    </if>
    <if test="culpritId != null and culpritId!=''">
      AND CULPRIT_ID = #{culpritId,jdbcType=VARCHAR}
    </if>
    <if test="mainShow != null and mainShow!=''">
      AND MAIN_SHOW = #{mainShow,jdbcType=CLOB}
    </if>
    <if test="checkerOpinion != null and checkerOpinion!=''">
      AND CHECKER_OPINION = #{checkerOpinion,jdbcType=CLOB}
    </if>
    <if test="judicialOpinion != null and judicialOpinion!=''">
      AND JUDICIAL_OPINION = #{judicialOpinion,jdbcType=CLOB}
    </if>
    <if test="solveId != null and solveId!=''">
      AND SOLVE_ID = #{solveId,jdbcType=VARCHAR}
    </if>
    <if test="note != null and note!=''">
      AND NOTE = #{note,jdbcType=CLOB}
    </if>
    <if test="documentId != null and documentId!=''">
      AND DOCUMENT_ID = #{documentId,jdbcType=VARCHAR}
    </if>
    <if test="monthlyDate != null and monthlyDate!=''">
      AND MONTHLY_DATE = #{monthlyDate,jdbcType=VARCHAR}
    </if>
    <if test="otherShow != null and otherShow!=''">
      AND OTHER_SHOW = #{otherShow,jdbcType=CLOB}
    </if>
    <if test="checker != null and checker!=''">
      AND CHECKER = #{checker,jdbcType=VARCHAR}
    </if>
    <if test="judicialTime != null">
      AND JUDICIAL_TIME = #{judicialTime,jdbcType=TIMESTAMP}
    </if>
    <if test="pathName != null and pathName!=''">
      AND PATH_NAME = #{pathName,jdbcType=VARCHAR}
    </if>
    <if test="monthlyPerGradeId != null and monthlyPerGradeId!=''">
      AND MONTHLY_PER_GRADE_ID = #{monthlyPerGradeId,jdbcType=VARCHAR}
    </if>
    <if test="year != null and year!=''">
      AND YEAR = #{year,jdbcType=DECIMAL}
    </if>
    <if test="month != null and month!=''">
      AND MONTH = #{month,jdbcType=DECIMAL}
    </if>
    <if test="typeId != null and typeId!=''">
      AND TYPE_ID = #{typeId,jdbcType=DECIMAL}
    </if>
    <if test="monitorGradeId != null and monitorGradeId!=''">
      AND MONITOR_GRADE_ID = #{monitorGradeId,jdbcType=DECIMAL}
    </if>
    <if test="isAgree != null and isAgree!=''">
      AND IS_AGREE = #{isAgree,jdbcType=DECIMAL}
    </if>
    <if test="created != null and created!=''">
      AND CREATED = #{created,jdbcType=TIMESTAMP}
    </if>
    <if test="creater != null and creater!=''">
      AND CREATER = #{creater,jdbcType=VARCHAR}
    </if>
    <if test="updated != null">
      AND UPDATED = #{updated,jdbcType=TIMESTAMP}
    </if>
    <if test="updater != null and updater!=''">
      AND UPDATER = #{updater,jdbcType=VARCHAR}
    </if>
    <if test="delFlag != null">
      AND DEL_FLAG = #{delFlag,jdbcType=DECIMAL}
    </if>
     <if test="processInstanceId != null and processInstanceId!=''">
      AND PROCESSINSTANCE_ID = #{processInstanceId,jdbcType=VARCHAR}
    </if>
  </sql>
</mapper>