<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rowell.sifa.mapper.flow.BehaviorManageMapper">
  <resultMap id="BaseResultMap" type="com.rowell.sifa.pojo.flow.BehaviorManage">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="DIC_BEH_MAN_TYPE_KEY" jdbcType="VARCHAR" property="dicBehManTypeKey" />
    <result column="PROCESS_ID" jdbcType="VARCHAR" property="processId" />
    <result column="CREATED" jdbcType="TIMESTAMP" property="created" />
    <result column="CREATER" jdbcType="VARCHAR" property="creater" />
    <result column="UPDATED" jdbcType="TIMESTAMP" property="updated" />
    <result column="UPDATER" jdbcType="VARCHAR" property="updater" />
    <result column="DEL_FLAG" jdbcType="DECIMAL" property="delFlag" />
    <result column="CHECK_ID" jdbcType="VARCHAR" property="checkId" />
    <result column="CULPRIT_ID" jdbcType="VARCHAR" property="culpritId" />
    <result column="IS_END" jdbcType="DECIMAL" property="isEnd" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, DIC_BEH_MAN_TYPE_KEY, PROCESS_ID, CREATED, CREATER, UPDATED, UPDATER, DEL_FLAG, 
    CHECK_ID, CULPRIT_ID, IS_END
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SF_BEHAVIOR_MANAGE
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from SF_BEHAVIOR_MANAGE
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.rowell.sifa.pojo.flow.BehaviorManage">
    insert into SF_BEHAVIOR_MANAGE (ID, DIC_BEH_MAN_TYPE_KEY, PROCESS_ID, 
      CREATED, CREATER, UPDATED, 
      UPDATER, DEL_FLAG, CHECK_ID, 
      CULPRIT_ID, IS_END)
    values (#{id,jdbcType=VARCHAR}, #{dicBehManTypeKey,jdbcType=VARCHAR}, #{processId,jdbcType=VARCHAR}, 
      #{created,jdbcType=TIMESTAMP}, #{creater,jdbcType=VARCHAR}, #{updated,jdbcType=TIMESTAMP}, 
      #{updater,jdbcType=VARCHAR}, #{delFlag,jdbcType=DECIMAL}, #{checkId,jdbcType=VARCHAR}, 
      #{culpritId,jdbcType=VARCHAR}, #{isEnd,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.rowell.sifa.pojo.flow.BehaviorManage">
    insert into SF_BEHAVIOR_MANAGE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="dicBehManTypeKey != null">
        DIC_BEH_MAN_TYPE_KEY,
      </if>
      <if test="processId != null">
        PROCESS_ID,
      </if>
      <if test="created != null">
        CREATED,
      </if>
      <if test="creater != null">
        CREATER,
      </if>
      <if test="updated != null">
        UPDATED,
      </if>
      <if test="updater != null">
        UPDATER,
      </if>
      <if test="delFlag != null">
        DEL_FLAG,
      </if>
      <if test="checkId != null">
        CHECK_ID,
      </if>
      <if test="culpritId != null">
        CULPRIT_ID,
      </if>
      <if test="isEnd != null">
        IS_END,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="dicBehManTypeKey != null">
        #{dicBehManTypeKey,jdbcType=VARCHAR},
      </if>
      <if test="processId != null">
        #{processId,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="creater != null">
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="updated != null">
        #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        #{updater,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=DECIMAL},
      </if>
      <if test="checkId != null">
        #{checkId,jdbcType=VARCHAR},
      </if>
      <if test="culpritId != null">
        #{culpritId,jdbcType=VARCHAR},
      </if>
      <if test="isEnd != null">
        #{isEnd,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rowell.sifa.pojo.flow.BehaviorManage">
    update SF_BEHAVIOR_MANAGE
    <set>
      <if test="dicBehManTypeKey != null">
        DIC_BEH_MAN_TYPE_KEY = #{dicBehManTypeKey,jdbcType=VARCHAR},
      </if>
      <if test="processId != null">
        PROCESS_ID = #{processId,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        CREATED = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="creater != null">
        CREATER = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="updated != null">
        UPDATED = #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        UPDATER = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        DEL_FLAG = #{delFlag,jdbcType=DECIMAL},
      </if>
      <if test="checkId != null">
        CHECK_ID = #{checkId,jdbcType=VARCHAR},
      </if>
      <if test="culpritId != null">
        CULPRIT_ID = #{culpritId,jdbcType=VARCHAR},
      </if>
      <if test="isEnd != null">
        IS_END = #{isEnd,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rowell.sifa.pojo.flow.BehaviorManage">
    update SF_BEHAVIOR_MANAGE
    set DIC_BEH_MAN_TYPE_KEY = #{dicBehManTypeKey,jdbcType=VARCHAR},
      PROCESS_ID = #{processId,jdbcType=VARCHAR},
      CREATED = #{created,jdbcType=TIMESTAMP},
      CREATER = #{creater,jdbcType=VARCHAR},
      UPDATED = #{updated,jdbcType=TIMESTAMP},
      UPDATER = #{updater,jdbcType=VARCHAR},
      DEL_FLAG = #{delFlag,jdbcType=DECIMAL},
      CHECK_ID = #{checkId,jdbcType=VARCHAR},
      CULPRIT_ID = #{culpritId,jdbcType=VARCHAR},
      IS_END = #{isEnd,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectAll" parameterType="com.rowell.sifa.pojo.flow.BehaviorManage" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SF_BEHAVIOR_MANAGE t
    <where>
      <include refid="findAllWhere" />
    </where>
    <if test="orderStr!=null">
      <![CDATA[
           order by  ${orderStr}
      ]]>
    </if>
  </select>
  <sql id="findAllWhere">
    <if test="dicBehManTypeKey != null and dicBehManTypeKey!=''">
      AND DIC_BEH_MAN_TYPE_KEY = #{dicBehManTypeKey,jdbcType=VARCHAR}
    </if>
    <if test="processId != null and processId!=''">
      AND PROCESS_ID = #{processId,jdbcType=VARCHAR}
    </if>
    <if test="created != null">
      AND CREATED = #{created,jdbcType=TIMESTAMP}
    </if>
    <if test="creater != null and creater!=''">
      AND CREATER = #{creater,jdbcType=VARCHAR}
    </if>
    <if test="updated != null">
      AND UPDATED = #{updated,jdbcType=TIMESTAMP}
    </if>
    <if test="updater != null and updater!=''">
      AND UPDATER = #{updater,jdbcType=VARCHAR}
    </if>
    <if test="delFlag != null">
      AND DEL_FLAG = #{delFlag,jdbcType=DECIMAL}
    </if>
    <if test="checkId != null and checkId!=''">
      AND CHECK_ID = #{checkId,jdbcType=VARCHAR}
    </if>
    <if test="culpritId != null and culpritId!=''">
      AND CULPRIT_ID = #{culpritId,jdbcType=VARCHAR}
    </if>
    <if test="isEnd != null">
      AND IS_END = #{isEnd,jdbcType=DECIMAL}
    </if>
  </sql>
</mapper>