<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rowell.sifa.mapper.rewardspunishment.RevokeOutOfPrisonMapper">
  <resultMap id="BaseResultMap" type="com.rowell.sifa.pojo.rewardspunishment.RevokeOutOfPrison">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="CULPRIT_ID" jdbcType="VARCHAR" property="culpritId" />
    <result column="APPLY_DATE" jdbcType="TIMESTAMP" property="applyDate" />
    <result column="REASON" jdbcType="CLOB" property="reason" />
    <result column="DETAIL_INFO" jdbcType="VARCHAR" property="detailInfo" />
    <result column="NOTE" jdbcType="CLOB" property="note" />
    <result column="DIC_MONITOR_GRADE_KEY" jdbcType="VARCHAR" property="dicMonitorGradeKey" />
    <result column="DIC_REASON_TYPE_KEY" jdbcType="VARCHAR" property="dicReasonTypeKey" />
    <result column="WRIT_NUM" jdbcType="VARCHAR" property="writNum" />
    <result column="END_CASE_PATH" jdbcType="VARCHAR" property="endCasePath" />
    <result column="END_CASE_PATH_NAME" jdbcType="VARCHAR" property="endCasePathName" />
    <result column="NOTE_PATH" jdbcType="VARCHAR" property="notePath" />
    <result column="NOTE_PATH_NAME" jdbcType="VARCHAR" property="notePathName" />
    <result column="DIC_SUB_ORG_TYPE_KEY" jdbcType="VARCHAR" property="dicSubOrgTypeKey" />
    <result column="SUBMITTION_ORG" jdbcType="VARCHAR" property="submittionOrg" />
    <result column="COPY_ORG" jdbcType="VARCHAR" property="copyOrg" />
    <result column="LEGAL_BASIS" jdbcType="VARCHAR" property="legalBasis" />
    <result column="DIC_END_REASON_KEY" jdbcType="VARCHAR" property="dicEndReasonKey" />
    <result column="END_DETAIL_REASON" jdbcType="VARCHAR" property="endDetailReason" />
    <result column="END_PATH" jdbcType="VARCHAR" property="endPath" />
    <result column="END_PATH_NAME" jdbcType="VARCHAR" property="endPathName" />
    <result column="END_ACCOUNT_NAME" jdbcType="VARCHAR" property="endAccountName" />
    <result column="END_ACCOUNT_ID" jdbcType="VARCHAR" property="endAccountId" />
    <result column="PINGYI_PATH_NAME" jdbcType="VARCHAR" property="pingyiPathName" />
    <result column="PINGYI_PATH" jdbcType="VARCHAR" property="pingyiPath" />
    <result column="COP_ACCOUN_ID" jdbcType="VARCHAR" property="copAccounId" />
    <result column="OPT_TIME" jdbcType="TIMESTAMP" property="optTime" />
    <result column="DIC_BLANK_FLAG_KEY" jdbcType="VARCHAR" property="dicBlankFlagKey" />
    <result column="FLAG_ACCOUNT_NAME" jdbcType="VARCHAR" property="flagAccountName" />
    <result column="FLAG_ACCOUNT_ID" jdbcType="VARCHAR" property="flagAccountId" />
    <result column="FLAG_TIME" jdbcType="TIMESTAMP" property="flagTime" />
    <result column="FLAG_REASON_ID" jdbcType="VARCHAR" property="flagReasonId" />
    <result column="FLAG_DETAIL_REASON" jdbcType="VARCHAR" property="flagDetailReason" />
    <result column="FLAG_PATH" jdbcType="VARCHAR" property="flagPath" />
    <result column="FLAG_PATH_NAME" jdbcType="VARCHAR" property="flagPathName" />
    <result column="CREATED" jdbcType="TIMESTAMP" property="created" />
    <result column="CREATER" jdbcType="VARCHAR" property="creater" />
    <result column="UPDATED" jdbcType="TIMESTAMP" property="updated" />
    <result column="UPDATER" jdbcType="VARCHAR" property="updater" />
    <result column="DEL_FLAG" jdbcType="DECIMAL" property="delFlag" />
    <result column="CULPRIT_NAME" jdbcType="VARCHAR" property="culpritName" />
    <result column="GROUP_NAME" jdbcType="VARCHAR" property="groupName" />
    <result column="PROCESS_INSTANCE_ID" jdbcType="VARCHAR" property="processInstanceId" />
    <result column="FACT" jdbcType="VARCHAR" property="fact" />
    <result column="IS_PRINTJYS" jdbcType="DECIMAL" property="isPrintJYS" />
 	<result column="IS_PRINTSHB" jdbcType="DECIMAL" property="isPrintSHB" />
 	<result column="DIC_SDFS_KEY" jdbcType="VARCHAR" property="dicSdfsKey" />
  </resultMap>
  <sql id="Base_Column_List">
    t.ID, t.CULPRIT_ID, t.APPLY_DATE, t.REASON, t.DETAIL_INFO, t.NOTE, t.DIC_MONITOR_GRADE_KEY, t.DIC_REASON_TYPE_KEY, 
    t.WRIT_NUM, t.END_CASE_PATH, t.END_CASE_PATH_NAME, t.NOTE_PATH, t.NOTE_PATH_NAME, t.DIC_SUB_ORG_TYPE_KEY, 
    t.SUBMITTION_ORG, t.COPY_ORG, t.LEGAL_BASIS, t.DIC_END_REASON_KEY, t.END_DETAIL_REASON, t.END_PATH, 
    t.END_PATH_NAME, t.END_ACCOUNT_NAME, t.END_ACCOUNT_ID, t.PINGYI_PATH_NAME, t.PINGYI_PATH, t.COP_ACCOUN_ID, 
    t.OPT_TIME, t.DIC_BLANK_FLAG_KEY, t.FLAG_ACCOUNT_NAME, t.FLAG_ACCOUNT_ID, t.FLAG_TIME, t.FLAG_REASON_ID, 
    t.FLAG_DETAIL_REASON, t.FLAG_PATH, t.FLAG_PATH_NAME, t.CREATED, t.CREATER, t.UPDATED, t.UPDATER, 
   	t.DEL_FLAG,PROCESS_INSTANCE_ID,t.FACT,t.IS_PRINTJYS,t.IS_PRINTSHB,t.DIC_SDFS_KEY
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />,t2.name as culprit_name,t3.name as group_name
    from SF_REVOKE_OUT_OF_PRISON t left join SF_CULPRIT t2 on (t.CULPRIT_ID=t2.id) left join sys_group t3 on (t2.group_id=t3.id)
    where t.ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from SF_REVOKE_OUT_OF_PRISON
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.rowell.sifa.pojo.rewardspunishment.RevokeOutOfPrison">
    insert into SF_REVOKE_OUT_OF_PRISON (ID, CULPRIT_ID, APPLY_DATE, 
      REASON, DETAIL_INFO, NOTE, 
      DIC_MONITOR_GRADE_KEY, DIC_REASON_TYPE_KEY, WRIT_NUM, 
      END_CASE_PATH, END_CASE_PATH_NAME, NOTE_PATH, 
      NOTE_PATH_NAME, DIC_SUB_ORG_TYPE_KEY, SUBMITTION_ORG, 
      COPY_ORG, LEGAL_BASIS, DIC_END_REASON_KEY, 
      END_DETAIL_REASON, END_PATH, END_PATH_NAME, 
      END_ACCOUNT_NAME, END_ACCOUNT_ID, PINGYI_PATH_NAME, 
      PINGYI_PATH, COP_ACCOUN_ID, OPT_TIME, 
      DIC_BLANK_FLAG_KEY, FLAG_ACCOUNT_NAME, FLAG_ACCOUNT_ID, 
      FLAG_TIME, FLAG_REASON_ID, FLAG_DETAIL_REASON, 
      FLAG_PATH, FLAG_PATH_NAME, CREATED, 
      CREATER, UPDATED, UPDATER, 
      DEL_FLAG,PROCESS_INSTANCE_ID,FACT,IS_PRINTJYS,IS_PRINTSHB,DIC_SDFS_KEY)
    values (#{id,jdbcType=VARCHAR}, #{culpritId,jdbcType=VARCHAR}, #{applyDate,jdbcType=TIMESTAMP}, 
      #{reason,jdbcType=CLOB}, #{detailInfo,jdbcType=VARCHAR}, #{note,jdbcType=CLOB}, 
      #{dicMonitorGradeKey,jdbcType=VARCHAR}, #{dicReasonTypeKey,jdbcType=VARCHAR}, #{writNum,jdbcType=VARCHAR}, 
      #{endCasePath,jdbcType=VARCHAR}, #{endCasePathName,jdbcType=VARCHAR}, #{notePath,jdbcType=VARCHAR}, 
      #{notePathName,jdbcType=VARCHAR}, #{dicSubOrgTypeKey,jdbcType=VARCHAR}, #{submittionOrg,jdbcType=VARCHAR}, 
      #{copyOrg,jdbcType=VARCHAR}, #{legalBasis,jdbcType=VARCHAR}, #{dicEndReasonKey,jdbcType=VARCHAR}, 
      #{endDetailReason,jdbcType=VARCHAR}, #{endPath,jdbcType=VARCHAR}, #{endPathName,jdbcType=VARCHAR}, 
      #{endAccountName,jdbcType=VARCHAR}, #{endAccountId,jdbcType=VARCHAR}, #{pingyiPathName,jdbcType=VARCHAR}, 
      #{pingyiPath,jdbcType=VARCHAR}, #{copAccounId,jdbcType=VARCHAR}, #{optTime,jdbcType=TIMESTAMP}, 
      #{dicBlankFlagKey,jdbcType=VARCHAR}, #{flagAccountName,jdbcType=VARCHAR}, #{flagAccountId,jdbcType=VARCHAR}, 
      #{flagTime,jdbcType=TIMESTAMP}, #{flagReasonId,jdbcType=VARCHAR}, #{flagDetailReason,jdbcType=VARCHAR}, 
      #{flagPath,jdbcType=VARCHAR}, #{flagPathName,jdbcType=VARCHAR}, #{created,jdbcType=TIMESTAMP}, 
      #{creater,jdbcType=VARCHAR}, #{updated,jdbcType=TIMESTAMP}, #{updater,jdbcType=VARCHAR}, 
      #{delFlag,jdbcType=DECIMAL},#{processInstanceId,jdbcType=VARCHAR},#{fact,jdbcType=VARCHAR},
      #{isPrintJYS,jdbcType=DECIMAL},#{isPrintSHB,jdbcType=DECIMAL},#{dicSdfsKey,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.rowell.sifa.pojo.rewardspunishment.RevokeOutOfPrison">
    insert into SF_REVOKE_OUT_OF_PRISON
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="culpritId != null">
        CULPRIT_ID,
      </if>
      <if test="applyDate != null">
        APPLY_DATE,
      </if>
      <if test="reason != null">
        REASON,
      </if>
      <if test="detailInfo != null">
        DETAIL_INFO,
      </if>
      <if test="note != null">
        NOTE,
      </if>
      <if test="dicMonitorGradeKey != null">
        DIC_MONITOR_GRADE_KEY,
      </if>
      <if test="dicReasonTypeKey != null">
        DIC_REASON_TYPE_KEY,
      </if>
      <if test="writNum != null">
        WRIT_NUM,
      </if>
      <if test="endCasePath != null">
        END_CASE_PATH,
      </if>
      <if test="endCasePathName != null">
        END_CASE_PATH_NAME,
      </if>
      <if test="notePath != null">
        NOTE_PATH,
      </if>
      <if test="notePathName != null">
        NOTE_PATH_NAME,
      </if>
      <if test="dicSubOrgTypeKey != null">
        DIC_SUB_ORG_TYPE_KEY,
      </if>
      <if test="submittionOrg != null">
        SUBMITTION_ORG,
      </if>
      <if test="copyOrg != null">
        COPY_ORG,
      </if>
      <if test="legalBasis != null">
        LEGAL_BASIS,
      </if>
      <if test="dicEndReasonKey != null">
        DIC_END_REASON_KEY,
      </if>
      <if test="endDetailReason != null">
        END_DETAIL_REASON,
      </if>
      <if test="endPath != null">
        END_PATH,
      </if>
      <if test="endPathName != null">
        END_PATH_NAME,
      </if>
      <if test="endAccountName != null">
        END_ACCOUNT_NAME,
      </if>
      <if test="endAccountId != null">
        END_ACCOUNT_ID,
      </if>
      <if test="pingyiPathName != null">
        PINGYI_PATH_NAME,
      </if>
      <if test="pingyiPath != null">
        PINGYI_PATH,
      </if>
      <if test="copAccounId != null">
        COP_ACCOUN_ID,
      </if>
      <if test="optTime != null">
        OPT_TIME,
      </if>
      <if test="dicBlankFlagKey != null">
        DIC_BLANK_FLAG_KEY,
      </if>
      <if test="flagAccountName != null">
        FLAG_ACCOUNT_NAME,
      </if>
      <if test="flagAccountId != null">
        FLAG_ACCOUNT_ID,
      </if>
      <if test="flagTime != null">
        FLAG_TIME,
      </if>
      <if test="flagReasonId != null">
        FLAG_REASON_ID,
      </if>
      <if test="flagDetailReason != null">
        FLAG_DETAIL_REASON,
      </if>
      <if test="flagPath != null">
        FLAG_PATH,
      </if>
      <if test="flagPathName != null">
        FLAG_PATH_NAME,
      </if>
      <if test="created != null">
        CREATED,
      </if>
      <if test="creater != null">
        CREATER,
      </if>
      <if test="updated != null">
        UPDATED,
      </if>
      <if test="updater != null">
        UPDATER,
      </if>
      <if test="delFlag != null">
        DEL_FLAG,
      </if>
      <if test="processInstanceId != null">
        PROCESS_INSTANCE_ID,
      </if>
      <if test="fact != null">
        FACT,
      </if>
      <if test="isPrintJYS != null">
        IS_PRINTJYS,
      </if>
      <if test="isPrintSHB != null">
        IS_PRINTSHB,
      </if>
       <if test="dicSdfsKey != null">
        DIC_SDFS_KEY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="culpritId != null">
        #{culpritId,jdbcType=VARCHAR},
      </if>
      <if test="applyDate != null">
        #{applyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="reason != null">
        #{reason,jdbcType=CLOB},
      </if>
      <if test="detailInfo != null">
        #{detailInfo,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        #{note,jdbcType=CLOB},
      </if>
      <if test="dicMonitorGradeKey != null">
        #{dicMonitorGradeKey,jdbcType=VARCHAR},
      </if>
      <if test="dicReasonTypeKey != null">
        #{dicReasonTypeKey,jdbcType=VARCHAR},
      </if>
      <if test="writNum != null">
        #{writNum,jdbcType=VARCHAR},
      </if>
      <if test="endCasePath != null">
        #{endCasePath,jdbcType=VARCHAR},
      </if>
      <if test="endCasePathName != null">
        #{endCasePathName,jdbcType=VARCHAR},
      </if>
      <if test="notePath != null">
        #{notePath,jdbcType=VARCHAR},
      </if>
      <if test="notePathName != null">
        #{notePathName,jdbcType=VARCHAR},
      </if>
      <if test="dicSubOrgTypeKey != null">
        #{dicSubOrgTypeKey,jdbcType=VARCHAR},
      </if>
      <if test="submittionOrg != null">
        #{submittionOrg,jdbcType=VARCHAR},
      </if>
      <if test="copyOrg != null">
        #{copyOrg,jdbcType=VARCHAR},
      </if>
      <if test="legalBasis != null">
        #{legalBasis,jdbcType=VARCHAR},
      </if>
      <if test="dicEndReasonKey != null">
        #{dicEndReasonKey,jdbcType=VARCHAR},
      </if>
      <if test="endDetailReason != null">
        #{endDetailReason,jdbcType=VARCHAR},
      </if>
      <if test="endPath != null">
        #{endPath,jdbcType=VARCHAR},
      </if>
      <if test="endPathName != null">
        #{endPathName,jdbcType=VARCHAR},
      </if>
      <if test="endAccountName != null">
        #{endAccountName,jdbcType=VARCHAR},
      </if>
      <if test="endAccountId != null">
        #{endAccountId,jdbcType=VARCHAR},
      </if>
      <if test="pingyiPathName != null">
        #{pingyiPathName,jdbcType=VARCHAR},
      </if>
      <if test="pingyiPath != null">
        #{pingyiPath,jdbcType=VARCHAR},
      </if>
      <if test="copAccounId != null">
        #{copAccounId,jdbcType=VARCHAR},
      </if>
      <if test="optTime != null">
        #{optTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dicBlankFlagKey != null">
        #{dicBlankFlagKey,jdbcType=VARCHAR},
      </if>
      <if test="flagAccountName != null">
        #{flagAccountName,jdbcType=VARCHAR},
      </if>
      <if test="flagAccountId != null">
        #{flagAccountId,jdbcType=VARCHAR},
      </if>
      <if test="flagTime != null">
        #{flagTime,jdbcType=TIMESTAMP},
      </if>
      <if test="flagReasonId != null">
        #{flagReasonId,jdbcType=VARCHAR},
      </if>
      <if test="flagDetailReason != null">
        #{flagDetailReason,jdbcType=VARCHAR},
      </if>
      <if test="flagPath != null">
        #{flagPath,jdbcType=VARCHAR},
      </if>
      <if test="flagPathName != null">
        #{flagPathName,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="creater != null">
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="updated != null">
        #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        #{updater,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=DECIMAL},
      </if>
      <if test="processInstanceId != null">
        #{processInstanceId,jdbcType=VARCHAR},
      </if>
       <if test="fact != null">
        #{FACT,jdbcType=VARCHAR},
      </if>
      <if test="isPrintJYS != null">
        #{isPrintJYS,jdbcType=DECIMAL},
      </if>
      <if test="isPrintSHB != null">
        #{isPrintSHB,jdbcType=DECIMAL},
      </if>
      <if test="dicSdfsKey != null">
         #{dicSdfsKey,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rowell.sifa.pojo.rewardspunishment.RevokeOutOfPrison">
    update SF_REVOKE_OUT_OF_PRISON
    <set>
      <if test="culpritId != null">
        CULPRIT_ID = #{culpritId,jdbcType=VARCHAR},
      </if>
      <if test="applyDate != null">
        APPLY_DATE = #{applyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="reason != null">
        REASON = #{reason,jdbcType=CLOB},
      </if>
      <if test="detailInfo != null">
        DETAIL_INFO = #{detailInfo,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        NOTE = #{note,jdbcType=CLOB},
      </if>
      <if test="dicMonitorGradeKey != null">
        DIC_MONITOR_GRADE_KEY = #{dicMonitorGradeKey,jdbcType=VARCHAR},
      </if>
      <if test="dicReasonTypeKey != null">
        DIC_REASON_TYPE_KEY = #{dicReasonTypeKey,jdbcType=VARCHAR},
      </if>
      <if test="writNum != null">
        WRIT_NUM = #{writNum,jdbcType=VARCHAR},
      </if>
      <if test="endCasePath != null">
        END_CASE_PATH = #{endCasePath,jdbcType=VARCHAR},
      </if>
      <if test="endCasePathName != null">
        END_CASE_PATH_NAME = #{endCasePathName,jdbcType=VARCHAR},
      </if>
      <if test="notePath != null">
        NOTE_PATH = #{notePath,jdbcType=VARCHAR},
      </if>
      <if test="notePathName != null">
        NOTE_PATH_NAME = #{notePathName,jdbcType=VARCHAR},
      </if>
      <if test="dicSubOrgTypeKey != null">
        DIC_SUB_ORG_TYPE_KEY = #{dicSubOrgTypeKey,jdbcType=VARCHAR},
      </if>
      <if test="submittionOrg != null">
        SUBMITTION_ORG = #{submittionOrg,jdbcType=VARCHAR},
      </if>
      <if test="copyOrg != null">
        COPY_ORG = #{copyOrg,jdbcType=VARCHAR},
      </if>
      <if test="legalBasis != null">
        LEGAL_BASIS = #{legalBasis,jdbcType=VARCHAR},
      </if>
      <if test="dicEndReasonKey != null">
        DIC_END_REASON_KEY = #{dicEndReasonKey,jdbcType=VARCHAR},
      </if>
      <if test="endDetailReason != null">
        END_DETAIL_REASON = #{endDetailReason,jdbcType=VARCHAR},
      </if>
      <if test="endPath != null">
        END_PATH = #{endPath,jdbcType=VARCHAR},
      </if>
      <if test="endPathName != null">
        END_PATH_NAME = #{endPathName,jdbcType=VARCHAR},
      </if>
      <if test="endAccountName != null">
        END_ACCOUNT_NAME = #{endAccountName,jdbcType=VARCHAR},
      </if>
      <if test="endAccountId != null">
        END_ACCOUNT_ID = #{endAccountId,jdbcType=VARCHAR},
      </if>
      <if test="pingyiPathName != null">
        PINGYI_PATH_NAME = #{pingyiPathName,jdbcType=VARCHAR},
      </if>
      <if test="pingyiPath != null">
        PINGYI_PATH = #{pingyiPath,jdbcType=VARCHAR},
      </if>
      <if test="copAccounId != null">
        COP_ACCOUN_ID = #{copAccounId,jdbcType=VARCHAR},
      </if>
      <if test="optTime != null">
        OPT_TIME = #{optTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dicBlankFlagKey != null">
        DIC_BLANK_FLAG_KEY = #{dicBlankFlagKey,jdbcType=VARCHAR},
      </if>
      <if test="flagAccountName != null">
        FLAG_ACCOUNT_NAME = #{flagAccountName,jdbcType=VARCHAR},
      </if>
      <if test="flagAccountId != null">
        FLAG_ACCOUNT_ID = #{flagAccountId,jdbcType=VARCHAR},
      </if>
      <if test="flagTime != null">
        FLAG_TIME = #{flagTime,jdbcType=TIMESTAMP},
      </if>
      <if test="flagReasonId != null">
        FLAG_REASON_ID = #{flagReasonId,jdbcType=VARCHAR},
      </if>
      <if test="flagDetailReason != null">
        FLAG_DETAIL_REASON = #{flagDetailReason,jdbcType=VARCHAR},
      </if>
      <if test="flagPath != null">
        FLAG_PATH = #{flagPath,jdbcType=VARCHAR},
      </if>
      <if test="flagPathName != null">
        FLAG_PATH_NAME = #{flagPathName,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        CREATED = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="creater != null">
        CREATER = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="updated != null">
        UPDATED = #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        UPDATER = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        DEL_FLAG = #{delFlag,jdbcType=DECIMAL},
      </if>
      <if test="processInstanceId != null">
        PROCESS_INSTANCE_ID = #{processInstanceId,jdbcType=VARCHAR},
      </if>
       <if test="fact != null">
        FACT = #{fact,jdbcType=VARCHAR},
      </if>
      <if test="isPrintJYS != null">
        IS_PRINTJYS=#{isPrintJYS,jdbcType=DECIMAL},
      </if>
      <if test="isPrintSHB != null">
        IS_PRINTSHB=#{isPrintSHB,jdbcType=DECIMAL},
      </if>
      <if test="dicSdfsKey != null">
        DIC_SDFS_KEY= #{dicSdfsKey,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rowell.sifa.pojo.rewardspunishment.RevokeOutOfPrison">
    update SF_REVOKE_OUT_OF_PRISON
    set CULPRIT_ID = #{culpritId,jdbcType=VARCHAR},
      APPLY_DATE = #{applyDate,jdbcType=TIMESTAMP},
      REASON = #{reason,jdbcType=CLOB},
      DETAIL_INFO = #{detailInfo,jdbcType=VARCHAR},
      NOTE = #{note,jdbcType=CLOB},
      DIC_MONITOR_GRADE_KEY = #{dicMonitorGradeKey,jdbcType=VARCHAR},
      DIC_REASON_TYPE_KEY = #{dicReasonTypeKey,jdbcType=VARCHAR},
      WRIT_NUM = #{writNum,jdbcType=VARCHAR},
      END_CASE_PATH = #{endCasePath,jdbcType=VARCHAR},
      END_CASE_PATH_NAME = #{endCasePathName,jdbcType=VARCHAR},
      NOTE_PATH = #{notePath,jdbcType=VARCHAR},
      NOTE_PATH_NAME = #{notePathName,jdbcType=VARCHAR},
      DIC_SUB_ORG_TYPE_KEY = #{dicSubOrgTypeKey,jdbcType=VARCHAR},
      SUBMITTION_ORG = #{submittionOrg,jdbcType=VARCHAR},
      COPY_ORG = #{copyOrg,jdbcType=VARCHAR},
      LEGAL_BASIS = #{legalBasis,jdbcType=VARCHAR},
      DIC_END_REASON_KEY = #{dicEndReasonKey,jdbcType=VARCHAR},
      END_DETAIL_REASON = #{endDetailReason,jdbcType=VARCHAR},
      END_PATH = #{endPath,jdbcType=VARCHAR},
      END_PATH_NAME = #{endPathName,jdbcType=VARCHAR},
      END_ACCOUNT_NAME = #{endAccountName,jdbcType=VARCHAR},
      END_ACCOUNT_ID = #{endAccountId,jdbcType=VARCHAR},
      PINGYI_PATH_NAME = #{pingyiPathName,jdbcType=VARCHAR},
      PINGYI_PATH = #{pingyiPath,jdbcType=VARCHAR},
      COP_ACCOUN_ID = #{copAccounId,jdbcType=VARCHAR},
      OPT_TIME = #{optTime,jdbcType=TIMESTAMP},
      DIC_BLANK_FLAG_KEY = #{dicBlankFlagKey,jdbcType=VARCHAR},
      FLAG_ACCOUNT_NAME = #{flagAccountName,jdbcType=VARCHAR},
      FLAG_ACCOUNT_ID = #{flagAccountId,jdbcType=VARCHAR},
      FLAG_TIME = #{flagTime,jdbcType=TIMESTAMP},
      FLAG_REASON_ID = #{flagReasonId,jdbcType=VARCHAR},
      FLAG_DETAIL_REASON = #{flagDetailReason,jdbcType=VARCHAR},
      FLAG_PATH = #{flagPath,jdbcType=VARCHAR},
      FLAG_PATH_NAME = #{flagPathName,jdbcType=VARCHAR},
      CREATED = #{created,jdbcType=TIMESTAMP},
      CREATER = #{creater,jdbcType=VARCHAR},
      UPDATED = #{updated,jdbcType=TIMESTAMP},
      UPDATER = #{updater,jdbcType=VARCHAR},
      DEL_FLAG = #{delFlag,jdbcType=DECIMAL},
      PROCESS_INSTANCE_ID = #{processInstanceId,jdbcType=VARCHAR},
      FACT = #{fact,jdbcType=VARCHAR},
      IS_PRINTJYS=#{isPrintJYS,jdbcType=DECIMAL},
      IS_PRINTSHB=#{isPrintSHB,jdbcType=DECIMAL},
      DIC_SDFS_KEY= #{dicSdfsKey,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectAll" parameterType="com.rowell.sifa.pojo.rewardspunishment.RevokeOutOfPrison" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />,t2.name as culprit_name,t3.name as group_name
    from SF_REVOKE_OUT_OF_PRISON t left join SF_CULPRIT t2 on (t.CULPRIT_ID=t2.id) left join sys_group t3 on (t2.group_id=t3.id)
    <where>
      <include refid="findAllWhere" />
    </where>
    <if test="orderStr!=null">
      <![CDATA[
           order by  ${orderStr}
      ]]>
    </if>
  </select>
  <sql id="findAllWhere">
  	<if test="culprit!=null and culprit.name != null and culprit.name!=''">
      AND t2.NAME like '%'|| #{culprit.name,jdbcType=VARCHAR}||'%'
    </if>
    <if test="groupId != null and groupId!=''">
     	 <![CDATA[  
     	 AND  exists ( select t4.id from (select * from sys_group  start with id= #{groupId,jdbcType=VARCHAR} connect by prior id = parent_id) t4 where t2.group_id=t4.id)
       ]]>  
    </if>
    <!--  <if test="culprit!=null and culprit.groupId != null and culprit.groupId!=''">
      AND t2.GROUP_ID = #{groupId,jdbcType=VARCHAR}
    </if> -->
    <if test="culpritId != null and culpritId!=''">
      AND t.CULPRIT_ID = #{culpritId,jdbcType=VARCHAR}
    </if>
    <if test="applyDate != null">
      AND t.APPLY_DATE = #{applyDate,jdbcType=TIMESTAMP}
    </if>
    <if test="reason != null and reason!=''">
      AND t.REASON = #{reason,jdbcType=CLOB}
    </if>
    <if test="detailInfo != null and detailInfo!=''">
      AND t.DETAIL_INFO = #{detailInfo,jdbcType=VARCHAR}
    </if>
    <if test="note != null and note!=''">
      AND t.NOTE = #{note,jdbcType=CLOB}
    </if>
    <if test="dicMonitorGradeKey != null and dicMonitorGradeKey!=''">
      AND t.DIC_MONITOR_GRADE_KEY = #{dicMonitorGradeKey,jdbcType=VARCHAR}
    </if>
    <if test="dicReasonTypeKey != null and dicReasonTypeKey!=''">
      AND t.DIC_REASON_TYPE_KEY = #{dicReasonTypeKey,jdbcType=VARCHAR}
    </if>
    <if test="writNum != null and writNum!=''">
      AND t.WRIT_NUM = #{writNum,jdbcType=VARCHAR}
    </if>
    <if test="endCasePath != null and endCasePath!=''">
      AND t.END_CASE_PATH = #{endCasePath,jdbcType=VARCHAR}
    </if>
    <if test="endCasePathName != null and endCasePathName!=''">
      AND t.END_CASE_PATH_NAME = #{endCasePathName,jdbcType=VARCHAR}
    </if>
    <if test="notePath != null and notePath!=''">
      AND t.NOTE_PATH = #{notePath,jdbcType=VARCHAR}
    </if>
    <if test="notePathName != null and notePathName!=''">
      AND t.NOTE_PATH_NAME = #{notePathName,jdbcType=VARCHAR}
    </if>
    <if test="dicSubOrgTypeKey != null and dicSubOrgTypeKey!=''">
      AND t.DIC_SUB_ORG_TYPE_KEY = #{dicSubOrgTypeKey,jdbcType=VARCHAR}
    </if>
    <if test="submittionOrg != null and submittionOrg!=''">
      AND t.SUBMITTION_ORG = #{submittionOrg,jdbcType=VARCHAR}
    </if>
    <if test="copyOrg != null and copyOrg!=''">
      AND t.COPY_ORG = #{copyOrg,jdbcType=VARCHAR}
    </if>
    <if test="legalBasis != null and legalBasis!=''">
      AND t.LEGAL_BASIS = #{legalBasis,jdbcType=VARCHAR}
    </if>
    <if test="dicEndReasonKey != null and dicEndReasonKey!=''">
      AND t.DIC_END_REASON_KEY = #{dicEndReasonKey,jdbcType=VARCHAR}
    </if>
    <if test="endDetailReason != null and endDetailReason!=''">
      AND t.END_DETAIL_REASON = #{endDetailReason,jdbcType=VARCHAR}
    </if>
    <if test="endPath != null and endPath!=''">
      AND t.END_PATH = #{endPath,jdbcType=VARCHAR}
    </if>
    <if test="endPathName != null and endPathName!=''">
      AND t.END_PATH_NAME = #{endPathName,jdbcType=VARCHAR}
    </if>
    <if test="endAccountName != null and endAccountName!=''">
      AND t.END_ACCOUNT_NAME = #{endAccountName,jdbcType=VARCHAR}
    </if>
    <if test="endAccountId != null and endAccountId!=''">
      AND t.END_ACCOUNT_ID = #{endAccountId,jdbcType=VARCHAR}
    </if>
    <if test="pingyiPathName != null and pingyiPathName!=''">
      AND t.PINGYI_PATH_NAME = #{pingyiPathName,jdbcType=VARCHAR}
    </if>
    <if test="pingyiPath != null and pingyiPath!=''">
      AND t.PINGYI_PATH = #{pingyiPath,jdbcType=VARCHAR}
    </if>
    <if test="copAccounId != null and copAccounId!=''">
      AND t.COP_ACCOUN_ID = #{copAccounId,jdbcType=VARCHAR}
    </if>
    <if test="optTime != null">
      AND t.OPT_TIME = #{optTime,jdbcType=TIMESTAMP}
    </if>
    <if test="dicBlankFlagKey != null and dicBlankFlagKey!=''">
      AND t.DIC_BLANK_FLAG_KEY = #{dicBlankFlagKey,jdbcType=VARCHAR}
    </if>
    <if test="flagAccountName != null and flagAccountName!=''">
      AND t.FLAG_ACCOUNT_NAME = #{flagAccountName,jdbcType=VARCHAR}
    </if>
    <if test="flagAccountId != null and flagAccountId!=''">
      AND t.FLAG_ACCOUNT_ID = #{flagAccountId,jdbcType=VARCHAR}
    </if>
    <if test="flagTime != null">
      AND t.FLAG_TIME = #{flagTime,jdbcType=TIMESTAMP}
    </if>
    <if test="flagReasonId != null and flagReasonId!=''">
      AND t.FLAG_REASON_ID = #{flagReasonId,jdbcType=VARCHAR}
    </if>
    <if test="flagDetailReason != null and flagDetailReason!=''">
      AND t.FLAG_DETAIL_REASON = #{flagDetailReason,jdbcType=VARCHAR}
    </if>
    <if test="flagPath != null and flagPath!=''">
      AND t.FLAG_PATH = #{flagPath,jdbcType=VARCHAR}
    </if>
    <if test="flagPathName != null and flagPathName!=''">
      AND t.FLAG_PATH_NAME = #{flagPathName,jdbcType=VARCHAR}
    </if>
    <if test="created != null">
      AND t.CREATED = #{created,jdbcType=TIMESTAMP}
    </if>
     <if test="searchStartDate != null">
    <![CDATA[ 
      AND t.CREATED >= #{searchStartDate,jdbcType=TIMESTAMP}
       ]]> 
    </if>
    
    <if test="searchEndDate != null">
    	 <![CDATA[  
      AND t.CREATED <= #{searchEndDate,jdbcType=TIMESTAMP}
       ]]>  
    </if>
    <if test="creater != null and creater!=''">
      AND t.CREATER = #{creater,jdbcType=VARCHAR}
    </if>
    <if test="updated != null">
      AND t.UPDATED = #{updated,jdbcType=TIMESTAMP}
    </if>
    <if test="updater != null and updater!=''">
      AND t.UPDATER = #{updater,jdbcType=VARCHAR}
    </if>
    <if test="delFlag != null">
      AND t.DEL_FLAG = #{delFlag,jdbcType=DECIMAL}
    </if>
    <if test="processInstanceId != null and processInstanceId!=''">
      AND t.PROCESS_INSTANCE_ID = #{processInstanceId,jdbcType=VARCHAR}
    </if>
    <if test="fact != null and fact!=''">
      AND t.FACT = #{fact,jdbcType=VARCHAR}
    </if>
    <if test="isPrintJYS != null">
      AND  t.IS_PRINTJYS=#{isPrintJYS,jdbcType=DECIMAL}
      </if>
      <if test="isPrintSHB != null">
      AND  t.IS_PRINTSHB=#{isPrintSHB,jdbcType=DECIMAL}
      </if>
       <if test="dicSdfsKey != null">
      AND t.DIC_SDFS_KEY= #{dicSdfsKey,jdbcType=VARCHAR}
      </if>
  </sql>
</mapper>