<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rowell.sifa.mapper.dailymgr.ReceiptMapper">
  <resultMap id="BaseResultMap" type="com.rowell.sifa.pojo.homepage.Receipt">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="SEND_UNIT" jdbcType="VARCHAR" property="sendUnit" />
    <result column="RECEIVER_UNIT" jdbcType="VARCHAR" property="receiverUnit" />
    <result column="DOCUMENT_TITLE" jdbcType="VARCHAR" property="documentTitle" />
    <result column="TAKE_TIME" jdbcType="TIMESTAMP" property="takeTime" />
    <result column="STATE" jdbcType="VARCHAR" property="state" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, SEND_UNIT, RECEIVER_UNIT, DOCUMENT_TITLE, TAKE_TIME, STATE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SF_RECEIPT
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from SF_RECEIPT
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.rowell.sifa.pojo.homepage.Receipt">
    insert into SF_RECEIPT (ID, SEND_UNIT, RECEIVER_UNIT, 
      DOCUMENT_TITLE, TAKE_TIME, STATE
      )
    values (#{id,jdbcType=VARCHAR}, #{sendUnit,jdbcType=VARCHAR}, #{receiverUnit,jdbcType=VARCHAR}, 
      #{documentTitle,jdbcType=VARCHAR}, #{takeTime,jdbcType=TIMESTAMP}, #{state,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.rowell.sifa.pojo.homepage.Receipt">
    insert into SF_RECEIPT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="sendUnit != null">
        SEND_UNIT,
      </if>
      <if test="receiverUnit != null">
        RECEIVER_UNIT,
      </if>
      <if test="documentTitle != null">
        DOCUMENT_TITLE,
      </if>
      <if test="takeTime != null">
        TAKE_TIME,
      </if>
      <if test="state != null">
        STATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="sendUnit != null">
        #{sendUnit,jdbcType=VARCHAR},
      </if>
      <if test="receiverUnit != null">
        #{receiverUnit,jdbcType=VARCHAR},
      </if>
      <if test="documentTitle != null">
        #{documentTitle,jdbcType=VARCHAR},
      </if>
      <if test="takeTime != null">
        #{takeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rowell.sifa.pojo.homepage.Receipt">
    update SF_RECEIPT
    <set>
      <if test="sendUnit != null">
        SEND_UNIT = #{sendUnit,jdbcType=VARCHAR},
      </if>
      <if test="receiverUnit != null">
        RECEIVER_UNIT = #{receiverUnit,jdbcType=VARCHAR},
      </if>
      <if test="documentTitle != null">
        DOCUMENT_TITLE = #{documentTitle,jdbcType=VARCHAR},
      </if>
      <if test="takeTime != null">
        TAKE_TIME = #{takeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null">
        STATE = #{state,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rowell.sifa.pojo.homepage.Receipt">
    update SF_RECEIPT
    set SEND_UNIT = #{sendUnit,jdbcType=VARCHAR},
      RECEIVER_UNIT = #{receiverUnit,jdbcType=VARCHAR},
      DOCUMENT_TITLE = #{documentTitle,jdbcType=VARCHAR},
      TAKE_TIME = #{takeTime,jdbcType=TIMESTAMP},
      STATE = #{state,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
  <select id="selectAll" parameterType="com.rowell.sifa.pojo.homepage.Receipt" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SF_RECEIPT t
    <where>
      <include refid="findAllWhere" />
    </where>
    <if test="orderStr!=null">
      <![CDATA[
           order by ${orderStr}
      ]]>
    </if>
  </select>
  <sql id="findAllWhere">
    <if test="sendUnit != null and sendUnit!=''">
      AND SEND_UNIT = #{sendUnit,jdbcType=VARCHAR}
    </if>
    <if test="receiverUnit != null and receiverUnit!=''">
      AND RECEIVER_UNIT = #{receiverUnit,jdbcType=VARCHAR}
    </if>
     <if test="searchStartDate != null and searchStartDate!=''">
     <![CDATA[
      AND TAKE_TIME >= #{searchStartDate,jdbcType=TIMESTAMP}
      ]]>
    </if>
     <if test="searchEndDate != null and searchEndDate!=''">
     <![CDATA[
      AND TAKE_TIME <= #{searchEndDate,jdbcType=TIMESTAMP}
      ]]>
    </if>
    <if test="state != null and state!=''">
      AND STATE = #{state,jdbcType=VARCHAR}
    </if>
  </sql>
</mapper>