<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rowell.sifa.mapper.monitoring.TerminalHistoryMapper">
	<resultMap id="BaseResultMap"
		type="com.rowell.sifa.pojo.monitoring.TerminalHistory">
		<id column="ID" jdbcType="VARCHAR" property="id" />
		<result column="TERMINAL_ID" jdbcType="VARCHAR" property="terminalId" />
		<result column="GPSTIME" jdbcType="TIMESTAMP" property="gpstime" />
		<result column="LOCATION" jdbcType="VARCHAR" property="location" />
		<result column="ERRORCODE" jdbcType="VARCHAR" property="errorCode" />
		<result column="MOBILENUMBER" jdbcType="VARCHAR" property="mobileNumber" />
		<result column="LON" jdbcType="VARCHAR" property="lon" />
		<result column="LAT" jdbcType="VARCHAR" property="lat" />
		<result column="RCVTIME" jdbcType="TIMESTAMP" property="rcvtime" />
		<result column="ISLIVE" jdbcType="VARCHAR" property="isLive" />
		<result column="POWER" jdbcType="VARCHAR" property="power" />
		<result column="ISALARM" jdbcType="VARCHAR" property="isAlarm" />
		<result column="HEARTRATE" jdbcType="VARCHAR" property="heartRate" />
		<result column="LOCATIONTYPE" jdbcType="VARCHAR" property="locationType" />
		<result column="CREATED" jdbcType="TIMESTAMP" property="created" />
		<result column="CREATER" jdbcType="VARCHAR" property="creater" />
		<result column="UPDATED" jdbcType="TIMESTAMP" property="updated" />
		<result column="UPDATER" jdbcType="VARCHAR" property="updater" />
		<result column="DEL_FLAG" jdbcType="DECIMAL" property="delFlag" />
		<result column="CULPRITNAME" jdbcType="VARCHAR" property="culpritName" />
		<result column="CULPRITID" jdbcType="VARCHAR" property="culpritId" />
		<result column="GROUPNAME" jdbcType="VARCHAR" property="groupName" />
		<result column="GROUPID" jdbcType="VARCHAR" property="groupId" />
		<result column="TYPE" jdbcType="VARCHAR" property="type" />
	</resultMap>
	<sql id="Base_Column_List">
		t.ID, t.TERMINAL_ID,t.GPSTIME,t.LOCATION,
		t.ERRORCODE,t.MOBILENUMBER,t.LON,LAT,
		t.RCVTIME ,t.ISLIVE,t. POWER,
		t.ISALARM ,t.HEARTRATE ,
		t.LOCATIONTYPE,
		t.CREATED,
		t.CREATER, t.UPDATED, t.UPDATER, t.DEL_FLAG
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="BaseResultMap">
	select 
		<include refid="Base_Column_List" />,c.id as culpritId, c.NAME as culpritName,n.TYPE,g.name as groupName,g.id as groupId 
		from SF_TERMINAL_HIS t left JOIN sf_TERMINAL n ON
		t.TERMINAL_ID=n.id left join sf_culprit c on n.culprit_id=c.id 
		left join sys_group g on c.group_id = g.id 
		where t.ID = #{id,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from
		SF_TERMINAL_HIS
		where ID = #{id,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.rowell.sifa.pojo.monitoring.TerminalHistory">
		insert into
		SF_TERMINAL_HIS (ID, TERMINAL_ID, GPSTIME,
		LOCATION, ERRORCODE,
		MOBILENUMBER, LON, LAT,
		RCVTIME ,ISLIVE ,POWER ,ISALARM ,HEARTRATE
		 ,LOCATIONTYPE,
		CREATED, CREATER, UPDATED,
		UPDATER,
		DEL_FLAG)
		values (#{id,jdbcType=VARCHAR},
		#{terminalId,jdbcType=DECIMAL},
		#{gpstime,jdbcType=TIMESTAMP},
		#{location,jdbcType=VARCHAR}, #{errorCode,jdbcType=VARCHAR},
		#{mobileNumber,jdbcType=VARCHAR},
		#{lon,jdbcType=VARCHAR},#{lat,jdbcType=VARCHAR},
		#{rcvtime,jdbcType=TIMESTAMP},#{isLive,jdbcType=VARCHAR},#{power,jdbcType=VARCHAR},
		#{isAlarm,jdbcType=VARCHAR},#{heartRate,jdbcType=VARCHAR},
		#{locationType,jdbcType=VARCHAR},
		#{created,jdbcType=TIMESTAMP},
		#{creater,jdbcType=VARCHAR}, #{updated,jdbcType=TIMESTAMP},
		#{updater,jdbcType=VARCHAR}, #{delFlag,jdbcType=DECIMAL})
	</insert>
	<insert id="insertSelective" parameterType="com.rowell.sifa.pojo.monitoring.TerminalHistory">
		insert into SF_TERMINAL_HIS
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="terminalId != null">
				TERMINAL_ID,
			</if>
			<if test="gpstime != null">
				GPSTIME,
			</if>
			<if test="location != null">
				LOCATION,
			</if>
			<if test="errorCode != null">
				ERRORCODE,
			</if>
			<if test="mobileNumber != null">
				MOBILENUMBER,
			</if>
			<if test="lon != null">
				LON,
			</if>
			<if test="lat != null">
				LAT,
			</if>
			<if test="rcvtime != null">
				RCVTIME,
			</if>
			<if test="isLive != null">
				ISLIVE,
			</if>
			<if test="power != null">
				POWER,
			</if>
			<if test="isAlarm != null">
				ISALARM,
			</if>
			<if test="heartRate != null">
				HEARTRATE,
			</if>
			
			<if test="locationType != null">
				LOCATIONTYPE,
			</if>
			<if test="created != null">
				CREATED,
			</if>
			<if test="creater != null">
				CREATER,
			</if>
			<if test="updated != null">
				UPDATED,
			</if>
			<if test="updater != null">
				UPDATER,
			</if>
			<if test="delFlag != null">
				DEL_FLAG,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="terminalId != null">
				#{terminalId,jdbcType=VARCHAR},
			</if>
			<if test="gpstime != null">
				#{gpstime,jdbcType=TIMESTAMP},
			</if>
			<if test="location != null">
				#{location,jdbcType=VARCHAR},
			</if>
			<if test="errorCode != null">
				#{errorCode,jdbcType=VARCHAR},
			</if>
			<if test="mobileNumber != null">
				#{mobileNumber,jdbcType=VARCHAR},
			</if>
			<if test="lon != null">
				#{lon,jdbcType=VARCHAR},
			</if>
			<if test="lat != null">
				#{lat,jdbcType=VARCHAR},
			</if>
			<if test="rcvtime != null">
				#{rcvtime,jdbcType=TIMESTAMP},
			</if>
			<if test="isLive != null">
				#{isLive,jdbcType=VARCHAR},
			</if>
			<if test="power != null">
				#{power,jdbcType=VARCHAR},

			</if>
			<if test="isAlarm != null">
				#{isAlarm,jdbcType=VARCHAR},
			</if>
			<if test="heartRate != null">
				#{heartRate,jdbcType=VARCHAR},
			</if>
	
			<if test="locationType != null">
				#{locationType,jdbcType=VARCHAR},
			</if>
			<if test="created != null">
				#{created,jdbcType=TIMESTAMP},
			</if>
			<if test="creater != null">
				#{creater,jdbcType=VARCHAR},
			</if>
			<if test="updated != null">
				#{updated,jdbcType=TIMESTAMP},
			</if>
			<if test="updater != null">
				#{updater,jdbcType=VARCHAR},
			</if>
			<if test="delFlag != null">
				#{delFlag,jdbcType=DECIMAL},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.rowell.sifa.pojo.monitoring.TerminalHistory">
		update SF_TERMINAL_HIS
		<set>
			<if test="terminalId != null">
				TERMINAL_ID = #{terminalId,jdbcType=DECIMAL},
			</if>
			<if test="gpstime != null">
				GPSTIME = #{gpstime,jdbcType=TIMESTAMP},
			</if>
			<if test="location != null">
				LOCATION = #{location,jdbcType=VARCHAR},
			</if>
			<if test="errorCode != null">
				ERRORCODE = #{errorCode,jdbcType=VARCHAR},
			</if>
			<if test="mobileNumber != null">
				MOBILENUMBER = #{mobileNumber,jdbcType=VARCHAR},
			</if>
			<if test="lon != null">
				LON = #{lon,jdbcType=VARCHAR},
			</if>
			<if test="lat != null">
				LAT = #{lat,jdbcType=VARCHAR},
			</if>
			<if test="rcvtime != null">
				RCVTIME = #{rcvtime,jdbcType=TIMESTAMP},
			</if>
			<if test="isLive != null">
				ISLIVE= #{isLive,jdbcType=VARCHAR},
			</if>
			<if test="power != null">
				POWER=#{power,jdbcType=VARCHAR},
			</if>
			<if test="isAlarm != null">
				ISALARM =#{isAlarm,jdbcType=VARCHAR},
			</if>
			<if test="heartRate != null">
				HEARTRATE=#{heartRate,jdbcType=VARCHAR},
			</if>
		
			<if test="locationType != null">
				LOCATIONTYPE = #{locationType,jdbcType=VARCHAR},
			</if>
			<if test="created != null">
				CREATED = #{created,jdbcType=TIMESTAMP},
			</if>
			<if test="creater != null">
				CREATER = #{creater,jdbcType=VARCHAR},
			</if>
			<if test="updated != null">
				UPDATED = #{updated,jdbcType=TIMESTAMP},
			</if>
			<if test="updater != null">
				UPDATER = #{updater,jdbcType=VARCHAR},
			</if>
			<if test="delFlag != null">
				DEL_FLAG = #{delFlag,jdbcType=DECIMAL},
			</if>
		</set>
		where ID = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.rowell.sifa.pojo.monitoring.TerminalHistory">
		update
		SF_TERMINAL_HIS
		set TERMINAL_ID = #{terminalId,jdbcType=DECIMAL},
		GPSTIME = #{gpstime,jdbcType=TIMESTAMP},
		LOCATION =
		#{location,jdbcType=VARCHAR},
		ERRORCODE =
		#{errorCode,jdbcType=VARCHAR},
		MOBILENUMBER =
		#{mobileNumber,jdbcType=VARCHAR},
		LON = #{lon,jdbcType=VARCHAR},
		LAT =
		#{lat,jdbcType=VARCHAR},
		RCVTIME = #{rcvtime,jdbcType=TIMESTAMP},
		ISLIVE= #{isLive,jdbcType=VARCHAR},
		POWER=#{power,jdbcType=VARCHAR},
		ISALARM =#{isAlarm,jdbcType=VARCHAR},
		HEARTRATE=#{heartRate,jdbcType=VARCHAR},

		LOCATIONTYPE =
		#{locationType,jdbcType=VARCHAR},
		CREATED =
		#{created,jdbcType=TIMESTAMP},
		CREATER = #{creater,jdbcType=VARCHAR},
		UPDATED = #{updated,jdbcType=TIMESTAMP},
		UPDATER =
		#{updater,jdbcType=VARCHAR},
		DEL_FLAG = #{delFlag,jdbcType=DECIMAL}
		where ID = #{id,jdbcType=VARCHAR}
	</update>
	<select id="selectAll" parameterType="com.rowell.sifa.pojo.monitoring.TerminalHistory"
		resultMap="BaseResultMap">
		select 
		<include refid="Base_Column_List" />,c.id as culpritId, c.NAME as culpritName,n.TYPE,g.name as groupName,g.id as groupId 
		from SF_TERMINAL_HIS t left JOIN sf_TERMINAL n ON
		t.TERMINAL_ID=n.id left join sf_culprit c on n.culprit_id=c.id 
		left join sys_group g on c.group_id=g.id 
		<where>
			<include refid="findAllWhere" />
		</where>
		<if test="orderStr!=null and orderStr!=''">
      <![CDATA[
           order by  ${orderStr}
      ]]>
		</if>
	</select>
	<sql id="findAllWhere">
		<if test="groupId != null and groupId !=''">
			<![CDATA[  
     	 	AND  exists ( select t2.id from (select * from sys_group start with id= #{groupId,jdbcType=VARCHAR} connect by prior id = parent_id) t2 where g.id=t2.id)
     		]]> 
		</if>
		<if test="culpritName != null and culpritName !=''">
			AND c.name like '%'||#{culpritName,jdbcType=VARCHAR}||'%'
		</if>
		<if test="culpritId != null and culpritId !=''">
			AND c.id = #{culpritId,jdbcType=VARCHAR}
		</if>
		<if test="groupName != null and groupName !=''">
			AND g.name = #{groupName,jdbcType=VARCHAR}
		</if>
	    <if test="searchStartDate != null and searchStartDate != ''">
	      	AND t.GPSTIME <![CDATA[ >= ]]> #{searchStartDate,jdbcType=TIMESTAMP}
	    </if>
	    <if test="searchEndDate != null and searchEndDate != ''">
	      	AND t.GPSTIME <![CDATA[ <= ]]> #{searchEndDate,jdbcType=TIMESTAMP}
	    </if>
		<if test="terminalId != null and terminalId !=''">
			AND t.TERMINAL_ID = #{terminalId,jdbcType=DECIMAL}
		</if>
		<if test="gpstime != null and gpstime!=''">
			AND t.GPSTIME = #{gpstime,jdbcType=TIMESTAMP}
		</if>
		<if test="location != null and location!=''">
			AND t.LOCATION like '%'||#{location,jdbcType=VARCHAR}||'%'
		</if>
		<if test="errorCode != null and errorCode !=''">
			AND t.ERRORCODE = #{errorCode,jdbcType=VARCHAR}
		</if>
		<if test="mobileNumber != null and mobileNumber !=''">
			AND t.MOBILENUMBER = #{mobileNumber,jdbcType=VARCHAR}
		</if>
		<if test="lon != null and lon !=''">
			AND t.LON = #{lon,jdbcType=VARCHAR}
		</if>
		<if test="lat != null and lat !=''">
			AND t.LAT = #{lat,jdbcType=VARCHAR}
		</if>
		<if test="rcvtime != null and rcvtime !=''">
			RCVTIME = #{rcvtime,jdbcType=TIMESTAMP},
		</if>
		<if test="isLive != null and isLive !=''">
			ISLIVE= #{isLive,jdbcType=VARCHAR},
		</if>
		<if test="power != null and power !=''">
			POWER=#{power,jdbcType=VARCHAR},
		</if>
		<if test="isAlarm != null and isAlarm !=''">
			ISALARM =#{isAlarm,jdbcType=VARCHAR},
		</if>
		<if test="heartRate != null and heartRate !=''">
			HEARTRATE=#{heartRate,jdbcType=VARCHAR},
		</if>
		<if test="locationType != null and locationType !=''">
			LOCATIONTYPE = #{locationType,jdbcType=VARCHAR},
		</if>
		<if test="created != null and created!=''">
			AND t.CREATED = #{created,jdbcType=TIMESTAMP}
		</if>
		<if test="creater != null and creater!=''">
			AND t.CREATER = #{creater,jdbcType=VARCHAR}
		</if>
		<if test="updated != null and updated !=''">
			AND t.UPDATED = #{updated,jdbcType=TIMESTAMP}
		</if>
		<if test="updater != null and updater!=''">
			AND t.UPDATER = #{updater,jdbcType=VARCHAR}
		</if>
		<if test="delFlag != null and delFlag !=''">
			AND t.DEL_FLAG = #{delFlag,jdbcType=DECIMAL}
		</if>
	</sql>
	  <!-- 根据时间获取历史轨迹列表 -->
  <select id="findHisByTime" resultMap="BaseResultMap">
   select c.NAME as culpritname,n.TYPE, 
    <include refid="Base_Column_List" />  
    FROM SF_TERMINAL_HIS t
    left JOIN sf_TERMINAL n ON
	t.TERMINAL_ID=n.id left join sf_culprit c on n.culprit_id=c.id
    <where>
   		AND t.GPSTIME  BETWEEN #{0} AND #{1} AND t.MOBILENUMBER = #{2} 
    </where>
      <![CDATA[
           order by t.gpstime asc
      ]]>
  </select>
</mapper>