<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rowell.sifa.mapper.sys.KqbMapper">
	<resultMap id="BaseResultMap" type="com.rowell.sifa.pojo.sys.Kqb">
		<id column="ID" jdbcType="VARCHAR" property="id" />
		<result column="xuhao" jdbcType="VARCHAR" property="xuhao" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="department" jdbcType="VARCHAR" property="department" />
		<result column="workday" jdbcType="VARCHAR" property="workday" />
		<result column="restday" jdbcType="VARCHAR" property="restday" />
		<result column="overday" jdbcType="VARCHAR" property="overday" />
		<result column="thingrest" jdbcType="VARCHAR" property="thingrest" />
		<result column="illrest" jdbcType="VARCHAR" property="illrest" />
		<result column="injurrest" jdbcType="VARCHAR" property="injurrest" />
		<result column="birthrest" jdbcType="VARCHAR" property="birthrest" />
		<result column="otherrest" jdbcType="VARCHAR" property="otherrest" />
		<result column="overtime" jdbcType="VARCHAR" property="overtime" />
		<result column="earlytime" jdbcType="VARCHAR" property="earlytime" />
		<result column="dakacishu" jdbcType="VARCHAR" property="dakacishu" />
		<result column="beizhu" jdbcType="VARCHAR" property="beizhu" />
		<result column="absenteeismtime" jdbcType="VARCHAR" property="absenteeismtime" />
		<result column="TIME" jdbcType="VARCHAR" property="time" />
		<result column="ZUIDA" jdbcType="VARCHAR" property="zuida" />
		<result column="JIHAO" jdbcType="VARCHAR" property="jihao" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, xuhao, name, department, workday, restday, overday,
		thingrest,
		illrest, injurrest, birthrest, otherrest, overtime,
		earlytime,
		dakacishu,beizhu, TIME, ZUIDA, JIHAO,absenteeismtime
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from KQB
		where ID = #{id,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from KQB
		where ID = #{id,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.rowell.sifa.pojo.sys.Kqb">
		insert into KQB (ID, xuhao,
		name,
		department, workday, restday,
		overday, thingrest, illrest,
		injurrest, birthrest, otherrest,
		overtime, earlytime, dakacishu,
		beizhu, TIME, ZUIDA, absenteeismtime,
		JIHAO)
		values
		(#{id,jdbcType=VARCHAR}, #{xuhao,jdbcType=VARCHAR},
		#{name,jdbcType=VARCHAR},
		#{department,jdbcType=VARCHAR},
		#{workday,jdbcType=VARCHAR}, #{restday,jdbcType=VARCHAR},
		#{overday,jdbcType=VARCHAR}, #{thingrest,jdbcType=VARCHAR},
		#{illrest,jdbcType=VARCHAR},
		#{injurrest,jdbcType=VARCHAR},
		#{birthrest,jdbcType=VARCHAR}, #{otherrest,jdbcType=VARCHAR},
		#{overtime,jdbcType=VARCHAR}, #{earlytime,jdbcType=VARCHAR},
		#{dakacishu,jdbcType=VARCHAR},
		#{beizhu,jdbcType=VARCHAR},
		#{time,jdbcType=VARCHAR},
		#{zuida,jdbcType=VARCHAR},#{absenteeismtime,jdbcType=VARCHAR},
		#{jihao,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.rowell.sifa.pojo.sys.Kqb">
		insert into KQB
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="xuhao != null">
				xuhao,
			</if>
			<if test="absenteeismtime != null">
				absenteeismtime,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="department != null">
				department,
			</if>
			<if test="workday != null">
				workday,
			</if>
			<if test="restday != null">
				restday,
			</if>
			<if test="overday != null">
				overday,
			</if>
			<if test="thingrest != null">
				thingrest,
			</if>
			<if test="illrest != null">
				illrest,
			</if>
			<if test="injurrest != null">
				injurrest,
			</if>
			<if test="birthrest != null">
				birthrest,
			</if>
			<if test="otherrest != null">
				otherrest,
			</if>
			<if test="overtime != null">
				overtime,
			</if>
			<if test="earlytime != null">
				earlytime,
			</if>
			<if test="dakacishu != null">
				dakacishu,
			</if>
			<if test="beizhu != null">
				beizhu,
			</if>
			<if test="time != null">
				TIME,
			</if>
			<if test="zuida != null">
				ZUIDA,
			</if>
			<if test="jihao != null">
				JIHAO,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="xuhao != null">
				#{xuhao,jdbcType=VARCHAR},
			</if>
			<if test="absenteeismtime != null">
				#{absenteeismtime,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="department != null">
				#{department,jdbcType=VARCHAR},
			</if>
			<if test="workday != null">
				#{workday,jdbcType=VARCHAR},
			</if>
			<if test="restday != null">
				#{restday,jdbcType=VARCHAR},
			</if>
			<if test="overday != null">
				#{overday,jdbcType=VARCHAR},
			</if>
			<if test="thingrest != null">
				#{thingrest,jdbcType=VARCHAR},
			</if>
			<if test="illrest != null">
				#{illrest,jdbcType=VARCHAR},
			</if>
			<if test="injurrest != null">
				#{injurrest,jdbcType=VARCHAR},
			</if>
			<if test="birthrest != null">
				#{birthrest,jdbcType=VARCHAR},
			</if>
			<if test="otherrest != null">
				#{otherrest,jdbcType=VARCHAR},
			</if>
			<if test="overtime != null">
				#{overtime,jdbcType=VARCHAR},
			</if>
			<if test="earlytime != null">
				#{earlytime,jdbcType=VARCHAR},
			</if>
			<if test="dakacishu != null">
				#{dakacishu,jdbcType=VARCHAR},
			</if>
			<if test="beizhu != null">
				#{beizhu,jdbcType=VARCHAR},
			</if>
			<if test="time != null">
				#{time,jdbcType=VARCHAR},
			</if>
			<if test="zuida != null">
				#{zuida,jdbcType=VARCHAR},
			</if>
			<if test="jihao != null">
				#{jihao,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

	<select id="findMax" parameterType="java.lang.String"
		resultType="java.lang.String">
		select max(to_number(zuida)) from KQB t
	</select>
	<select id="findJihao" parameterType="java.lang.String"
		resultType="java.lang.String">

		select max(to_number(jihao)) from KQB t
	</select>
	<select id="findLast" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select * from KQB t where zuida=(select
		max(to_number(zuida)) from KQB t)
	</select>

	<update id="updateByPrimaryKeySelective" parameterType="com.rowell.sifa.pojo.sys.Kqb">
		update KQB
		<set>
			<if test="xuhao != null">
				xuhao = #{xuhao,jdbcType=VARCHAR},
			</if>

			<if test="absenteeismtime != null">
				name = #{absenteeismtime,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="department != null">
				department = #{department,jdbcType=VARCHAR},
			</if>
			<if test="workday != null">
				workday = #{workday,jdbcType=VARCHAR},
			</if>
			<if test="restday != null">
				restday = #{restday,jdbcType=VARCHAR},
			</if>
			<if test="overday != null">
				overday = #{overday,jdbcType=VARCHAR},
			</if>
			<if test="thingrest != null">
				thingrest = #{thingrest,jdbcType=VARCHAR},
			</if>
			<if test="illrest != null">
				illrest = #{illrest,jdbcType=VARCHAR},
			</if>
			<if test="injurrest != null">
				injurrest = #{injurrest,jdbcType=VARCHAR},
			</if>
			<if test="birthrest != null">
				birthrest = #{birthrest,jdbcType=VARCHAR},
			</if>
			<if test="otherrest != null">
				otherrest = #{otherrest,jdbcType=VARCHAR},
			</if>
			<if test="overtime != null">
				overtime = #{overtime,jdbcType=VARCHAR},
			</if>
			<if test="earlytime != null">
				earlytime = #{earlytime,jdbcType=VARCHAR},
			</if>
			<if test="dakacishu != null">
				dakacishu = #{dakacishu,jdbcType=VARCHAR},
			</if>
			<if test="beizhu != null">
				beizhu = #{beizhu,jdbcType=VARCHAR},
			</if>
			<if test="time != null">
				TIME = #{time,jdbcType=VARCHAR},
			</if>
			<if test="zuida != null">
				ZUIDA = #{zuida,jdbcType=VARCHAR},
			</if>
			<if test="jihao != null">
				JIHAO = #{jihao,jdbcType=VARCHAR},
			</if>
		</set>
		where ID = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.rowell.sifa.pojo.sys.Kqb">
		update KQB
		set
		xuhao = #{xuhao,jdbcType=VARCHAR},
		name = #{name,jdbcType=VARCHAR},
		department = #{department,jdbcType=VARCHAR},
		workday =
		#{workday,jdbcType=VARCHAR},
		restday = #{restday,jdbcType=VARCHAR},
		overday = #{overday,jdbcType=VARCHAR},
		thingrest =
		#{thingrest,jdbcType=VARCHAR},
		illrest = #{illrest,jdbcType=VARCHAR},
		injurrest = #{injurrest,jdbcType=VARCHAR},
		birthrest =
		#{birthrest,jdbcType=VARCHAR},
		otherrest =
		#{otherrest,jdbcType=VARCHAR},
		overtime = #{overtime,jdbcType=VARCHAR},
		earlytime = #{earlytime,jdbcType=VARCHAR},
		dakacishu =
		#{dakacishu,jdbcType=VARCHAR},
		beizhu = #{beizhu,jdbcType=VARCHAR},
		TIME = #{time,jdbcType=VARCHAR},
		ZUIDA = #{zuida,jdbcType=VARCHAR},
		JIHAO = #{jihao,jdbcType=VARCHAR},
		absenteeismtime=#{absenteeismtime,jdbcType=VARCHAR}
		where ID =
		#{id,jdbcType=VARCHAR}
	</update>
	<select id="selectAll" parameterType="com.rowell.sifa.pojo.sys.Kqb"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from KQB t
		<where>
			<include refid="findAllWhere" />
		</where>

		<if test="orderStr =='TIME desc'">
			order by time desc
		</if>
		<if test="orderStr =='TIME asc'">
			order by time asc
		</if>
		<if test="orderStr =='DAKACISHU asc'">
			order by TO_NUMBER(dakacishu) asc
		</if>
		<if test="orderStr =='DAKACISHU desc'">
			order by TO_NUMBER(dakacishu) desc
		</if>
		<if test="orderStr =='EARLYTIME asc'">
			order by TO_NUMBER(earlytime) asc
		</if>
		<if test="orderStr =='EARLYTIME desc'">
			order by TO_NUMBER(earlytime) desc
		</if>
		<if test="orderStr =='OVERTIME asc'">
			order by TO_NUMBER(overtime) asc
		</if>
		<if test="orderStr =='OVERTIME desc'">
			order by TO_NUMBER(overtime) desc
		</if>
		<if test="orderStr =='OTHERREST asc'">
			order by TO_NUMBER(otherrest) asc
		</if>
		<if test="orderStr =='OTHERREST desc'">
			order by TO_NUMBER(otherrest) desc
		</if>
		<if test="orderStr =='BIRTHREST asc'">
			order by TO_NUMBER(birthrest) asc
		</if>
		<if test="orderStr =='BIRTHREST desc'">
			order by TO_NUMBER(birthrest) desc
		</if>
		<if test="orderStr =='INJURREST asc'">
			order by TO_NUMBER(injurrest) asc
		</if>
		<if test="orderStr =='INJURREST desc'">
			order by TO_NUMBER(injurrest) desc
		</if>
		<if test="orderStr =='ILLREST asc'">
			order by TO_NUMBER(illrest) asc
		</if>
		<if test="orderStr =='ILLREST desc'">
			order by TO_NUMBER(illrest) desc
		</if>
		<if test="orderStr =='THINGREST asc'">
			order by TO_NUMBER(thingrest) asc
		</if>
		<if test="orderStr =='THINGREST desc'">
			order by TO_NUMBER(thingrest) desc
		</if>

		<if test="orderStr =='ABSENTEEISMTIME asc'">
			order by TO_NUMBER(absenteeismtime) asc
		</if>
		<if test="orderStr =='ABSENTEEISMTIME desc'">
			order by TO_NUMBER(absenteeismtime) desc
		</if>





		<if test="orderStr ==null ||orderStr==''">
			order by time desc
		</if>







	</select>
	<sql id="findAllWhere">
		<if test="xuhao != null and xuhao!=''">
			AND xuhao = #{xuhao,jdbcType=VARCHAR}
		</if>

		<if test="name != null and name!=''">
			AND name like '%'||#{name,jdbcType=VARCHAR}||'%'
		</if>

		<if test="department != null and department!=''">
			AND department like
			'%'||#{department,jdbcType=VARCHAR}||'%'
		</if>


		<if test="workday != null and workday!=''">
			AND workday = #{workday,jdbcType=VARCHAR}
		</if>
		<if test="restday != null and restday!=''">
			AND restday = #{restday,jdbcType=VARCHAR}
		</if>
		<if test="overday != null and overday!=''">
			AND overday = #{overday,jdbcType=VARCHAR}
		</if>
		<if test="thingrest != null and thingrest!=''">
			AND
			to_number(t.thingrest)>to_number(#{thingrest,jdbcType=VARCHAR})
		</if>
		<if test="illrest != null and illrest!=''">
			AND
			to_number(t.illrest)>to_number(#{illrest,jdbcType=VARCHAR})
		</if>
		<if test="injurrest != null and injurrest!=''">
			AND
			to_number(t.injurrest)>to_number(#{injurrest,jdbcType=VARCHAR})
		</if>
		<if test="birthrest != null and birthrest!=''">
			AND
			to_number(t.birthrest)>to_number(#{birthrest,jdbcType=VARCHAR})
		</if>
		<if test="otherrest != null and otherrest!=''">
			AND otherrest = #{otherrest,jdbcType=VARCHAR}
		</if>
		<if test="overtime != null and overtime!=''">
			AND
			to_number(t.overtime)>=to_number(#{overtime,jdbcType=VARCHAR})
		</if>
		<if test="earlytime != null and earlytime!=''">
			AND
			to_number(t.earlytime)>=to_number(#{earlytime,jdbcType=VARCHAR})
		</if>
		<if test="dakacishu != null and dakacishu!=''">
			AND dakacishu = #{dakacishu,jdbcType=VARCHAR}
		</if>
		<if test="beizhu != null and beizhu!=''">
			AND beizhu = #{beizhu,jdbcType=VARCHAR}
		</if>
		<if test="time != null and time!=''">
			AND TIME = #{time,jdbcType=VARCHAR}
		</if>

		<if test="absenteeismtime != null and absenteeismtime!=''">
			AND to_number(t.absenteeismtime) >=
			to_number(#{absenteeismtime,jdbcType=VARCHAR})
		</if>

		<if test="zuida != null and zuida!='' and zuida!='-1'">
			AND ZUIDA = #{zuida,jdbcType=VARCHAR}
		</if>
		<if test="zuida == '-1'">
			AND ZUIDA =(select max(to_number(zuida)) from KQB t)
		</if>

		<if test="jihao != null and jihao!='' and jihao != '-1'">
			AND JIHAO = #{jihao,jdbcType=VARCHAR}
		</if>
		<if test="jihao == '-1'">
			AND JIHAO !='0'
		</if>
	</sql>
</mapper>