<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rowell.sifa.mapper.sys.SysAccountRoleMapper">
  <resultMap id="BaseResultMap" type="com.rowell.sifa.pojo.sys.SysAccountRole">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="ACCOUNT_ID" jdbcType="VARCHAR" property="accountId" />
    <result column="ROLE_ID" jdbcType="VARCHAR" property="roleId" />
    <result column="CREATED" jdbcType="TIMESTAMP" property="created" />
    <result column="CREATER" jdbcType="VARCHAR" property="creater" />
    <result column="UPDATED" jdbcType="TIMESTAMP" property="updated" />
    <result column="UPDATER" jdbcType="VARCHAR" property="updater" />
    <result column="DEL_FLAG" jdbcType="DECIMAL" property="delFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    id, ACCOUNT_ID, ROLE_ID, CREATED, CREATER, UPDATED, UPDATER, DEL_FLAG
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SYS_ACCOUNT_ROLE
    where id = #{id,jdbcType=VARCHAR}
  </select>
  
   <select id="selectByAccountId" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from SYS_ACCOUNT_ROLE
        where ACCOUNT_ID = #{accountId}
    </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from SYS_ACCOUNT_ROLE
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.rowell.sifa.pojo.sys.SysAccountRole">
    insert into SYS_ACCOUNT_ROLE (id, ACCOUNT_ID, ROLE_ID, 
      CREATED, CREATER, UPDATED, 
      UPDATER, DEL_FLAG)
    values (#{id,jdbcType=VARCHAR}, #{accountId,jdbcType=VARCHAR}, #{roleId,jdbcType=VARCHAR}, 
      #{created,jdbcType=TIMESTAMP}, #{creater,jdbcType=VARCHAR}, #{updated,jdbcType=TIMESTAMP}, 
      #{updater,jdbcType=VARCHAR}, #{delFlag,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.rowell.sifa.pojo.sys.SysAccountRole">
    insert into SYS_ACCOUNT_ROLE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="accountId != null">
        ACCOUNT_ID,
      </if>
      <if test="roleId != null">
        ROLE_ID,
      </if>
      <if test="created != null">
        CREATED,
      </if>
      <if test="creater != null">
        CREATER,
      </if>
      <if test="updated != null">
        UPDATED,
      </if>
      <if test="updater != null">
        UPDATER,
      </if>
      <if test="delFlag != null">
        DEL_FLAG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="accountId != null">
        #{accountId,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="creater != null">
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="updated != null">
        #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        #{updater,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rowell.sifa.pojo.sys.SysAccountRole">
    update SYS_ACCOUNT_ROLE
    <set>
      <if test="accountId != null">
        ACCOUNT_ID = #{accountId,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null">
        ROLE_ID = #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        CREATED = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="creater != null">
        CREATER = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="updated != null">
        UPDATED = #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        UPDATER = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        DEL_FLAG = #{delFlag,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rowell.sifa.pojo.sys.SysAccountRole">
    update SYS_ACCOUNT_ROLE
    set ACCOUNT_ID = #{accountId,jdbcType=VARCHAR},
      ROLE_ID = #{roleId,jdbcType=VARCHAR},
      CREATED = #{created,jdbcType=TIMESTAMP},
      CREATER = #{creater,jdbcType=VARCHAR},
      UPDATED = #{updated,jdbcType=TIMESTAMP},
      UPDATER = #{updater,jdbcType=VARCHAR},
      DEL_FLAG = #{delFlag,jdbcType=DECIMAL}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectAll" parameterType="com.rowell.sifa.pojo.sys.SysAccountRole" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SYS_ACCOUNT_ROLE t
    <where>
      <include refid="findAllWhere" />
    </where>
    <if test="orderStr!=null">
      <![CDATA[
           order by  ${orderStr}
      ]]>
    </if>
  </select>
  <sql id="findAllWhere">
    <if test="accountId != null and accountId!=''">
      AND ACCOUNT_ID = #{accountId,jdbcType=VARCHAR}
    </if>
    <if test="roleId != null and roleId!=''">
      AND ROLE_ID = #{roleId,jdbcType=VARCHAR}
    </if>
    <if test="created != null">
      AND CREATED = #{created,jdbcType=TIMESTAMP}
    </if>
    <if test="creater != null and creater!=''">
      AND CREATER = #{creater,jdbcType=VARCHAR}
    </if>
    <if test="updated != null">
      AND UPDATED = #{updated,jdbcType=TIMESTAMP}
    </if>
    <if test="updater != null and updater!=''">
      AND UPDATER = #{updater,jdbcType=VARCHAR}
    </if>
    <if test="delFlag != null">
      AND DEL_FLAG = #{delFlag,jdbcType=DECIMAL}
    </if>
  </sql>
</mapper>