<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rowell.sifa.mapper.sys.TjbMapper">
  <resultMap id="BaseResultMap" type="com.rowell.sifa.pojo.sys.Tjb">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="department" jdbcType="VARCHAR" property="department" />
    <result column="bianhao" jdbcType="VARCHAR" property="bianhao" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="datetime" jdbcType="VARCHAR" property="datetime" />
    <result column="dakacishu" jdbcType="VARCHAR" property="dakacishu" />
    <result column="dakashijian" jdbcType="VARCHAR" property="dakashijian" />
    <result column="TIME" jdbcType="VARCHAR" property="time" />
    <result column="ZUIDA" jdbcType="VARCHAR" property="zuida" />
    <result column="JIHAO" jdbcType="VARCHAR" property="jihao" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, department, bianhao, name, datetime, dakacishu, dakashijian, TIME, ZUIDA, 
    JIHAO
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from TJB
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from TJB
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  
  
   <select id="findMax" parameterType="java.lang.String" resultType="java.lang.String">
			select max(to_number(zuida)) from TJB t
  </select>
 <select id="findLast" parameterType="java.lang.String" resultMap="BaseResultMap">
			select * from TJB t where zuida=(select max(to_number(zuida)) from TJB t)
  </select>
  <update id="updatejihao" parameterType="String">
  		update TJB set jihao= #{jihao,jdbcType=VARCHAR} where zuida=(select max(to_number(zuida)) from TJB t)
</update>
<delete id="deletejihao" parameterType="java.lang.String">
	delete from TJB where jihao= #{jihao,jdbcType=VARCHAR}
</delete>
  
  <insert id="insert" parameterType="com.rowell.sifa.pojo.sys.Tjb">
    insert into TJB (ID, department, bianhao, 
      name, datetime, dakacishu, 
      dakashijian, TIME, ZUIDA, 
      JIHAO)
    values (#{id,jdbcType=VARCHAR}, #{department,jdbcType=VARCHAR}, #{bianhao,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{datetime,jdbcType=VARCHAR}, #{dakacishu,jdbcType=VARCHAR}, 
      #{dakashijian,jdbcType=VARCHAR}, #{time,jdbcType=VARCHAR}, #{zuida,jdbcType=VARCHAR}, 
      #{jihao,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.rowell.sifa.pojo.sys.Tjb">
    insert into TJB
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="department != null">
        department,
      </if>
      <if test="bianhao != null">
        bianhao,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="datetime != null">
        datetime,
      </if>
      <if test="dakacishu != null">
        dakacishu,
      </if>
      <if test="dakashijian != null">
        dakashijian,
      </if>
      <if test="time != null">
        TIME,
      </if>
      <if test="zuida != null">
        ZUIDA,
      </if>
      <if test="jihao != null">
        JIHAO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="department != null">
        #{department,jdbcType=VARCHAR},
      </if>
      <if test="bianhao != null">
        #{bianhao,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="datetime != null">
        #{datetime,jdbcType=VARCHAR},
      </if>
      <if test="dakacishu != null">
        #{dakacishu,jdbcType=VARCHAR},
      </if>
      <if test="dakashijian != null">
        #{dakashijian,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=VARCHAR},
      </if>
      <if test="zuida != null">
        #{zuida,jdbcType=VARCHAR},
      </if>
      <if test="jihao != null">
        #{jihao,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rowell.sifa.pojo.sys.Tjb">
    update TJB
    <set>
      <if test="department != null">
        department = #{department,jdbcType=VARCHAR},
      </if>
      <if test="bianhao != null">
        bianhao = #{bianhao,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="datetime != null">
        datetime = #{datetime,jdbcType=VARCHAR},
      </if>
      <if test="dakacishu != null">
        dakacishu = #{dakacishu,jdbcType=VARCHAR},
      </if>
      <if test="dakashijian != null">
        dakashijian = #{dakashijian,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        TIME = #{time,jdbcType=VARCHAR},
      </if>
      <if test="zuida != null">
        ZUIDA = #{zuida,jdbcType=VARCHAR},
      </if>
      <if test="jihao != null">
        JIHAO = #{jihao,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rowell.sifa.pojo.sys.Tjb">
    update TJB
    set department = #{departmentjdbcType=VARCHAR},
      bianhao = #{bianhao,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      datetime = #{datetime,jdbcType=VARCHAR},
      dakacishu = #{dakacishu,jdbcType=VARCHAR},
      dakashijian = #{dakashijian,jdbcType=VARCHAR},
      TIME = #{time,jdbcType=VARCHAR},
      ZUIDA = #{zuida,jdbcType=VARCHAR},
      JIHAO = #{jihao,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectAll" parameterType="com.rowell.sifa.pojo.sys.Tjb" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from TJB t
    <where>
      <include refid="findAllWhere" />
    </where>
    <if test="orderStr!=null">
      <![CDATA[
           order by  ${orderStr}
      ]]>
    </if>
  </select>
  <sql id="findAllWhere">
    <if test="department != null and department!=''">
      AND department like '%'||#{department,jdbcType=VARCHAR}||'%'
    </if>
    <if test="bianhao != null and bianhao!=''">
      AND bianhao = #{bianhao,jdbcType=VARCHAR}
    </if>
    <if test="name != null and name!=''">
      AND name  like '%'||#{name,jdbcType=VARCHAR}||'%'
    </if>
    <if test="datetime != null and datetime!=''">
      AND datetime = #{datetime,jdbcType=VARCHAR}
    </if>
    
      <if test="searchStartDate != null and searchStartDate!=''">
     <![CDATA[
      AND to_date(datetime,'yyyy-MM-dd') >= #{searchStartDate,jdbcType=TIMESTAMP}
      ]]>
    </if>
     <if test="searchEndDate != null and searchEndDate!=''">
     <![CDATA[
      AND to_date(datetime,'yyyy-MM-dd') <= #{searchEndDate,jdbcType=TIMESTAMP}
      ]]>
    </if>
    
    <if test="dakacishu != null and dakacishu!=''">
      AND dakacishu = #{dakacishu,jdbcType=VARCHAR}
    </if>
    <if test="dakashijian != null and dakashijian!=''">
      AND dakashijian = #{dakashijian,jdbcType=VARCHAR}
    </if>
    <if test="time != null and time!=''">
      AND TIME = #{time,jdbcType=VARCHAR}
    </if>
    <if test="zuida != null and zuida!='' and zuida!='-1'">
      AND ZUIDA =  #{zuida,jdbcType=VARCHAR}
    </if>
     <if test="zuida == '-1'">
      AND ZUIDA =(select max(to_number(zuida)) from TJB t)
    </if>
    
    <if test="jihao != null and jihao!=''and jihao!='-1'" >
      AND JIHAO = #{jihao,jdbcType=VARCHAR}
    </if>
       <if test="jihao =='-1'">
      AND JIHAO !=0
    </if>
  </sql>
</mapper>