<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rowell.sifa.mapper.statistics.CulpritStatusTjMapper">
  <resultMap id="BaseResultMap" type="com.rowell.sifa.pojo.statistics.CulpritStatusTj">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="DIC_WDMC_ID" jdbcType="VARCHAR" property="dicWdmcId" />
    <result column="GROUP_ID" jdbcType="VARCHAR" property="groupId" />
    <result column="PATH" jdbcType="VARCHAR" property="path" />
    <result column="REPORT_DATE" jdbcType="TIMESTAMP" property="reportDate" />
    <result column="CREATED" jdbcType="TIMESTAMP" property="created" />
    <result column="CREATER" jdbcType="VARCHAR" property="creater" />
    <result column="UPDATED" jdbcType="TIMESTAMP" property="updated" />
    <result column="UPDATER" jdbcType="VARCHAR" property="updater" />
    <result column="DEL_FLAG" jdbcType="DECIMAL" property="delFlag" />
    <result column="DIC_STATE" jdbcType="VARCHAR" property="dicState" />
    <result column="GROUP_NAME" jdbcType="VARCHAR" property="groupName" />
   
    <result column="BYZCRS" jdbcType="DECIMAL" property="byzcrs" />
    <result column="SYZCRS" jdbcType="DECIMAL" property="syzcrs" />
    <result column="CHANGE_BYZJ" jdbcType="DECIMAL" property="change_byzj" />
    <result column="CHANGE_QMJCJZ" jdbcType="DECIMAL" property="change_qmjcjz" />
    <result column="CHANGE_SJZX " jdbcType="DECIMAL" property="change_sjzx" />
    <result column="CHANGE_SW" jdbcType="DECIMAL" property="change_sw" />
    <result column="CHANGE_QTYY" jdbcType="DECIMAL" property="change_qtyy" />
    <result column="CLASS_GZ" jdbcType="DECIMAL" property="class_gz" />
    <result column="CLASS_HX" jdbcType="DECIMAL" property="class_hx" />
    <result column="CLASS_JS" jdbcType="DECIMAL" property="class_js" />
    <result column="CLASS_ZYJWZX" jdbcType="DECIMAL" property="class_zyjwzx" />
    <result column="CLASS_BDZZQL" jdbcType="DECIMAL" property="class_bdzzql" />
    <result column="TYPE_WHGJAQZ" jdbcType="DECIMAL" property="type_whgjaqz" />
    <result column="TYPE_WHGGAQZ" jdbcType="DECIMAL" property="type_whggaqz" />
    <result column="TYPE_PHSHZYSCJJZXZ" jdbcType="DECIMAL" property="type_phshzyz" />
    <result column="TYPE_QFGMRSQLZ" jdbcType="DECIMAL" property="type_qfgmrsqlz" />
    <result column="TYPE_QFCCZ" jdbcType="DECIMAL" property="type_qfccz" />
    <result column="TYPE_FHSHGLZXZ" jdbcType="DECIMAL" property="type_fhshglzxz" />
    <result column="TYPE_TWHLZ" jdbcType="DECIMAL" property="type_twhlz" />
    <result column="TYPE_DZZ" jdbcType="DECIMAL" property="type_dzz" />
    <result column="TYPE_OTHER" jdbcType="DECIMAL" property="type_other" />
    <result column="REG_CITY" jdbcType="DECIMAL" property="reg_city" />
    <result column="REG_VILLAGE" jdbcType="DECIMAL" property="reg_village" />
    <result column="SEX_MALE" jdbcType="DECIMAL" property="sex_male" />
    <result column="SEX_FEMALE" jdbcType="DECIMAL" property="sex_female" />
    <result column="AGE_U18" jdbcType="DECIMAL" property="age_u18" />
    <result column="AGE_19TO45" jdbcType="DECIMAL" property="age_19to45" />
    <result column="AGE_46TO60" jdbcType="DECIMAL" property="age_46to60" />
    <result column="AGE_61P" jdbcType="DECIMAL" property="age_61p" />
    <result column="PRAISE_QTJL" jdbcType="DECIMAL" property="praise_qtjl" />
    <result column="PRAISE_SJZX" jdbcType="DECIMAL" property="praise_sjzx" />
    <result column="PRAISE_QTCF" jdbcType="DECIMAL" property="praise_qtcf" />
    <result column="PRAISE_SZACF" jdbcType="DECIMAL" property="praise_szacf" />
    <result column="ZFXZ" jdbcType="DECIMAL" property="zfxz" />
    <result column="REG_OTHER" jdbcType="DECIMAL" property="reg_other" />
    <result column="NATION_HAN" jdbcType="DECIMAL" property="nation_han" />
    <result column="NATION_FEW" jdbcType="DECIMAL" property="nation_few" />
    <result column="QUALIFICATION_JUNIOR" jdbcType="DECIMAL" property="qualification_junior" />
    <result column="QUALIFICATION_SENIOR" jdbcType="DECIMAL" property="qualification_senior" />
    <result column="QUALIFICATION_MIDDLE" jdbcType="DECIMAL" property="qualification_middle" />
    <result column="QUALIFICATION_PRIMARY" jdbcType="DECIMAL" property="qualification_primary" />
    <result column="WORK_STUDY" jdbcType="DECIMAL" property="work_study" />
    <result column="WORK_ON" jdbcType="DECIMAL" property="work_on" />
    <result column="WORK_NOJOB" jdbcType="DECIMAL" property="work_nojob" />
    <result column="PRAISE_SQJL" jdbcType="DECIMAL" property="praise_sqjl" />
    <result column="PRAISE_SQCF" jdbcType="DECIMAL" property="praise_sqcf" />
    <result column="PRAISE_CDJX" jdbcType="DECIMAL" property="praise_cdjx" />
    <result column="JZBYTG" jdbcType="DECIMAL" property="jzbytg" />
    <result column="TOTAL_ACCEPT" jdbcType="DECIMAL" property="total_accept" />
    <result column="TOTAL_RELIEVE" jdbcType="DECIMAL" property="total_relieve" />
    <result column="TOTAL_CRIME_AGAIN" jdbcType="DECIMAL" property="total_crime_again" />
    <result column="REPORT_TIME" jdbcType="TIMESTAMP" property="reporttime" />
    <result column="RETURN_REASON" jdbcType="VARCHAR" property="returnReason" />
    <result column="RETURN_TIME" jdbcType="TIMESTAMP" property="returnTime" />
  </resultMap>
   <resultMap id="ageMap" type="hashmap">
        <result column="age18" property="AGE18" jdbcType="VARCHAR"/>
        <result column="age45" property="AGE45" jdbcType="VARCHAR"/>
        <result column="age60" property="AGE60" jdbcType="VARCHAR"/>
        <result column="ageUp" property="AGEUP" jdbcType="VARCHAR"/>
    </resultMap> 
  <sql id="Base_Column_List">
    t1.ID, t1.DIC_WDMC_ID, t1.GROUP_ID,t1.PATH,t1.REPORT_DATE, 
    t1.CREATED, t1.CREATER, t1.UPDATED, t1.UPDATER, t1.DEL_FLAG,t1.DIC_STATE,t2.name as group_name,
    t1.BYZCRS,t1.SYZCRS,t1.CHANGE_BYZJ,t1.CHANGE_QMJCJZ,t1.CHANGE_SJZX,
    t1.CHANGE_SW,t1.CHANGE_QTYY,t1.CLASS_GZ,t1.CLASS_HX ,t1.CLASS_JS,
 	t1. CLASS_ZYJWZX,t1.CLASS_BDZZQL,t1.TYPE_WHGJAQZ, t1.TYPE_WHGGAQZ, 
 	t1.TYPE_PHSHZYSCJJZXZ,t1.TYPE_QFGMRSQLZ,t1.TYPE_QFCCZ,t1.TYPE_FHSHGLZXZ,
    t1.TYPE_TWHLZ,t1.TYPE_DZZ,t1.TYPE_OTHER,t1.REG_CITY,t1. REG_VILLAGE, 
    t1.SEX_MALE,t1.SEX_FEMALE,t1.AGE_U18, t1.AGE_19TO45, t1.AGE_46TO60,
    t1.AGE_61P, t1.PRAISE_QTJL,t1.PRAISE_SJZX, t1.PRAISE_QTCF, t1.PRAISE_SZACF, 
    t1.ZFXZ, t1.REG_OTHER,t1.NATION_HAN, t1.NATION_FEW,t1.QUALIFICATION_JUNIOR,
    t1.QUALIFICATION_SENIOR,t1.QUALIFICATION_MIDDLE,t1. QUALIFICATION_PRIMARY,
 	t1.WORK_STUDY, t1.WORK_ON , t1.WORK_NOJOB, t1.PRAISE_SQJL, t1.PRAISE_SQCF, 
    t1.PRAISE_CDJX, t1.JZBYTG , t1.TOTAL_ACCEPT,t1.TOTAL_RELIEVE,t1.TOTAL_CRIME_AGAIN,t1.REPORT_TIME,t1.RETURN_REASON,t1.RETURN_TIME 
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SF_CULPRIT_TJ t1 left join sys_group t2 on (t1.group_id=t2.id)
    where t1.ID = #{id,jdbcType=VARCHAR}
  </select>
  
  <select id="selectByGroupId"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />,t2.name as group_name
    from SF_CULPRIT_TJ t1 left join sys_group t2 on (t1.group_id=t2.id)
    where t1.GROUP_ID = #{groupId,jdbcType=VARCHAR} and t1.REPORT_DATE = #{reportDate,jdbcType=TIMESTAMP}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from SF_CULPRIT_TJ
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.rowell.sifa.pojo.statistics.CulpritStatusTj">
    insert into SF_CULPRIT_TJ (
      ID, DIC_WDMC_ID, GROUP_ID, PATH,REPORT_DATE,
      CREATED, CREATER, UPDATED, UPDATER, DEL_FLAG,
      DIC_STATE,BYZCRS,SYZCRS,CHANGE_BYZJ,CHANGE_QMJCJZ,
      CHANGE_SJZX,
      CHANGE_SW,CHANGE_QTYY,CLASS_GZ,CLASS_HX ,CLASS_JS,
 	  CLASS_ZYJWZX,CLASS_BDZZQL,TYPE_WHGJAQZ, TYPE_WHGGAQZ,TYPE_PHSHZYSCJJZXZ,
 	  TYPE_QFGMRSQLZ,TYPE_QFCCZ,TYPE_FHSHGLZXZ,TYPE_TWHLZ,TYPE_DZZ,TYPE_OTHER,
 	  REG_CITY,REG_VILLAGE, SEX_MALE,SEX_FEMALE,AGE_U18, 
 	  AGE_19TO45, AGE_46TO60,AGE_61P, PRAISE_QTJL,PRAISE_SJZX,
 	  PRAISE_QTCF, PRAISE_SZACF, ZFXZ, REG_OTHER,NATION_HAN, 
 	  NATION_FEW,QUALIFICATION_JUNIOR,QUALIFICATION_SENIOR,QUALIFICATION_MIDDLE,QUALIFICATION_PRIMARY,
 	  WORK_STUDY, WORK_ON , WORK_NOJOB, PRAISE_SQJL, PRAISE_SQCF, 
      PRAISE_CDJX, JZBYTG , TOTAL_ACCEPT,TOTAL_RELIEVE,TOTAL_CRIME_AGAIN,
      REPORT_TIME,RETURN_REASON,RETURN_TIME )
      values (#{id,jdbcType=VARCHAR}, #{dicWdmcId,jdbcType=VARCHAR}, #{groupId,jdbcType=VARCHAR}, 
      #{path,jdbcType=VARCHAR},#{reportDate,jdbcType=TIMESTAMP}, #{created,jdbcType=TIMESTAMP}, 
      #{creater,jdbcType=VARCHAR}, #{updated,jdbcType=TIMESTAMP}, #{updater,jdbcType=VARCHAR},
      #{delFlag,jdbcType=DECIMAL},#{dicState,jdbcType=VARCHAR},#{byzcrs,jdbcType=DECIMAL},
      #{syzcrs,jdbcType=DECIMAL},#{change_byzj,jdbcType=DECIMAL},#{change_qmjcjz,jdbcType=DECIMAL},
      #{change_sjzx,jdbcType=DECIMAL},#{change_sw,jdbcType=DECIMAL},#{change_qtyy,jdbcType=DECIMAL},
      #{class_gz,jdbcType=DECIMAL},#{class_hx,jdbcType=DECIMAL},#{class_js,jdbcType=DECIMAL},
      #{class_zyjwzx,jdbcType=DECIMAL}, #{class_bdzzql,jdbcType=DECIMAL},#{type_whgjaqz,jdbcType=DECIMAL}, 
      #{type_whggaqz,jdbcType=DECIMAL},#{type_phshzyz,jdbcType=DECIMAL},#{type_qfgmrsqlz,jdbcType=DECIMAL},
      #{type_qfccz,jdbcType=DECIMAL},#{type_fhshglzxz,jdbcType=DECIMAL},
      #{type_twhlz,jdbcType=DECIMAL},#{type_dzz,jdbcType=DECIMAL},#{type_other,jdbcType=DECIMAL},
      #{reg_city,jdbcType=DECIMAL},#{reg_village,jdbcType=DECIMAL},#{sex_male,jdbcType=DECIMAL},
      #{sex_female,jdbcType=DECIMAL}, #{age_u18,jdbcType=DECIMAL},#{age_19to45,jdbcType=DECIMAL},
      #{age_46to60,jdbcType=DECIMAL},#{age_61p,jdbcType=DECIMAL},
      #{praise_qtjl,jdbcType=DECIMAL}, #{praise_sjzx,jdbcType=DECIMAL},#{praise_qtcf,jdbcType=DECIMAL},
      #{praise_szacf,jdbcType=DECIMAL},#{zfxz,jdbcType=DECIMAL},#{reg_other,jdbcType=DECIMAL},
      #{nation_han,jdbcType=DECIMAL},#{nation_few,jdbcType=DECIMAL}, #{qualification_junior,jdbcType=DECIMAL},
      #{qualification_senior,jdbcType=DECIMAL},#{qualification_middle,jdbcType=DECIMAL},#{qualification_primary,jdbcType=DECIMAL},
      #{work_study,jdbcType=DECIMAL}, #{work_on,jdbcType=DECIMAL},#{work_nojob,jdbcType=DECIMAL},
      #{praise_sqjl,jdbcType=DECIMAL},#{praise_sqcf,jdbcType=DECIMAL},#{praise_cdjx,jdbcType=DECIMAL},
      #{jzbytg,jdbcType=DECIMAL},#{total_accept,jdbcType=DECIMAL},#{total_relieve,jdbcType=DECIMAL},
      #{total_crime_again,jdbcType=DECIMAL},#{reporttime,jdbcType=TIMESTAMP},#{returnReason,jdbcType=VARCHAR},#{returnTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.rowell.sifa.pojo.statistics.CulpritStatusTj">
    insert into SF_CULPRIT_TJ
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="dicWdmcId != null">
        DIC_WDMC_ID,
      </if>
      <if test="groupId != null">
        GROUP_ID,
      </if>
      <if test="path != null">
        PATH,
      </if>
      <if test="reportDate != null">
        REPORT_DATE,
      </if>
      <if test="created != null">
        CREATED,
      </if>
      <if test="creater != null">
        CREATER,
      </if>
      <if test="updated != null">
        UPDATED,
      </if>
      <if test="updater != null">
        UPDATER,
      </if>
      <if test="delFlag != null">
        DEL_FLAG,
      </if>
       <if test="dicState != null">
        DIC_STATE,
      </if>
      
      
	    <if test="byzcrs != null">
	  BYZCRS,
	    </if>
      <if test="syzcrs != null">
	  SYZCRS ,
	   </if>
      <if test="change_byzj != null">
	  CHANGE_BYZJ,
	   </if>
      <if test="change_qmjcjz != null">
	  CHANGE_QMJCJZ,
	   </if>
      <if test="change_sjzx != null">
	  CHANGE_SJZX,
	   </if>
      <if test="change_sw != null">
	  CHANGE_SW,
	   </if>
      <if test="change_qtyy != null">
	  CHANGE_QTYY ,
	   </if>
      <if test="class_gz != null">
	  CLASS_GZ,
	   </if>
      <if test="class_hx != null">
	  CLASS_HX ,
	   </if>
      <if test="class_js != null">
	  CLASS_JS,
	   </if>
      <if test="class_zyjwzx != null">
	  CLASS_ZYJWZX,
	   </if>
      <if test="class_bdzzql != null">
	  CLASS_BDZZQL,
	   </if>
      <if test="type_whgjaqz != null">
	  TYPE_WHGJAQZ,
	   </if>
      <if test="type_whggaqz != null">
	  TYPE_WHGGAQZ,
	   </if>
      <if test="type_phshzyz != null">
	  TYPE_PHSHZYSCJJZXZ,
	   </if>
      <if test="type_qfgmrsqlz != null">
	  TYPE_QFGMRSQLZ,
	   </if>
      <if test="type_qfccz != null">
	  TYPE_QFCCZ,
	   </if>
      <if test="type_fhshglzxz != null">
	  TYPE_FHSHGLZXZ,
	   </if>
      <if test="type_twhlz != null">
	  TYPE_TWHLZ,
	   </if>
      <if test="type_dzz != null">
	  TYPE_DZZ,
	   </if>
      <if test="type_other != null">
	  TYPE_OTHER,
	   </if>
      <if test="reg_city != null">
	  REG_CITY,
	   </if>
      <if test="reg_village != null">
	  REG_VILLAGE,
	   </if>
      <if test="sex_male != null">
	  SEX_MALE,
	   </if>
      <if test="sex_female != null">
	  SEX_FEMALE,
	   </if>
      <if test="age_u18 != null">
	  AGE_U18,
	   </if>
      <if test="age_19to45 != null">
	  AGE_19TO45,
	   </if>
      <if test="age_46to60 != null">
	  AGE_46TO60 ,
	   </if>
      <if test="age_61p != null">
	  AGE_61P,
	   </if>
      <if test="praise_qtjl != null">    
	  PRAISE_QTJL,
	   </if>
      <if test="praise_sjzx != null"> 
	  PRAISE_SJZX,
	   </if>
      <if test="praise_qtcf != null">  
	  PRAISE_QTCF,
	   </if>
      <if test="praise_szacf != null">
	  PRAISE_SZACF,
	   </if>
      <if test="zfxz != null">
	  ZFXZ,
	   </if>
      <if test="reg_other != null"> 
	  REG_OTHER, 
	   </if>
      <if test="nation_han != null">
	  NATION_HAN,
	   </if>
      <if test="nation_few != null">
	  NATION_FEW ,
	   </if>
      <if test="qualification_junior != null">
	  QUALIFICATION_JUNIOR ,
	   </if>
      <if test="qualification_senior != null">
	  QUALIFICATION_SENIOR ,
	   </if>
      <if test="qualification_middle != null">
	  QUALIFICATION_MIDDLE ,
	   </if>
      <if test="qualification_primary != null">
	  QUALIFICATION_PRIMARY,
	   </if>
      <if test="work_study != null">
	  WORK_STUDY ,
	   </if>
      <if test="work_on != null">
	  WORK_ON, 
	   </if>
      <if test="work_nojob != null">
	  WORK_NOJOB,
	   </if>
      <if test="praise_sqjl != null">
	  PRAISE_SQJL, 
	   </if>
      <if test="praise_sqcf != null">
	  PRAISE_SQCF,
	   </if>
      <if test="praise_cdjx != null">
	  PRAISE_CDJX ,
	   </if>
      <if test="jzbytg != null">
	  JZBYTG , 
	   </if>
      <if test="total_accept != null">
	  TOTAL_ACCEPT,
	   </if>
      <if test="total_relieve != null">
	  TOTAL_RELIEVE ,
	   </if>
      <if test="total_crime_again != null">
	  TOTAL_CRIME_AGAIN ,
	   </if>
      <if test="reporttime != null">
	  REPORT_TIME ,
	   </if>
	   <if test="returnReason != null">
        RETURN_REASON,
      </if>
      <if test="returnTime != null">
        RETURN_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="dicWdmcId != null">
        #{dicWdmcId,jdbcType=VARCHAR},
      </if>
      <if test="groupId != null">
        #{groupId,jdbcType=VARCHAR}, 
      </if>
      <if test="path != null">
       #{path,jdbcType=VARCHAR},
      </if>
      <if test="reportDate != null">
       #{reportDate,jdbcType=TIMESTAMP}, 
      </if>
      <if test="created != null">
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="creater != null">
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="updated != null">
        #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        #{updater,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=DECIMAL},
      </if>
      <if test="dicState != null">
        #{dicState,jdbcType=VARCHAR},
      </if>
      
	    <if test="byzcrs != null">
	  #{byzcrs,jdbcType=DECIMAL},
	    </if>
      <if test="syzcrs != null">
	  #{syzcrs,jdbcType=DECIMAL},
	   </if>
      <if test="change_byzj != null">
	  #{change_byzj,jdbcType=DECIMAL},
	   </if>
      <if test="change_qmjcjz != null">
	   #{change_qmjcjz,jdbcType=DECIMAL},
	   </if>
      <if test="change_sjzx != null">
	  #{change_sjzx,jdbcType=DECIMAL},
	   </if>
      <if test="change_sw != null">
	 #{change_sw,jdbcType=DECIMAL},
	   </if>
      <if test="change_qtyy != null">
	    #{change_qtyy,jdbcType=DECIMAL},
	   </if>
      <if test="class_gz != null">
	  #{class_gz,jdbcType=DECIMAL},
	   </if>
      <if test="class_hx != null">
	   #{class_hx,jdbcType=DECIMAL},
	   </if>
      <if test="class_js != null">
	   #{class_js,jdbcType=DECIMAL},
	   </if>
      <if test="class_zyjwzx != null">
	  #{class_zyjwzx,jdbcType=DECIMAL},
	   </if>
      <if test="class_bdzzql != null">
	   #{class_bdzzql,jdbcType=DECIMAL},
	   </if>
      <if test="type_whgjaqz != null">
	  #{type_whgjaqz,jdbcType=DECIMAL}, 
	   </if>
      <if test="type_whggaqz != null">
	   #{type_whggaqz,jdbcType=DECIMAL},
	   </if>
      <if test="type_phshzyz != null">
	  #{type_phshzyz,jdbcType=DECIMAL},
	   </if>
      <if test="type_qfgmrsqlz != null">
	 #{type_qfgmrsqlz,jdbcType=DECIMAL},
	   </if>
      <if test="type_qfccz != null">
	  #{type_qfccz,jdbcType=DECIMAL},
	   </if>
      <if test="type_fhshglzxz != null">
	   #{type_fhshglzxz,jdbcType=DECIMAL},
	   </if>
      <if test="type_twhlz != null">
      #{type_twhlz,jdbcType=DECIMAL},
	   </if>
      <if test="type_dzz != null">
	  #{type_dzz,jdbcType=DECIMAL},
	   </if>
      <if test="type_other != null">
	  #{type_other,jdbcType=DECIMAL},
	   </if>
      <if test="reg_city != null">
	  #{reg_city,jdbcType=DECIMAL},
	   </if>
      <if test="reg_village != null">
	  #{reg_village,jdbcType=DECIMAL},
	   </if>
      <if test="sex_male != null">
	  #{sex_male,jdbcType=DECIMAL},
	   </if>
      <if test="sex_female != null">
	  #{sex_female,jdbcType=DECIMAL},
	   </if>
      <if test="age_u18 != null">
	  #{age_u18,jdbcType=DECIMAL},
	   </if>
      <if test="age_19to45 != null">
	   #{age_19to45,jdbcType=DECIMAL},
	   </if>
      <if test="age_46to60 != null">
	   #{age_46to60,jdbcType=DECIMAL},
	   </if>
      <if test="age_61p != null">
	  #{age_61p,jdbcType=DECIMAL},
	   </if>
      <if test="praise_qtjl != null">    
	  #{praise_qtjl,jdbcType=DECIMAL},
	   </if>
      <if test="praise_sjzx != null"> 
	    #{praise_sjzx,jdbcType=DECIMAL},
	   </if>
      <if test="praise_qtcf != null">  
	  #{praise_qtcf,jdbcType=DECIMAL},
	   </if>
      <if test="praise_szacf != null">
	  #{praise_szacf,jdbcType=DECIMAL},
	   </if>
      <if test="zfxz != null">
	 #{zfxz,jdbcType=DECIMAL},
	   </if>
      <if test="reg_other != null"> 
	   #{reg_other,jdbcType=DECIMAL},
	   </if>
      <if test="nation_han != null">
	  #{nation_han,jdbcType=DECIMAL},
	   </if>
      <if test="nation_few != null">
	  #{nation_few,jdbcType=DECIMAL}, 
	   </if>
      <if test="qualification_junior != null">
	  #{qualification_junior,jdbcType=DECIMAL},
	   </if>
      <if test="qualification_senior != null">
	 #{qualification_senior,jdbcType=DECIMAL},
	   </if>
      <if test="qualification_middle != null">
	  #{qualification_middle,jdbcType=DECIMAL},
	   </if>
      <if test="qualification_primary != null">
	   #{qualification_primary,jdbcType=DECIMAL},
	   </if>
      <if test="work_study != null">
	  #{work_study,jdbcType=DECIMAL},
	   </if>
      <if test="work_on != null">
	   #{work_on,jdbcType=DECIMAL},
	   </if>
      <if test="work_nojob != null">
	  #{work_nojob,jdbcType=DECIMAL},
	   </if>
      <if test="praise_sqjl != null">
	   #{praise_sqjl,jdbcType=DECIMAL},
	   </if>
      <if test="praise_sqcf != null">
	  #{praise_sqcf,jdbcType=DECIMAL},
	   </if>
      <if test="praise_cdjx != null">
	  #{praise_cdjx,jdbcType=DECIMAL},
	   </if>
      <if test="jzbytg != null">
	  #{jzbytg,jdbcType=DECIMAL},
	   </if>
      <if test="total_accept != null">
	 #{total_accept,jdbcType=DECIMAL},
	   </if>
      <if test="total_relieve != null">
	  #{total_relieve,jdbcType=DECIMAL},
	   </if>
      <if test="total_crime_again != null">
	  #{total_crime_again,jdbcType=DECIMAL},
	   </if>
      <if test="reporttime != null">
	  #{reporttime,jdbcType=DECIMAL},
	   </if>
	   <if test="returnReason != null">
        #{returnReason,jdbcType=VARCHAR},
      </if>
      <if test="returnTime != null">
        #{returnTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rowell.sifa.pojo.statistics.CulpritStatusTj">
    update SF_CULPRIT_TJ
    <set>
      <if test="dicWdmcId != null">
        DIC_WDMC_ID= #{dicWdmcId,jdbcType=VARCHAR},
      </if>
      <if test="groupId != null">
        GROUP_ID= #{groupId,jdbcType=VARCHAR}, 
      </if>
      <if test="path != null">
        PATH=#{path,jdbcType=VARCHAR},
      </if>
      <if test="reportDate != null">
       REPORT_DATE=#{reportDate,jdbcType=TIMESTAMP}, 
      </if>
      <if test="created != null">
        CREATED = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="creater != null">
        CREATER = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="updated != null">
        UPDATED = #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        UPDATER = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        DEL_FLAG = #{delFlag,jdbcType=DECIMAL},
      </if>
      <if test="dicState != null">
        DIC_STATE = #{dicState,jdbcType=VARCHAR},
      </if>
      
      <if test="byzcrs != null">
	  BYZCRS=#{byzcrs,jdbcType=DECIMAL},
	    </if>
      <if test="syzcrs != null">
	  SYZCRS=#{syzcrs,jdbcType=DECIMAL},
	   </if>
      <if test="change_byzj != null">
	  CHANGE_BYZJ =#{change_byzj,jdbcType=DECIMAL},
	   </if>
      <if test="change_qmjcjz != null">
	  CHANGE_QMJCJZ= #{change_qmjcjz,jdbcType=DECIMAL},
	   </if>
      <if test="change_sjzx != null">
	   CHANGE_SJZX=#{change_sjzx,jdbcType=DECIMAL},
	   </if>
      <if test="change_sw != null">
	  CHANGE_SW=#{change_sw,jdbcType=DECIMAL},
	   </if>
      <if test="change_qtyy != null">
	   CHANGE_QTYY= #{change_qtyy,jdbcType=DECIMAL},
	   </if>
      <if test="class_gz != null">
	  CLASS_GZ=#{class_gz,jdbcType=DECIMAL},
	   </if>
      <if test="class_hx != null">
	  CLASS_HX= #{class_hx,jdbcType=DECIMAL},
	   </if>
      <if test="class_js != null">
	  CLASS_JS= #{class_js,jdbcType=DECIMAL},
	   </if>
      <if test="class_zyjwzx != null">
	 CLASS_ZYJWZX= #{class_zyjwzx,jdbcType=DECIMAL},
	   </if>
      <if test="class_bdzzql != null">
	  CLASS_BDZZQL= #{class_bdzzql,jdbcType=DECIMAL},
	   </if>
      <if test="type_whgjaqz != null">
	  TYPE_WHGJAQZ=#{type_whgjaqz,jdbcType=DECIMAL}, 
	   </if>
      <if test="type_whggaqz != null">
	  TYPE_WHGGAQZ= #{type_whggaqz,jdbcType=DECIMAL},
	   </if>
      <if test="type_phshzyz != null">
	 TYPE_PHSHZYSCJJZXZ= #{type_phshzyz,jdbcType=DECIMAL},
	   </if>
      <if test="type_qfgmrsqlz != null">
	TYPE_QFGMRSQLZ = #{type_qfgmrsqlz,jdbcType=DECIMAL},
	   </if>
      <if test="type_qfccz != null">
	  TYPE_QFCCZ =#{type_qfccz,jdbcType=DECIMAL},
	   </if>
      <if test="type_fhshglzxz != null">
	  TYPE_FHSHGLZXZ= #{type_fhshglzxz,jdbcType=DECIMAL},
	   </if>
      <if test="type_twhlz != null">
      TYPE_TWHLZ = #{type_twhlz,jdbcType=DECIMAL},
	   </if>
      <if test="type_dzz != null">
	  TYPE_DZZ=#{type_dzz,jdbcType=DECIMAL},
	   </if>
      <if test="type_other != null">
	   TYPE_OTHER = #{type_other,jdbcType=DECIMAL},
	   </if>
      <if test="reg_city != null">
	  REG_CITY = #{reg_city,jdbcType=DECIMAL},
	   </if>
      <if test="reg_village != null">
	 REG_VILLAGE= #{reg_village,jdbcType=DECIMAL},
	   </if>
      <if test="sex_male != null">
	  SEX_MALE =#{sex_male,jdbcType=DECIMAL},
	   </if>
      <if test="sex_female != null">
	  SEX_FEMALE=#{sex_female,jdbcType=DECIMAL},
	   </if>
      <if test="age_u18 != null">
	  AGE_U18=#{age_u18,jdbcType=DECIMAL},
	   </if>
      <if test="age_19to45 != null">
	  AGE_19TO45= #{age_19to45,jdbcType=DECIMAL},
	   </if>
      <if test="age_46to60 != null">
	  AGE_46TO60= #{age_46to60,jdbcType=DECIMAL},
	   </if>
      <if test="age_61p != null">
	  AGE_61P=#{age_61p,jdbcType=DECIMAL},
	   </if>
      <if test="praise_qtjl != null">    
	   PRAISE_QTJL=#{praise_qtjl,jdbcType=DECIMAL},
	   </if>
      <if test="praise_sjzx != null"> 
	   PRAISE_SJZX = #{praise_sjzx,jdbcType=DECIMAL},
	   </if>
      <if test="praise_qtcf != null">  
	 PRAISE_QTCF=#{praise_qtcf,jdbcType=DECIMAL},
	   </if>
      <if test="praise_szacf != null">
	  PRAISE_SZACF =#{praise_szacf,jdbcType=DECIMAL},
	   </if>
      <if test="zfxz != null">
	  ZFXZ = #{zfxz,jdbcType=DECIMAL},
	   </if>
      <if test="reg_other != null"> 
	   REG_OTHER=#{reg_other,jdbcType=DECIMAL},
	   </if>
      <if test="nation_han != null">
	 NATION_HAN= #{nation_han,jdbcType=DECIMAL},
	   </if>
      <if test="nation_few != null">
	 NATION_FEW= #{nation_few,jdbcType=DECIMAL}, 
	   </if>
      <if test="qualification_junior != null">
	 QUALIFICATION_JUNIOR= #{qualification_junior,jdbcType=DECIMAL},
	   </if>
      <if test="qualification_senior != null">
	 QUALIFICATION_SENIOR=#{qualification_senior,jdbcType=DECIMAL},
	   </if>
      <if test="qualification_middle != null">
	 QUALIFICATION_MIDDLE= #{qualification_middle,jdbcType=DECIMAL},
	   </if>
      <if test="qualification_primary != null">
	    QUALIFICATION_PRIMARY= #{qualification_primary,jdbcType=DECIMAL},
	   </if>
      <if test="work_study != null">
	  WORK_STUDY =#{work_study,jdbcType=DECIMAL},
	   </if>
      <if test="work_on != null">
	  WORK_ON = #{work_on,jdbcType=DECIMAL},
	   </if>
      <if test="work_nojob != null">
	 WORK_NOJOB= #{work_nojob,jdbcType=DECIMAL},
	   </if>
      <if test="praise_sqjl != null">
	 PRAISE_SQJL=  #{praise_sqjl,jdbcType=DECIMAL},
	   </if>
      <if test="praise_sqcf != null">
	PRAISE_SQCF=  #{praise_sqcf,jdbcType=DECIMAL},
	   </if>
      <if test="praise_cdjx != null">
	 PRAISE_CDJX = #{praise_cdjx,jdbcType=DECIMAL},
	   </if>
      <if test="jzbytg != null">
	JZBYTG = #{jzbytg,jdbcType=DECIMAL},
	   </if>
      <if test="total_accept != null">
	 TOTAL_ACCEPT =#{total_accept,jdbcType=DECIMAL},
	   </if>
      <if test="total_relieve != null">
	  TOTAL_RELIEVE=#{total_relieve,jdbcType=DECIMAL},
	   </if>
      <if test="total_crime_again != null">
	TOTAL_CRIME_AGAIN = #{total_crime_again,jdbcType=DECIMAL},
	   </if>
      <if test="reporttime != null">
	 REPORT_TIME= #{reporttime,jdbcType=DECIMAL},
	   </if>
	   <if test="returnReason != null">
       RETURN_REASON= #{returnReason,jdbcType=VARCHAR},
      </if>
      <if test="returnTime != null">
        RETURN_TIME=#{returnTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rowell.sifa.pojo.statistics.CulpritStatusTj">
    update SF_CULPRIT_TJ
    set 
      GROUP_ID = #{groupId,jdbcType=VARCHAR},
      BYZCRS = #{byzcrs,jdbcType=DECIMAL},
      SYZCRS = #{syzcrs,jdbcType=DECIMAL},
      CHANGE_BYZJ = #{change_byzj,jdbcType=DECIMAL},
      CHANGE_QMJCJZ = #{change_qmjcjz,jdbcType=DECIMAL},
      CHANGE_SJZX = #{change_sjzx,jdbcType=DECIMAL},
      CHANGE_SW = #{change_sw,jdbcType=DECIMAL},
      CHANGE_QTYY = #{change_qtyy,jdbcType=DECIMAL},
      CLASS_GZ = #{class_gz,jdbcType=DECIMAL},
      CLASS_HX = #{class_hx,jdbcType=DECIMAL},
      CLASS_JS = #{class_js,jdbcType=DECIMAL},
      CLASS_ZYJWZX = #{class_zyjwzx,jdbcType=DECIMAL},
      CLASS_BDZZQL = #{class_bdzzql,jdbcType=DECIMAL},
      TYPE_WHGJAQZ = #{type_whgjaqz,jdbcType=DECIMAL},
      TYPE_WHGGAQZ = #{type_whggaqz,jdbcType=DECIMAL},
      TYPE_PHSHZYSCJJZXZ = #{type_phshzyz,jdbcType=DECIMAL},
      TYPE_QFGMRSQLZ = #{type_qfgmrsqlz,jdbcType=DECIMAL},
      TYPE_QFCCZ = #{type_qfccz,jdbcType=DECIMAL},
      TYPE_FHSHGLZXZ = #{type_fhshglzxz,jdbcType=DECIMAL},
      TYPE_TWHLZ = #{type_twhlz,jdbcType=DECIMAL},
      TYPE_DZZ = #{type_dzz,jdbcType=DECIMAL},
      TYPE_OTHER = #{type_other,jdbcType=DECIMAL},
      REG_CITY = #{reg_city,jdbcType=DECIMAL},
      REG_VILLAGE = #{reg_village,jdbcType=DECIMAL},
      SEX_MALE = #{sex_male,jdbcType=DECIMAL},
      SEX_FEMALE = #{sex_female,jdbcType=DECIMAL},
      AGE_U18 = #{age_u18,jdbcType=DECIMAL},
      AGE_19TO45 = #{age_19to45,jdbcType=DECIMAL},
      AGE_46TO60 = #{age_46to60,jdbcType=DECIMAL},
      AGE_61P = #{age_61p,jdbcType=DECIMAL},
      PRAISE_QTJL = #{praise_qtjl,jdbcType=DECIMAL},
      PRAISE_SJZX = #{praise_sjzx,jdbcType=DECIMAL},
      PRAISE_QTCF = #{praise_qtcf,jdbcType=DECIMAL},
      PRAISE_SZACF = #{praise_szacf,jdbcType=DECIMAL},
      ZFXZ = #{zfxz,jdbcType=DECIMAL},
      REG_OTHER = #{reg_other,jdbcType=DECIMAL},
      NATION_HAN = #{nation_han,jdbcType=DECIMAL},
      NATION_FEW = #{nation_few,jdbcType=DECIMAL},
      QUALIFICATION_JUNIOR = #{qualification_junior,jdbcType=DECIMAL},
      QUALIFICATION_SENIOR = #{qualification_senior,jdbcType=DECIMAL},
      QUALIFICATION_MIDDLE = #{qualification_middle,jdbcType=DECIMAL},
      QUALIFICATION_PRIMARY = #{qualification_primary,jdbcType=DECIMAL},
      WORK_STUDY = #{work_study,jdbcType=DECIMAL},
      WORK_ON = #{work_on,jdbcType=DECIMAL},
      WORK_NOJOB = #{work_nojob,jdbcType=DECIMAL},
      PRAISE_SQJL = #{praise_sqjl,jdbcType=DECIMAL},
      PRAISE_SQCF = #{praise_sqcf,jdbcType=DECIMAL},
      PRAISE_CDJX = #{praise_cdjx,jdbcType=DECIMAL},
      JZBYTG = #{jzbytg,jdbcType=DECIMAL},
      TOTAL_ACCEPT = #{total_accept,jdbcType=DECIMAL},
      TOTAL_RELIEVE = #{total_relieve,jdbcType=DECIMAL},
      TOTAL_CRIME_AGAIN = #{total_crime_again,jdbcType=DECIMAL},
      CREATED = #{created,jdbcType=TIMESTAMP},
      CREATER = #{creater,jdbcType=VARCHAR},
      UPDATED = #{updated,jdbcType=TIMESTAMP},
      UPDATER = #{updater,jdbcType=VARCHAR},
      DEL_FLAG = #{delFlag,jdbcType=DECIMAL},
      DIC_STATE = #{dicState,jdbcType=VARCHAR},
      DIC_WDMC_ID = #{dicWdmcId,jdbcType=VARCHAR},
      PATH = #{path,jdbcType=VARCHAR},
      REPORT_DATE = #{reportDate,jdbcType=TIMESTAMP},
      REPORT_TIME = #{reporttime,jdbcType=TIMESTAMP},
      RETURN_REASON= #{returnReason,jdbcType=VARCHAR},
      RETURN_TIME=#{returnTime,jdbcType=TIMESTAMP}
       where ID = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectAll" parameterType="com.rowell.sifa.pojo.statistics.CulpritStatusTj" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SF_CULPRIT_TJ t1 left join sys_group t2 on (t1.group_id=t2.id)
    <where>
      <include refid="findAllWhere" />
    </where>
    <if test="orderStr!=null">
      <![CDATA[
           order by  ${orderStr}
      ]]>
    </if>
  </select>
  <sql id="findAllWhere">
     <if test="dicWdmcId != null and dicWdmcId != ''">
       AND t1.DIC_WDMC_ID=#{dicWdmcId,jdbcType=VARCHAR} 
     </if>
     <if test="groupId != null and groupId != ''">
        AND t1.GROUP_ID=#{groupId,jdbcType=VARCHAR}
     </if>
     <if test="path != null and path != ''">
        AND t1.PATH=#{path,jdbcType=VARCHAR}
     </if>
     <if test="reportDate != null and reportDate != ''">
       AND t1.REPORT_DATE=#{reportDate,jdbcType=TIMESTAMP}
     </if>
     <if test="searchStartDate != null and searchStartDate != ''">
    <![CDATA[ 
      AND t1.REPORT_DATE >= #{searchStartDate,jdbcType=TIMESTAMP}
       ]]> 
    </if>
    
    <if test="searchEndDate != null and searchEndDate != ''">
    	 <![CDATA[  
      AND t1.REPORT_DATE <= #{searchEndDate,jdbcType=TIMESTAMP}
       ]]>  
    </if>
    <if test="created != null and created != ''">
      AND t1.CREATED = #{created,jdbcType=TIMESTAMP}
    </if>
    <if test="creater != null and creater!=''">
      AND t1.CREATER = #{creater,jdbcType=VARCHAR}
    </if>
    <if test="updated != null and updated != ''">
      AND t1.UPDATED = #{updated,jdbcType=TIMESTAMP}
    </if>
    <if test="updater != null and updater!=''">
      AND t1.UPDATER = #{updater,jdbcType=VARCHAR}
    </if>
    <if test="delFlag != null">
      AND t1.DEL_FLAG = #{delFlag,jdbcType=DECIMAL}
    </if>
    <if test="dicState != null and dicState != ''">
      AND t1.DIC_STATE = #{dicState,jdbcType=DECIMAL}
    </if>
    <if test="returnReason != null and returnReason !=''">
      AND RETURN_REASON= #{returnReason,jdbcType=VARCHAR}
    </if>
    <if test="returnTime != null and returnTime !=''">
      AND  RETURN_TIME=#{returnTime,jdbcType=TIMESTAMP}
    </if>
  </sql>
  <!-- 本月在册人数 -->
  <select id="findByzcrs" parameterType="java.lang.String" resultType="java.lang.Integer">
    select count(*) from SF_CULPRIT where group_id=#{groupId,jdbcType=VARCHAR}
  </select>
  <!--上月在册人数-->
   <select id="findSyzcrs" resultType="java.lang.String">
    select byzcrs from SF_CULPRIT_TJ where group_id=#{groupId,jdbcType=VARCHAR} 
    <![CDATA[and to_char(created,'yyyymm')>=to_char(add_months(sysdate,-2),'yyyymm')]]>
    <![CDATA[and to_char(created,'yyyymm')<to_char(add_months(sysdate,-1),'yyyymm')]]> 
  </select>
  <!--本月增加-->
   <select id="findChange_byzj" resultType="java.lang.Integer">
    select count(*) from SF_CULPRIT t left join sys_group t1 on (t.group_id=t1.id) 
      where  t.group_id=#{groupId,jdbcType=VARCHAR}  
	<![CDATA[and to_char(t.created,'yyyymm')>=to_char(add_months(sysdate,-1),'yyyymm')]]>
    <![CDATA[and to_char(t.created,'yyyymm')<to_char(add_months(sysdate,0),'yyyymm')]]> 
      and t.FINISH_INTO='0'
  </select>
  <!--期满解除矫正-->
 <select id="findChange_qmjcjz" parameterType="java.lang.String" resultType="java.lang.Integer">
    select count(*) from SF_FINISH_REDRESS t left join SF_CULPRIT t2 on (t.CULPRIT_ID=t2.id) 
    				where  t2.group_id=#{groupId,jdbcType=VARCHAR} 
    <![CDATA[and to_char(t.created,'yyyymm')>=to_char(add_months(sysdate,-1),'yyyymm')]]>
    <![CDATA[and to_char(t.created,'yyyymm')<to_char(add_months(sysdate,0),'yyyymm')]]> 
  </select> 
  
  <!-- 收监执行 -->
   <select id="findChange_sjzx" parameterType="java.lang.String" resultType="java.lang.Integer">
   select count(*) from SF_IMPRISON t left join SF_CULPRIT t2 on (t.CULPRIT_ID=t2.id)  
    				where  t2.group_id=#{groupId,jdbcType=VARCHAR} 
 	<![CDATA[and to_char(t.IMPRISON_DATE,'yyyymm')>=to_char(add_months(sysdate,-1),'yyyymm')]]>
    <![CDATA[and to_char(t.IMPRISON_DATE,'yyyymm')<to_char(add_months(sysdate,0),'yyyymm')]]> 
  </select> 
  
  <!-- 死亡 -->
   <select id="findChange_sw" parameterType="java.lang.String" resultType="java.lang.Integer">
   select count(*) from SF_DEATH t left join SF_CULPRIT t2 on (t.CULPRIT_ID=t2.id) 
    				where  t2.group_id=#{groupId,jdbcType=VARCHAR} 
    <![CDATA[and to_char(t.created,'yyyymm')>=to_char(add_months(sysdate,-1),'yyyymm')]]>
    <![CDATA[and to_char(t.created,'yyyymm')<to_char(add_months(sysdate,0),'yyyymm')]]> 
  </select> 
  
  <!-- 类别-->
  <select id="findClass_lb" resultType="java.lang.Integer">
   select count(*) from SF_CULPRIT t left join SF_CULPRIT_JUDGMENT t2 on (t2.CULPRIT_ID=t.id) 
    				where  t.group_id=#{groupId,jdbcType=VARCHAR} 
    				and t2.DIC_PENAL_TYPE_KEY=#{key,jdbcType=VARCHAR} 
  </select> 
  <!-- 犯罪类别 -->
  <select id="findType_fzlb"  resultType="java.lang.Integer">
   select count(*) from SF_CULPRIT t left join SF_CULPRIT_JUDGMENT t2 on (t2.CULPRIT_ID=t.id) 
    				where  t.group_id=#{groupId,jdbcType=VARCHAR} 
    				and t2.DIC_CRIME_TYPE_KEY=#{key,jdbcType=VARCHAR} 
  </select> 
	
 <!-- 户籍 -->
 <select id="findType_hk"  resultType="java.lang.Integer">
   select count(*) from SF_CULPRIT t where t.group_id=#{groupId,jdbcType=VARCHAR} 
    				and t.DIC_HKLX_KEY=#{key,jdbcType=VARCHAR} 
  </select> 
  <!-- 户籍其他 -->
 <select id="findType_hkqt" parameterType="java.lang.String"  resultType="java.lang.Integer">
   select count(*) from SF_CULPRIT t where t.group_id=#{groupId,jdbcType=VARCHAR} 
    				and t.DIC_HKLX_KEY not in ('12001','12002') 
  </select> 
  
  <!-- 性别 -->
 <select id="findSex"  resultType="java.lang.Integer">
   select count(*) from SF_CULPRIT t where t.group_id=#{groupId,jdbcType=VARCHAR} 
    				and t.dic_Sex_Key=#{key,jdbcType=VARCHAR} 
  </select> 
  
  <!-- 汉族-->
 <select id="findNation"  resultType="java.lang.Integer">
   select count(*) from SF_CULPRIT t where t.group_id=#{groupId,jdbcType=VARCHAR} 
    				and t.NATION=#{key,jdbcType=VARCHAR} 
  </select> 
   <!-- 少数名族-->
 <select id="findNation_few"  resultType="java.lang.Integer">
   select count(*) from SF_CULPRIT t where t.group_id=#{groupId,jdbcType=VARCHAR} 
    				and t.NATION not in('104001')
  </select> 
  
  <!-- 文化程度(初中/高中)-->
  <select id="findQualification"  resultType="java.lang.Integer">
   select count(*) from SF_CULPRIT t where t.group_id=#{groupId,jdbcType=VARCHAR} 
    				and t.DIC_WHCD_KEY=#{key,jdbcType=VARCHAR} 
  </select> 
   <!-- 小学及以下-->
  <select id="findQualification_primary" parameterType="java.lang.String" resultType="java.lang.Integer">
   select count(*) from SF_CULPRIT t where t.group_id=#{groupId,jdbcType=VARCHAR} 
    				and t.DIC_WHCD_KEY in('19007','19008','19009') 
  </select> 
    <!-- 大专及以上-->
  <select id="findQualification_junior" parameterType="java.lang.String" resultType="java.lang.Integer">
   select count(*) from SF_CULPRIT t where t.group_id=#{groupId,jdbcType=VARCHAR} 
    				and t.DIC_WHCD_KEY in('19003','19004','19005','19006','19010') 
  </select> 
  
   <!-- 就业情况-->
  <select id="findWork" resultType="java.lang.Integer">
   select count(*) from SF_CULPRIT t where t.group_id=#{groupId,jdbcType=VARCHAR} 
    				and t.DIC_WORK_STATUS_KEY=#{key,jdbcType=VARCHAR} 
  </select> 
  
  <!-- 受治安处罚-->
  <select id="findPraise_szacf" parameterType="java.lang.String" resultType="java.lang.Integer">
   select count(*) from SF_SECURITY_PUNISHMENT t  left join SF_CULPRIT t2 on (t.CULPRIT_ID=t2.id) 
    				where  t2.group_id=#{groupId,jdbcType=VARCHAR} 
    <![CDATA[and to_char(t.created,'yyyymm')>=to_char(add_months(sysdate,-1),'yyyymm')]]>
    <![CDATA[and to_char(t.created,'yyyymm')<to_char(add_months(sysdate,0),'yyyymm')]]> 
  </select> 
  
  <!-- 裁定减刑-->
  <select id="findPraise_cdjx" parameterType="java.lang.String" resultType="java.lang.Integer">
   select count(*) from SF_REDUCE_PENALTY t  left join SF_CULPRIT t2 on (t.CULPRIT_ID=t2.id) 
    				where  t2.group_id=#{groupId,jdbcType=VARCHAR} 
    <![CDATA[and to_char(t.created,'yyyymm')>=to_char(add_months(sysdate,-1),'yyyymm')]]>
    <![CDATA[and to_char(t.created,'yyyymm')<to_char(add_months(sysdate,0),'yyyymm')]]> 
  </select> 
  
  <!-- 奖励-->
  <select id="findPraise_sqjl" parameterType="java.lang.String" resultType="java.lang.Integer">
   select count(*) from SF_COMMEND t  left join SF_CULPRIT t2 on (t.CULPRIT_ID=t2.id) 
    				where  t2.group_id=#{groupId,jdbcType=VARCHAR} 
    <![CDATA[and to_char(t.created,'yyyymm')>=to_char(add_months(sysdate,-1),'yyyymm')]]>
    <![CDATA[and to_char(t.created,'yyyymm')<to_char(add_months(sysdate,0),'yyyymm')]]> 
  </select> 
  
  <!-- 处罚-->
  <!-- <select id="findPraise_sqcf"  resultType="java.lang.Integer" statementType="STATEMENT">
   <![CDATA[select count(*) from #{tabName,jdbcType=VARCHAR} t  left join SF_CULPRIT t2 on (t.CULPRIT_ID=t2.id) 
    				where  t2.group_id=#{groupId,jdbcType=VARCHAR}]]> 
    <![CDATA[and to_char(t.created,'yyyymm')>=to_char(add_months(sysdate,-1),'yyyymm')]]>
    <![CDATA[and to_char(t.created,'yyyymm')<to_char(add_months(sysdate,0),'yyyymm')]]> 
  </select>  -->
  <!-- 口头警告 -->
  <select id="findPraise_ktjg"  resultType="java.lang.Integer" >
   <![CDATA[select count(*) from SF_WARNING_ORAL t  left join SF_CULPRIT t2 on (t.CULPRIT_ID=t2.id) 
    				where  t2.group_id=#{groupId,jdbcType=VARCHAR}]]> 
    <![CDATA[and to_char(t.created,'yyyymm')>=to_char(add_months(sysdate,-1),'yyyymm')]]>
    <![CDATA[and to_char(t.created,'yyyymm')<to_char(add_months(sysdate,0),'yyyymm')]]> 
  </select> 
  <!-- 警告 -->
  <select id="findPraise_jg"  resultType="java.lang.Integer" >
   <![CDATA[select count(*) from SF_WARNING t  left join SF_CULPRIT t2 on (t.CULPRIT_ID=t2.id) 
    				where  t2.group_id=#{groupId,jdbcType=VARCHAR}]]> 
    <![CDATA[and to_char(t.created,'yyyymm')>=to_char(add_months(sysdate,-1),'yyyymm')]]>
    <![CDATA[and to_char(t.created,'yyyymm')<to_char(add_months(sysdate,0),'yyyymm')]]> 
  </select> 
  <!-- 提请撤销缓刑 -->
  <select id="findPraise_tqcxhx"  resultType="java.lang.Integer" >
   <![CDATA[select count(*) from SF_REVOKE_PROBATION t  left join SF_CULPRIT t2 on (t.CULPRIT_ID=t2.id) 
    				where  t2.group_id=#{groupId,jdbcType=VARCHAR}]]> 
    <![CDATA[and to_char(t.created,'yyyymm')>=to_char(add_months(sysdate,-1),'yyyymm')]]>
    <![CDATA[and to_char(t.created,'yyyymm')<to_char(add_months(sysdate,0),'yyyymm')]]> 
  </select> 
  <!-- 提请撤销假释 -->
  <select id="findPraise_tqcxjs"  resultType="java.lang.Integer" >
   <![CDATA[select count(*) from SF_REVOKE_PAROLE t  left join SF_CULPRIT t2 on (t.CULPRIT_ID=t2.id) 
    				where  t2.group_id=#{groupId,jdbcType=VARCHAR}]]> 
    <![CDATA[and to_char(t.created,'yyyymm')>=to_char(add_months(sysdate,-1),'yyyymm')]]>
    <![CDATA[and to_char(t.created,'yyyymm')<to_char(add_months(sysdate,0),'yyyymm')]]> 
  </select> 
  <!-- 提请撤销监外执行 -->
  <select id="findPraise_tqcxjwzx"  resultType="java.lang.Integer" >
   <![CDATA[select count(*) from SF_REVOKE_OUT_OF_PRISON t  left join SF_CULPRIT t2 on (t.CULPRIT_ID=t2.id) 
    				where  t2.group_id=#{groupId,jdbcType=VARCHAR}]]> 
    <![CDATA[and to_char(t.created,'yyyymm')>=to_char(add_months(sysdate,-1),'yyyymm')]]>
    <![CDATA[and to_char(t.created,'yyyymm')<to_char(add_months(sysdate,0),'yyyymm')]]> 
  </select> 
  
   <!--截至本月脱管-->
  <select id="findJzbytg" parameterType="java.lang.String"  resultType="java.lang.Integer">
   select count(*) from SF_DETACHED t  left join SF_CULPRIT t2 on (t.CULPRIT_ID=t2.id) 
    				where  t2.group_id=#{groupId,jdbcType=VARCHAR} 
    <![CDATA[and to_char(t.DETACHED_TIME,'yyyymm')<to_char(add_months(sysdate,0),'yyyymm')]]> 
  </select> 
  
   <!--本月重新犯罪-->
  <select id="find_zfxz" parameterType="java.lang.String"  resultType="java.lang.Integer">
   select count(*) from SF_RECIDIVISM t  left join SF_CULPRIT t2 on (t.CULPRIT_ID=t2.id) 
    				where  t2.group_id=#{groupId,jdbcType=VARCHAR} 
    <![CDATA[and to_char(t.created,'yyyymm')>=to_char(add_months(sysdate,-1),'yyyymm')]]>
    <![CDATA[and to_char(t.created,'yyyymm')<to_char(add_months(sysdate,0),'yyyymm')]]>
  </select> 
 
  
  <!--累计接收-->
  <select id="findTotal_accept" parameterType="java.lang.String"  resultType="java.lang.Integer">
   select count(*) from SF_MOVE_IN t where  t.group_Id=#{groupId,jdbcType=VARCHAR}
  </select> 
  
  <!--累计解除矫正-->
  <select id="findTotal_relieve" parameterType="java.lang.String"  resultType="java.lang.Integer">
   select count(*) from SF_FINISH_REDRESS t  left join SF_CULPRIT t2 on (t.CULPRIT_ID=t2.id) 
    				where  t2.group_id=#{groupId,jdbcType=VARCHAR} 
  </select> 
  
   <!--累计重新犯罪-->
  <select id="findTotal_crime_again" parameterType="java.lang.String"  resultType="java.lang.Integer">
   select count(*) from SF_RECIDIVISM t  left join SF_CULPRIT t2 on (t.CULPRIT_ID=t2.id) 
    				where  t2.group_id=#{groupId,jdbcType=VARCHAR} 
  </select> 
  <!-- 年龄统计 -->
  
  <select id="groupByAge" resultMap = "ageMap" parameterType="map">
   <![CDATA[
  	select count(case when (to_char(sysdate,'yyyy')- t.born_year) < 18 then 1 else null end) as age18,
	count(case when (to_char(sysdate,'yyyy')- t.born_year) < 45 and (to_char(sysdate,'yyyy')- t.born_year) >= 18  then 1 else null end) as age45,
	count(case when (to_char(sysdate,'yyyy')- t.born_year) < 60 and (to_char(sysdate,'yyyy')- t.born_year) >= 45  then 1 else null end) as age60,
	count(case when (to_char(sysdate,'yyyy')- t.born_year) >= 60  then 1 else null end) as ageUp from (
	select case when length(t2.identification) = 18 then substr(t2.identification, 7, 4) when length(t2.identification) = 15 then '19'|| substr(t2.identification, 7, 2) end as born_year, t2.identification as identification  
	from sf_culprit t2 where t2.created <= #{searchEndDate,jdbcType=TIMESTAMP} and  t2.group_id=#{groupId,jdbcType=VARCHAR} )t
  ]]>
  </select>
  
  
</mapper>