<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rowell.sifa.mapper.dailymgr.CallRegisterMapper">
  <resultMap id="BaseResultMap" type="com.rowell.sifa.pojo.dailymgr.CallRegister">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="CALLER" jdbcType="VARCHAR" property="caller" />
    <result column="CALLEE" jdbcType="VARCHAR" property="callee" />
    <result column="CALLTYPE" jdbcType="VARCHAR" property="calltype" />
    <result column="USER_ID" jdbcType="VARCHAR" property="userId" />
    <result column="LOGIC_ID" jdbcType="VARCHAR" property="logicId" />
    <result column="NEXTTIME" jdbcType="TIMESTAMP" property="nexttime" />
    <result column="MAXTIMES" jdbcType="DECIMAL" property="maxtimes" />
    <result column="INTERVAL" jdbcType="DECIMAL" property="interval" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="FILEPATH" jdbcType="VARCHAR" property="filepath" />
    <result column="CREATED" jdbcType="TIMESTAMP" property="created" />
    <result column="CULPRIT_ID" jdbcType="VARCHAR" property="culpritId" />
    <result column="DIC_REGISTER_ID" jdbcType="VARCHAR" property="dicRegisterId" />
    <result column="UPDATED" jdbcType="TIMESTAMP" property="updated" />
    <result column="CREATER" jdbcType="VARCHAR" property="creater" />
    <result column="UPDATER" jdbcType="VARCHAR" property="updater" />
    <result column="DEL_FLAG" jdbcType="DECIMAL" property="delFlag" />
    <result column="CULPRIT_NAME" jdbcType="VARCHAR" property="culpritName" />
    <result column="GROUP_NAME" jdbcType="VARCHAR" property="groupName" />
    <result column="GROUP_ID" jdbcType="VARCHAR" property="groupId" />
  </resultMap>
  <sql id="Base_Column_List">
    t.ID, t.CALLER, t.CALLEE, t.CALLTYPE, t.USER_ID, t.LOGIC_ID, t.NEXTTIME, t.MAXTIMES, t.INTERVAL, t.STATUS, 
    t.FILEPATH, t.CREATED, t.CULPRIT_ID, t.DIC_REGISTER_ID, t.UPDATED, t.CREATER, t.UPDATER, t.DEL_FLAG
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />,c.name as culprit_name, g.id as GROUP_ID, g.name as GROUP_NAME 
    from SF_CALL_REGISTER t left join sf_culprit c on (c.id = t.culprit_id) left join sys_group g on (g.id = c.group_id) 
    where t.ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from SF_CALL_REGISTER
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.rowell.sifa.pojo.dailymgr.CallRegister">
    insert into SF_CALL_REGISTER (ID, CALLER, CALLEE, 
      CALLTYPE, USER_ID, LOGIC_ID, 
      NEXTTIME, MAXTIMES, INTERVAL, 
      STATUS, FILEPATH, CREATED, 
      CULPRIT_ID, DIC_REGISTER_ID, UPDATED, 
      CREATER, UPDATER, DEL_FLAG
      )
    values (#{id,jdbcType=VARCHAR}, #{caller,jdbcType=VARCHAR}, #{callee,jdbcType=VARCHAR}, 
      #{calltype,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{logicId,jdbcType=VARCHAR}, 
      #{nexttime,jdbcType=TIMESTAMP}, #{maxtimes,jdbcType=DECIMAL}, #{interval,jdbcType=DECIMAL}, 
      #{status,jdbcType=VARCHAR}, #{filepath,jdbcType=VARCHAR}, #{created,jdbcType=TIMESTAMP}, 
      #{culpritId,jdbcType=VARCHAR}, #{dicRegisterId,jdbcType=VARCHAR}, #{updated,jdbcType=TIMESTAMP}, 
      #{creater,jdbcType=VARCHAR}, #{updater,jdbcType=VARCHAR}, #{delFlag,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.rowell.sifa.pojo.dailymgr.CallRegister">
    insert into SF_CALL_REGISTER
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="caller != null">
        CALLER,
      </if>
      <if test="callee != null">
        CALLEE,
      </if>
      <if test="calltype != null">
        CALLTYPE,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="logicId != null">
        LOGIC_ID,
      </if>
      <if test="nexttime != null">
        NEXTTIME,
      </if>
      <if test="maxtimes != null">
        MAXTIMES,
      </if>
      <if test="interval != null">
        INTERVAL,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="filepath != null">
        FILEPATH,
      </if>
      <if test="created != null">
        CREATED,
      </if>
      <if test="culpritId != null">
        CULPRIT_ID,
      </if>
      <if test="dicRegisterId != null">
        DIC_REGISTER_ID,
      </if>
      <if test="updated != null">
        UPDATED,
      </if>
      <if test="creater != null">
        CREATER,
      </if>
      <if test="updater != null">
        UPDATER,
      </if>
      <if test="delFlag != null">
        DEL_FLAG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="caller != null">
        #{caller,jdbcType=VARCHAR},
      </if>
      <if test="callee != null">
        #{callee,jdbcType=VARCHAR},
      </if>
      <if test="calltype != null">
        #{calltype,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="logicId != null">
        #{logicId,jdbcType=VARCHAR},
      </if>
      <if test="nexttime != null">
        #{nexttime,jdbcType=TIMESTAMP},
      </if>
      <if test="maxtimes != null">
        #{maxtimes,jdbcType=DECIMAL},
      </if>
      <if test="interval != null">
        #{interval,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="filepath != null">
        #{filepath,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="culpritId != null">
        #{culpritId,jdbcType=VARCHAR},
      </if>
      <if test="dicRegisterId != null">
        #{dicRegisterId,jdbcType=VARCHAR},
      </if>
      <if test="updated != null">
        #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="creater != null">
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="updater != null">
        #{updater,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rowell.sifa.pojo.dailymgr.CallRegister">
    update SF_CALL_REGISTER
    <set>
      <if test="caller != null">
        CALLER = #{caller,jdbcType=VARCHAR},
      </if>
      <if test="callee != null">
        CALLEE = #{callee,jdbcType=VARCHAR},
      </if>
      <if test="calltype != null">
        CALLTYPE = #{calltype,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="logicId != null">
        LOGIC_ID = #{logicId,jdbcType=VARCHAR},
      </if>
      <if test="nexttime != null">
        NEXTTIME = #{nexttime,jdbcType=TIMESTAMP},
      </if>
      <if test="maxtimes != null">
        MAXTIMES = #{maxtimes,jdbcType=DECIMAL},
      </if>
      <if test="interval != null">
        INTERVAL = #{interval,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="filepath != null">
        FILEPATH = #{filepath,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        CREATED = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="culpritId != null">
        CULPRIT_ID = #{culpritId,jdbcType=VARCHAR},
      </if>
      <if test="dicRegisterId != null">
        DIC_REGISTER_ID = #{dicRegisterId,jdbcType=VARCHAR},
      </if>
      <if test="updated != null">
        UPDATED = #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="creater != null">
        CREATER = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="updater != null">
        UPDATER = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        DEL_FLAG = #{delFlag,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rowell.sifa.pojo.dailymgr.CallRegister">
    update SF_CALL_REGISTER
    set CALLER = #{caller,jdbcType=VARCHAR},
      CALLEE = #{callee,jdbcType=VARCHAR},
      CALLTYPE = #{calltype,jdbcType=VARCHAR},
      USER_ID = #{userId,jdbcType=VARCHAR},
      LOGIC_ID = #{logicId,jdbcType=VARCHAR},
      NEXTTIME = #{nexttime,jdbcType=TIMESTAMP},
      MAXTIMES = #{maxtimes,jdbcType=DECIMAL},
      INTERVAL = #{interval,jdbcType=DECIMAL},
      STATUS = #{status,jdbcType=VARCHAR},
      FILEPATH = #{filepath,jdbcType=VARCHAR},
      CREATED = #{created,jdbcType=TIMESTAMP},
      CULPRIT_ID = #{culpritId,jdbcType=VARCHAR},
      DIC_REGISTER_ID = #{dicRegisterId,jdbcType=VARCHAR},
      UPDATED = #{updated,jdbcType=TIMESTAMP},
      CREATER = #{creater,jdbcType=VARCHAR},
      UPDATER = #{updater,jdbcType=VARCHAR},
      DEL_FLAG = #{delFlag,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectAll" parameterType="com.rowell.sifa.pojo.dailymgr.CallRegister" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />,c.name as culprit_name, g.id as GROUP_ID, g.name as GROUP_NAME 
    from SF_CALL_REGISTER t left join sf_culprit c on (c.id = t.culprit_id) left join sys_group g on (g.id = c.group_id) 
    <where>
      <include refid="findAllWhere" />
    </where>
    <if test="orderStr!=null">
      <![CDATA[
           order by  ${orderStr}
      ]]>
    </if>
  </select>
  <sql id="findAllWhere">
    <if test="culpritName != null and culpritName !=''">
      AND c.name like '%'|| #{culpritName,jdbcType=VARCHAR}||'%'
    </if>
    <if test="groupId != null and groupId !=''">
      AND g.id = #{groupId,jdbcType=VARCHAR}
    </if>
    <if test="searchStartDate != null and searchStartDate != ''">
    <![CDATA[  
      AND t.CREATED >= #{searchStartDate,jdbcType=TIMESTAMP}
    ]]>  
    </if>
    <if test="searchEndDate != null and searchEndDate != ''">
   	<![CDATA[  
      AND t.CREATED <= #{searchEndDate,jdbcType=TIMESTAMP}
    ]]>  
    </if>
    
    <if test="caller != null and caller!=''">
      AND t.CALLER = #{caller,jdbcType=VARCHAR}
    </if>
    <if test="callee != null and callee!=''">
      AND t.CALLEE = #{callee,jdbcType=VARCHAR}
    </if>
    <if test="calltype != null and calltype!=''">
      AND t.CALLTYPE = #{calltype,jdbcType=VARCHAR}
    </if>
    <if test="userId != null and userId!=''">
      AND t.USER_ID = #{userId,jdbcType=VARCHAR}
    </if>
    <if test="logicId != null and logicId!=''">
      AND t.LOGIC_ID = #{logicId,jdbcType=VARCHAR}
    </if>
    <if test="nexttime != null">
      AND t.NEXTTIME = #{nexttime,jdbcType=TIMESTAMP}
    </if>
    <if test="maxtimes != null">
      AND t.MAXTIMES = #{maxtimes,jdbcType=DECIMAL}
    </if>
    <if test="interval != null">
      AND t.INTERVAL = #{interval,jdbcType=DECIMAL}
    </if>
    <if test="status != null and status!=''">
      AND t.STATUS = #{status,jdbcType=VARCHAR}
    </if>
    <if test="filepath != null and filepath!=''">
      AND t.FILEPATH = #{filepath,jdbcType=VARCHAR}
    </if>
    <if test="created != null">
      AND t.CREATED = #{created,jdbcType=TIMESTAMP}
    </if>
    <if test="culpritId != null and culpritId!=''">
      AND t.CULPRIT_ID = #{culpritId,jdbcType=VARCHAR}
    </if>
    <if test="dicRegisterId != null and dicRegisterId!=''">
      AND t.DIC_REGISTER_ID = #{dicRegisterId,jdbcType=VARCHAR}
    </if>
    <if test="updated != null">
      AND t.UPDATED = #{updated,jdbcType=TIMESTAMP}
    </if>
    <if test="creater != null and creater!=''">
      AND t.CREATER = #{creater,jdbcType=VARCHAR}
    </if>
    <if test="updater != null and updater!=''">
      AND t.UPDATER = #{updater,jdbcType=VARCHAR}
    </if>
    <if test="delFlag != null">
      AND t.DEL_FLAG = #{delFlag,jdbcType=DECIMAL}
    </if>
  </sql>
</mapper>