<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rowell.sifa.mapper.dailymgr.WorkFreeCulpritMapper">
  <resultMap id="BaseResultMap" type="com.rowell.sifa.pojo.dailymgr.WorkFreeCulprit">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="CULPRIT_ID" jdbcType="VARCHAR" property="culpritId" />
    <result column="WORKFREE_ID" jdbcType="VARCHAR" property="workfreeId" />
    <result column="DIC_STATUS_KEY" jdbcType="VARCHAR" property="dicStatusKey" />
    <result column="CREATED" jdbcType="TIMESTAMP" property="created" />
    <result column="CREATER" jdbcType="VARCHAR" property="creater" />
    <result column="UPDATED" jdbcType="TIMESTAMP" property="updated" />
    <result column="UPDATER" jdbcType="VARCHAR" property="updater" />
    <result column="DEL_FLAG" jdbcType="DECIMAL" property="delFlag" />
    <association property="workfree" column="WORKFREE_ID"  select="com.rowell.sifa.mapper.dailymgr.WorkfreeMapper.selectByWorkFreeId"/>
  </resultMap>
  <sql id="Base_Column_List">
    t.ID, t.CULPRIT_ID,t. WORKFREE_ID, t.DIC_STATUS_KEY, t.CREATED, t.CREATER, t.UPDATED, t.UPDATER, 
    (select c.name from SF_CULPRIT c where c.id=CULPRIT_ID) culpritName,
    t.DEL_FLAG
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SF_WORKFREE_CULPRIT t
    where t.ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from SF_WORKFREE_CULPRIT
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByWordfeenId" parameterType="java.lang.String">
    delete from SF_WORKFREE_CULPRIT
    where WORKFREE_ID = #{workfreeId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.rowell.sifa.pojo.dailymgr.WorkFreeCulprit">
    insert into SF_WORKFREE_CULPRIT (ID, CULPRIT_ID, WORKFREE_ID, 
      DIC_STATUS_KEY, CREATED, CREATER, 
      UPDATED, UPDATER, DEL_FLAG
      )
    values (#{id,jdbcType=VARCHAR}, #{culpritId,jdbcType=VARCHAR}, #{workfreeId,jdbcType=VARCHAR}, 
      #{dicStatusKey,jdbcType=VARCHAR}, #{created,jdbcType=TIMESTAMP}, #{creater,jdbcType=VARCHAR}, 
      #{updated,jdbcType=TIMESTAMP}, #{updater,jdbcType=VARCHAR}, #{delFlag,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.rowell.sifa.pojo.dailymgr.WorkFreeCulprit">
    insert into SF_WORKFREE_CULPRIT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="culpritId != null">
        CULPRIT_ID,
      </if>
      <if test="workfreeId != null">
        WORKFREE_ID,
      </if>
      <if test="dicStatusKey != null">
        DIC_STATUS_KEY,
      </if>
      <if test="created != null">
        CREATED,
      </if>
      <if test="creater != null">
        CREATER,
      </if>
      <if test="updated != null">
        UPDATED,
      </if>
      <if test="updater != null">
        UPDATER,
      </if>
      <if test="delFlag != null">
        DEL_FLAG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="culpritId != null">
        #{culpritId,jdbcType=VARCHAR},
      </if>
      <if test="workfreeId != null">
        #{workfreeId,jdbcType=VARCHAR},
      </if>
      <if test="dicStatusKey != null">
        #{dicStatusKey,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="creater != null">
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="updated != null">
        #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        #{updater,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rowell.sifa.pojo.dailymgr.WorkFreeCulprit">
    update SF_WORKFREE_CULPRIT
    <set>
      <if test="culpritId != null">
        CULPRIT_ID = #{culpritId,jdbcType=VARCHAR},
      </if>
      <if test="workfreeId != null">
        WORKFREE_ID = #{workfreeId,jdbcType=VARCHAR},
      </if>
      <if test="dicStatusKey != null">
        DIC_STATUS_KEY = #{dicStatusKey,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        CREATED = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="creater != null">
        CREATER = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="updated != null">
        UPDATED = #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        UPDATER = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        DEL_FLAG = #{delFlag,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rowell.sifa.pojo.dailymgr.WorkFreeCulprit">
    update SF_WORKFREE_CULPRIT
    set CULPRIT_ID = #{culpritId,jdbcType=VARCHAR},
      WORKFREE_ID = #{workfreeId,jdbcType=VARCHAR},
      DIC_STATUS_KEY = #{dicStatusKey,jdbcType=VARCHAR},
      CREATED = #{created,jdbcType=TIMESTAMP},
      CREATER = #{creater,jdbcType=VARCHAR},
      UPDATED = #{updated,jdbcType=TIMESTAMP},
      UPDATER = #{updater,jdbcType=VARCHAR},
      DEL_FLAG = #{delFlag,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectAll" parameterType="com.rowell.sifa.pojo.dailymgr.WorkFreeCulprit" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SF_WORKFREE_CULPRIT t left join SF_WORKFREE w on t.WORKFREE_ID=w.ID
    <where>
      <include refid="findAllWhere" />
    </where>
    <if test="orderStr!=null">
      <![CDATA[
           order by  ${orderStr}
      ]]>
    </if>
  </select>
  <sql id="findAllWhere">
    <if test="culpritId != null and culpritId!=''">
      AND t.CULPRIT_ID = #{culpritId,jdbcType=VARCHAR}
    </if>
    <if test="workfreeId != null and workfreeId!=''">
      AND t.WORKFREE_ID = #{workfreeId,jdbcType=VARCHAR}
    </if>
    <if test="dicStatusKey != null and dicStatusKey!=''">
      AND t.DIC_STATUS_KEY = #{dicStatusKey,jdbcType=VARCHAR}
    </if>
    <if test="created != null">
      AND t.CREATED = #{created,jdbcType=TIMESTAMP}
    </if>
    <if test="creater != null and creater!=''">
      AND t.CREATER = #{creater,jdbcType=VARCHAR}
    </if>
    <if test="updated != null">
      AND t.UPDATED = #{updated,jdbcType=TIMESTAMP}
    </if>
    <if test="updater != null and updater!=''">
      AND t.UPDATER = #{updater,jdbcType=VARCHAR}
    </if>
    <if test="delFlag != null">
      AND t.DEL_FLAG = #{delFlag,jdbcType=DECIMAL}
    </if>
    <if test="searchStartDate != null and searchStartDate != ''">
       <![CDATA[  
      AND w.WORK_DATE >= #{searchStartDate,jdbcType=TIMESTAMP}
       ]]>  
    </if>
    <if test="searchEndDate != null and searchEndDate != ''">
    	 <![CDATA[  
      AND w.WORK_DATE <= #{searchEndDate,jdbcType=TIMESTAMP}
       ]]>  
    </if>
  </sql>
</mapper>